
@model IEnumerable<CampusManagement.Models.GetApplicantUploadDetails_Result>
@using CampusManagement.Models
@{
    ViewBag.Title = "Supporting Documents";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />


@using (Html.BeginForm("ApplicantUploadSearch", "ApplicantUploads", FormMethod.Post))
{
    <div class="row hidden" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="FormNo" name="formNo" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Form #
        </th>
        <th>
            Applicant Name
        </th>
        <th>
            Father Name
        </th>
        <th>
            Document Name
        </th>
        <th>
            Document
        </th>

    </tr>
    @{
        foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        <a href="@Url.Content(item.UploadPath)">
                            <img src="@Url.Content(item.UploadPath)" style="width:70px; height:70px;border-radius:10px;" />
                        </a>
                    </td>

                </tr>
            }
        }

</table>
