@model CampusManagement.Models.ApplicantUpload
@using CampusManagement.Models

@using (Html.BeginForm("Edit", "ApplicantUploads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    string FormNo = "";
    if (ViewBag.FormNo != null)
    {
        FormNo = ViewBag.FormNo.ToString();
    }
    <div class="row">
        <h2><span class="col-sm-12">Supporting Documents</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.ApplicantUploadID)

    <div class="row">
        <div class="col-sm-3" style="display:none">
            @Html.LabelFor(model => model.FormNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control", @value = FormNo } })
            @Html.ValidationMessageFor(model => model.FormNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DocumentName, htmlAttributes: new { @class = "control-label" })
            @*@Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("DocumentName", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label> Document Path </label>
            @Html.TextBoxFor(model => model.UploadPath, new { @class = "form-control", Type = "text", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.UploadPath, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-2">
            <label>Choose Document</label>
            @Html.TextBoxFor(model => model.ApplicantUploadFile, new { @class = "form-control", Type = "File", onchange = "readURL(this);", @style = "width: 8.3em;" })
            @Html.ValidationMessageFor(model => model.ApplicantUploadFile, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-2">
            <label for="imgView" class="control-label"></label>
            <img id="imgView" src="@Url.Content("~/DegreeDocument/noimage.png")" style="width:70px;height:70px;border-radius:10px;" />

        </div>
    </div>
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a href="@Url.Content("~/OnlineApplicantUploads/Index")" class="btn btn-primary">Cancel</a>
    @*Applicant ap = dbc.Applicants.FirstOrDefault(a => a.FormNo == FormNo);
    if (ap != null)
    {
        Status s = dbc.Status.FirstOrDefault(st => st.StatusID == ap.StatusID);
        if (s.StatusName == "Pending")
        {
            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Content("~/ApplicantUploads/Index")" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <a href="@Url.Content("~/ApplicantUploads/Index")" class="btn btn-primary">Cancel</a>
            </div>
        }
    }*@
}

<script>
    $(document).ready(function () {
        $("#tab3").css("background", "#eee");
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgView')
                    .attr('src', e.target.result)
                    .width(70)
                    .height(70);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
