@model CampusManagement.Models.TeacherUploadViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Lecturer Uploads";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();

    if (Model.SelectedTeacherUpload != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedTeacherUpload);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedTeacherUpload);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.TeacherUpload());
    }
}

<table class="table">
    <tr>
        <th>
            Lecture/Assignment/Quiz Name
        </th>
        <th>
            Type
        </th>
        <th>
            Submisson Date
        </th>
        <th>
            File
        </th>
      
        <th>Actions</th>
    </tr>
@{ 
    foreach (var item in Model.TeacherUploads)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherUploadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherUploadType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissonDate)
            </td>
            <td>
                <a href="@Url.Content(item.UploadPath)">
                    <img src="@Url.Content(item.UploadPath)" style="width:70px; height:70px;border-radius:10px;" />
                </a>
            </td>
       
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.TeacherUploadID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeacherUploadID })
            </td>
        </tr>
    }
}

</table>
