@model CampusManagement.Models.ExamSubjectForEligibleStudentViewModel
@using CampusManagement.Models

@using (Html.BeginForm("ActiveTeacherCourses", "ExamEligibleStudent", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12"> Eligible Student For Exam </span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            <label>Exam</label>
            @Html.DropDownListFor(model => model.ExamID, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })

        </div>
        <div class="col-sm-4">
            <label>Session</label>
            @Html.DropDownListFor(model => model.BatchID, null, "--Please Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Program</label>
            @Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchProgramID, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Semester #</label>
            @Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.YearSemesterNo, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>

    </div>

}

@using (Html.BeginForm("ActiveTeacherCourses", "LmsOfTeacher", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    string errorstring = ViewBag.MessageType;
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    int hdnExamID = (ViewBag.hdnExamID == null) ? 0 : ViewBag.hdnExamID;
    int hdnBatchProgramID = (ViewBag.hdnBatchProgramID == null) ? 0 : ViewBag.hdnBatchProgramID;
    int hdnBatchID = (ViewBag.hdnBatchID == null) ? 0 : ViewBag.hdnBatchID;
    int hdnYearSemesterNo = (ViewBag.hdnYearSemesterNo == null) ? 0 : ViewBag.hdnYearSemesterNo;
    List<GetExamSubjectForEligibleStudent_Result> lstDocs = new List<GetExamSubjectForEligibleStudent_Result>();
    if (errorstring == "")
    {
        lstDocs = dbc.GetExamSubjectForEligibleStudent(hdnExamID,hdnBatchProgramID, hdnBatchID, hdnYearSemesterNo).ToList();
    }



    <input name="hdnBatchID" value="@ViewBag.hdnBatchID" type="hidden" id="hdnBatchID" />
    <input name="hdnBatchProgramID" value="@ViewBag.hdnBatchProgramID" type="hidden" id="hdnBatchProgramID" />
    <input name="hdnYearSemesterNo" value="@ViewBag.hdnYearSemesterNo" type="hidden" id="hdnYearSemesterNo" />
    <input id="hdnRowCount" name="hdnRowCount" value="@lstDocs.Count" type="hidden" />
    int i = 1;

    if (lstDocs.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Subject Code
                </th>
                <th>
                    Subject Name
                </th>
                <th>
                    Session
                </th>
                <th>
                    Program Name
                </th>
                <th>
                    Action
                </th>


            </tr>

            @foreach (var item in lstDocs)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchSession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramName)
                    </td>
                    <td>
                        @Html.ActionLink("Eligible Student For Exam", "StudentAttendanceSummary", new { ProgramCourseID = item.ProgramCourseID, ExamID = hdnExamID })
                    </td>
                </tr>
                i++;
            }
        </table>
        <hr />

    }

}

@section Scripts {
    <script>
        $(document).ready(function () {
            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            $("#BatchID").change(function () {
                GetPrograms_by_FacultyLevelBatch();
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });

            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });
        });

      function GetPrograms_by_FacultyLevelBatch() {
        var BatchID = $("#BatchID").val();
        $.ajax({
            url: "@Url.Content("~/LmsOfTeacher/GetPrograms_by_FacultyLevelBatch")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ BatchID: +BatchID }),
            success: function (result) {
                $("#BatchProgramID").html("");
                $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                });
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID)
            },
            error: function (ex) {
                alert(ex.error);
            },
        });
    }

    function GetBatchProgramSemesterList() {
        var BatchProgramID = $("#BatchProgramID").val();
        $.ajax({
            url: "@Url.Content("~/LmsOfTeacher/GetBatchProgramSemesterList")",
            type: 'POST',
        datatype: 'application/json',
        contentType: 'application/json',
        async: false,
        data: JSON.stringify({ BatchProgramID: + BatchProgramID }),
        success: function (result) {
            $("#YearSemesterNo").html("");
            $("#YearSemesterNo").append($('<option></option>').val("0").html("--Please Select--"));
            $.each($.parseJSON(result), function (i, sem) {
                $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
            });
        },
        error: function (ex) {
            alert(ex.error);
        },
        });
    }
    </script>
}


