@model CampusManagement.Models.ExamEligibleStudentForExamByCoursetViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Create/Update Eligible Student For Exam";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageView")

<div class="row col-sm-2 pull-right">
    (<label class="control-label" style="font-size:medium">&nbsp;&nbsp;Select ALL&nbsp;&nbsp;</label>)<br/>
    @Html.CheckBox("cbSelectAll", new { @class = "checkbox-inline", @style = "width:20px;height:20px;;margin-left:45px" })
   
</div>

@using (Html.BeginForm("CreateExamEligibleStudents", "ExamEligibleStudent", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (Model.StudentList.Count > 0)
    {
        int StudentID = 0; <br />
        <table class="table"  id="tblEligiblestudents" name="tblEligiblestudents">
            <tr>
                <th>
                    Student Detail
                </th>
                <th>
                    Attendance Detail
                </th>
                <th>
                    Is Eligible
                </th>
                @*<th>
                    Action
                </th>*@
            </tr>

            @*@foreach (var item in Model.StudentList)
            {*@
                @for (var i = 0; i < Model.StudentList.Count; i++)
                {
                    string TDEligibleID = "DivEligibleID_" + @Model.StudentList[i].StudentBatchProgramCourseID;

                  <tr>
                    <td>
                        @{
                            if (StudentID != Model.StudentList[i].StudentID)
                            {
                                <table>
                                    <tr>
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].StudentBatchProgramCourseID)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].EESStudentBatchProgramCourseID)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].ExamEligibleStudentsID)
                                        @Html.HiddenFor(modelItem => Model.ExamsDateSheetDetailID)
                                        @Html.HiddenFor(modelItem => Model.ProgramCourseID)
                                        @Html.HiddenFor(modelItem => Model.ExamID)

                                        <td><label class="control-label">Name:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].FullName)</td>
                                        <td><label class="control-label">&nbsp;Cell #:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].CellNo)</td>
                                        <td><label class="control-label">&nbsp;Email:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].Email)</td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Session:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].BatchSession)</td>
                                        <td><label class="control-label">&nbsp;Program:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].ProgramName)</td>
                                        <td><label class="control-label">&nbsp;Semester #:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].YearSemesterNo)</td>
                                    </tr>
                                </table>
                                StudentID = Model.StudentList[i].StudentID;
                            }
                        }
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><label class="control-label">Subject:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].CourseName)</td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Total:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].TotalLectureCount)</td>
                                <td><label class="control-label">&nbsp;Present:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].TotalStudentPresentLectureCount)</td>
                                <td><label class="control-label">&nbsp;Absent:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].TotalStudentAbsenceLectureCount)</td>
                                <td><label class="control-label">&nbsp;Percentage:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].TotalPersentage)</td>
                            </tr>
                        </table>
                    </td>
                    <td id="@TDEligibleID">
                      
                            @if (Model.StudentList[i].IsEligible == true)
                            {
                                @Html.CheckBoxFor(Model => Model.StudentList[i].IsEligible, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px"><span style="color:red">Allready Added & Eligible</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.StudentList[i].IsEligible, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })
                            }
                      
                    </td>
                    @*<td>
                        @Html.ActionLink("Attendance Detail", "StudentAttendanceDetail", new { StudentID = Model.StudentList[i].StudentID, CourseID = Model.StudentList[i].CourseID })
                    </td>*@
                </tr>
                            }
        </table>

        <div class="row col-lg-1 pull-right">

            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
                            }

 }

<script type="text/javascript">

        $(document).ready(function () {

            $('#cbSelectAll').click(function () {

                if ($('#cbSelectAll').is(':checked')) {
                    //$(this).prop('checked',false);
                  
                    $('#tblEligiblestudents td').each(function () {
                        var cellText = $(this).html();
                        var cellid = $(this).attr('id');
                        //  alert(cellid + cellText);
                        var FindId = "#" + cellid;
                        $(FindId).children('input[type=checkbox]').each(function () {
                                    var cbId = $(this).attr('id');
                                    var cbidhash = "#" + cbId
                                    $(cbidhash).attr('checked', true);
                            })
                    //    $(FindId).children('div').each(function () {
                    //        var divId = $(this).attr('id');
                    //        alert(divId);
                    //})

                });
                } else {
                    //$(this).prop('checked',true);

                    $('#cbSelectAll').attr('checked', true);
                    return false;
                }
                
            })

           
        });

</script>

      @*$('#tblDateSheet td').each(function () {
                    var cellText = $(this).html();
                    var cellid = $(this).attr('id');
                   //  alert(cellid + cellText);
                    var FindId = "#" + cellid;
                    $(FindId).children('div').each(function () {
                        var divId = $(this).attr('id');
                        var array = divId.split("_");
                        var ExamsDateSheetDetailID = array[1];
                        var ProgramCourseID = array[2];
                       // alert(ExamsDateSheetDetailID + "=" + ProgramCourseID);
                        var arrayExam = cellid.split("_");
                        var ExamDateID = arrayExam[1];
                        var ExamDateTimeSlotID = arrayExam[2];
                       // alert(ExamsDateSheetDetailID + "=" + ExamDateID + "=" + ExamDateTimeSlotID + " =" + ProgramCourseID);
                        $.ajax({
                            url: "@Url.Content("~/GeneraterDateSheet/UpdateDateSheetInsert")",
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify({ ExamsDateSheetDetailID: +ExamsDateSheetDetailID, ExamDateID: +ExamDateID, ExamDateTimeSlotID: +ExamDateTimeSlotID, ProgramCourseID: +ProgramCourseID }),
                            success: function (result) {
                            //  alert(result);
                            },
                            error: function (ex) {
                            //   alert(ex.error);
                            },
                            });
                            })

                            });*@