@model CampusManagement.Models.BatchProgramCourseViewModel

@{
    ViewBag.Title = "Student Subject Registration";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedBatchProgramCourse != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedBatchProgramCourse);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedBatchProgramCourse);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.StudentBatchProgramCourse());
    }
}

<div class="row">
    <div class="col-md-6">
        <h2>List Of All Subjects</h2>
        <table class="table">
            <tr>
                <th>
                    Subject Name
                </th>
                <th>
                    Credit Hours
                </th>
                <th>
                   Select Subject
                </th>

            </tr>
            @foreach (var item in Model.BatchProgramCourses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CreditHours)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Select Course", "AddSubject", new { ProgramCourseID = item.ProgramCourseID, CourseID = item.CourseID, YearSemesterNo = item.YearSemesterNo, CourseName = item.Course.CourseName , BatchProgramID =item.BatchProgramID ,id= "Semester" })
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-6">
        <h2>List Of Selected Subjects </h2>

        <table class="table">
            <tr>
                <th>
                    Subject Name
                </th>
                <th>
                    Credit Hours
                </th>
                <th>
                    Select Subject
                </th>
            </tr>

            @foreach (var item in Model.StudentBatchProgramCourses)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CreditHours)
                        </td>

                        <td>
                            @Html.ActionLink("Delete Course", "DeleteSubject", new { StudentBatchProgramCourseID = item.StudentBatchProgramCourseID})
                             
                        </td>
                    </tr>

            }

        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).change(function () {
            $("#Semester").val(function () {
                GetSubjects();
             });
        });

        function GetSubjects() {
            var selectedValue = $("#Semester").val();
            $.ajax({
                url: "@Url.Content("~/StudentSubjectCourse/GetSubjects")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ FormNo: +selectedValue }),
                success: function (result) {
                    if (result == "No result found.") {
                        alert(result);
                        return;
                    }

                    var result = $.parseJSON(result);
                    $("#SalutationName").val(result[0].SalutationName);

                },
                error: function () {
                    alert("Something went wrong..");
                },
            });
        }

    </script>


}
