@model CampusManagement.Models.GetStudents_Result

@{
    ViewBag.Title = "Student Profile";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Picture)</label>
        </dt>

        <dd>
            <a href="@Url.Content(Model.Picture)" id="lnkProfilePicture" target="_blank"><img id="imgView" src="@Url.Content(Model.Picture)" style="width:100px;height:100px;border-radius:10px;" /></a>
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.StudentID)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FormNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.RollNumber)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.RegistrationNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CurrentSemesterNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSemesterNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.BatchName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ProgramName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.RegistrationNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.SalutationName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalutationName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.LastName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FatherName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.StudentDOB)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentDOB)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GenderName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.NationalityName)</label>
        </dt>

        <dd>
            <img src="@Url.Content(Model.FlagURL)" style="width:20px;height:20px;" /> @Html.DisplayFor(model => model.NationalityName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.MaritalStatusName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatusName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ACNIC)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACNIC)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PTCLNO)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTCLNO)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CellNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Email)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.AlternateEmail)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateEmail)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GuardianName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GuardianCNIC)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianCNIC)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PresentAddress)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PermanentAddress)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ReligionName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReligionName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.StatusName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

    </dl>

</div>
