
@{
    ViewBag.Title = "Students";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row" style="background:white;box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;">

    <div class="" style="padding: .75rem 1.25rem;margin-bottom: 0;background-color: #f8f9fc; border-top: 1px solid #e3e6f0; border-bottom: 1px solid #e3e6f0;">
        <h6 class="" style="color: #4e73df!important;font-weight: 700!important;font-size: 2rem;line-height: 1.2;"> Students </h6>
    </div>
    <br />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "Students")"  class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">List of Students</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "StudentInformation")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Search Students</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "StudentProgramEnrollments")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Student Program Enrollments </span>
                </a>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="#" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Student Transcript </span>
                </a>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="#" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text"> Generate Roll # Slip </span>
                </a>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="#" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Send Email </span>
                </a>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="#" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Attendance Summary </span>
                </a>
            </div>
        </div>
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="#" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">All Students Enrollments </span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "NoticeBoards")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Create Notices</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split"  href="@Url.Action("UserChat", "UserChat")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Chat</span>
                </a>
            </div>
        </div>
        <br />
    </div>

</div>



<style>
    .icon {
        color: rgba(255,255,255,.5) !important;
        position: absolute;
        background: rgba(0,0,0,.15);
        display: inline-block;
        padding: 0.5em 0.8em 0.7em 0.5em;
        margin-left: -13px;
        margin-top: -7px;
        border-radius: 5px 1px 1px 5px;
    }

    .text {
        padding: 1em 1em 1em 2em;
        font-size: 17px;
    }

    .btn {
        width: 22em;
        text-align: left;
    }
</style>


