@model CampusManagement.Models.ScholarshipOpportunitieViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "ScholarshipOpportunities";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    ModelCMSNewContainer db = new ModelCMSNewContainer();
    if (Model.SelectedScholarshipOpportunitie != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedScholarshipOpportunitie);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedScholarshipOpportunitie);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.ScholarshipOpportunitie());
    }
}

<table class="table">
    <tr>
        <th>
            Scholarship Category
        </th>
        <th>
            Image
        </th>
        <th>
            Dead Line
        </th>
        <th>
            Scholarship Title
        </th>
        <th>
            Scholarship Description
        </th>
        <th>
            How To Qualify
        </th>
        <th>
            Eligibility Description
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipOpportunitie.IsActive)
        </th>
        
        
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.ScholarshipOpportunities)
    {
    <tr>
        <td>
            @{
                ScholarshipCatagory sc = db.ScholarshipCatagories.FirstOrDefault(s => s.ScholarshipCatagoryID == item.ScholarshipCatagoryID);
            }

                @Html.Raw(sc.ScholarshipCatagoryName)

                   </td>
        <td>
            <a href="@Url.Content(item.ScholarshipImagePath)" target="_blank">View Document</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarshipTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarshipDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowToQualify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EligibilityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.ScholarshipOpportunitiesID }) |
            @Html.ActionLink("DocumentLists ", "Index", "ScholarshipDocuments", new { ScholarshipOpportunitiesID = item.ScholarshipOpportunitiesID }, null) |
            @Html.ActionLink("Scholarship Detail ", "Index", "ScholarshipDisplays", new { id = item.ScholarshipOpportunitiesID }, null)
        </td>
    </tr>
    }

</table>
