@model CampusManagement.Models.ExamGradeAppealFormStudentListForAdminViewModel
@using CampusManagement.Models
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap.min.js"></script>
@*<script src="~/assets/js/jquery-2.1.1.min.js"></script>*@
<script src="~/assets/js/bootstrap-multiselect.js"></script>
<link href="~/assets/css/bootstrap-multiselect.css" rel="stylesheet" />
@using (Html.BeginForm("index", "ExamGradeAppealFormAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Exam Grade Appeal Students List</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            <label>Exam</label>
            @Html.DropDownListFor(model => model.ExamID, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>

    </div>
}
<br />
@{


    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    int count = 1;
    Model.StudentList = dbc.GetExamGradeAppealFormStudentListForAdmin(Model.ExamID).ToList();
}

@*<input name="hdnExamID" value="@ViewBag.hdnExamID" type="hidden" id="hdnBatchID" />*@
<table style="width:100%">
    <tr style="width:100%">
        <td style="width:100%; vertical-align:top">
            <div id="divStudentEligibleList" name="divStudentEligibleList" style="background-color:lightyellow;">
                <div style="page-break-before: always; border:solid;border-width:2px;border-color:lightgray;">
                    @if (Model.StudentList.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th style="text-align:left">
                                    SR #
                                </th>
                                <th style="text-align:left">
                                    Student Details
                                </th>

                                <th style="text-align:left">
                                    Contact Details
                                </th>

                                <th style="text-align:left">
                                    Batch/Program Details
                                </th>
                                <th style="text-align:left">
                                   Action
                                </th>
                               
                            </tr>

                            @foreach (var item in Model.StudentList)
                            {
                                <tr>
                                    <td style="vertical-align:top; font-weight:bold">
                                        @count
                                    </td>
                                    <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Student Name :</span>
                                                    @Html.DisplayFor(modelItem => item.StudentName) <br />
                                                    <span style="color:red;font-weight:bold">Registration No  :</span> 
                                                    @Html.DisplayFor(modelItem => item.RegistrationNo)   
                                                </td>

                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Cell No  :</span>
                                                    @Html.DisplayFor(modelItem => item.CellNo) <br />
                                                    <span style="color:red;font-weight:bold">Email :</span>
                                                    @Html.DisplayFor(modelItem => item.Email) 
                                                </td>

                                            </tr>
                                        </table>


                                    </td>

                                    <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Batch Name :</span>
                                                    @Html.DisplayFor(modelItem => item.BatchName) <br />
                                                    <span style="color:red;font-weight:bold">Program Name :</span>  
                                                    @Html.DisplayFor(modelItem => item.ProgramName) 
                                                  </td>

                                            </tr>
                                        </table>
                                    </td>
                                  
                                    <td style="vertical-align:top">
                                        @Html.ActionLink("Request Details", "ExamGradeAppealRequestForm", new { ExamGradeAppealFormID = item.ExamGradeAppealFormID,ExamID = item.ExamID, StudentID = item.StudentID})
                                    </td>
                                </tr>
                                count = count + 1;

                            }
                        </table>

                    }
                </div>
            </div>
        </td>
    </tr>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            
        });
    </script>
}


