@model CampusManagement.Models.FormTypesViewModel

@{
    ViewBag.Title = "Form Types";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedFormType != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedFormType);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedFormType);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.FormType());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormType.FormTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormType.FormTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormType.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.FormTypes)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.FormTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FormTypeID })
        </td>
    </tr>
    }

</table>
