@model CampusManagement.Models.Course

@using (Html.BeginForm("Create", "Courses", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Course</span></h2>
    </div>
    <hr style=" border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.CreditHours, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CreditHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreditHours, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-success" />
            <a href="@Url.Content("~/Courses/Index")" class="btn btn-success">Refresh</a>
        </div>
    </div>
}
