@model CampusManagement.Models.ApplicantUpload
@using CampusManagement.Models
@Html.Partial("_ApplicantAdmissionTabsView", Model.FormNo)
<h4 class="alert alert-info">Are you sure you want to delete this?</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.DocumentName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.UploadPath)</label>
        </dt>

        <dd>
            <img id="imgView" src="@Url.Content("~/DegreeDocument/noimage.png")" style="width:70px;height:70px;border-radius:10px;" />
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.IsActive)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>


        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        ModelCMSNewContainer dbc = new ModelCMSNewContainer();
        string FormNo = "";
        if (ViewBag.FormNo != null)
        {
            FormNo = ViewBag.FormNo.ToString();
        }

        <br />
        Applicant ap = dbc.Applicants.FirstOrDefault(a => a.FormNo == FormNo);
        if (ap != null)
        {
            Status s = dbc.Status.FirstOrDefault(st => st.StatusID == ap.StatusID);
            if (s.StatusName == "Pending")
            {
                <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <a href="@Url.Content("~/ApplicantUploadsAdmin/Index")" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            }
            else
            {
                <div class="form-actions no-color">
                    <a href="@Url.Content("~/ApplicantUploadsAdmin/Index")" class="btn btn-primary">Cancel</a>
                </div>
            }
        }
    }
</div>
