
@using CampusManagement.Models

@{
    ViewBag.Title = "Applicants";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using (Html.BeginForm("DocumentChecklist", "ApplicantUploads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top: -3em;">
        <h2><span class="col-sm-12">Applicant Document Checklist</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;">
    <input id="FormNo" name="FormNo" value="@ViewBag.FormNo" type="hidden" class="form-control" />
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    string FormNo = ViewBag.FormNo;
    List<GetApplicantDocumentCheckList_Result> lstDocs = dbc.GetApplicantDocumentCheckList(FormNo, 1).ToList();
    <input id="hdnRowCount" name="hdnRowCount" value="@lstDocs.Count" type="hidden" />
    int i = 1;
    if (lstDocs.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Description
                </th>
                <th>

                </th>

            </tr>

            @foreach (var item in lstDocs)
            {
                string DocumentCheckListID = string.Concat("DocumentCheckListID_", i);
                string CheckListDescription = string.Concat("CheckListDescription_", i);
                string chkIsChecked = string.Concat("chkIsChecked_", i);
                <tr>
                    <td>

                        <input id="@DocumentCheckListID" name="@DocumentCheckListID" value="@item.DocumentCheckListID" class="form-control" type="hidden" />
                        @Html.DisplayFor(modelItem => item.DocumentCheckListID)
                    </td>
                    <td>
                        <input id="@CheckListDescription" name="@CheckListDescription" value="@item.CheckListDescription" type="hidden" class="form-control" />
                        @Html.DisplayFor(modelItem => item.CheckListDescription)
                    </td>
                    <td>
                        @if (item.IsChecked == "Yes")
                        {
                            <input type="checkbox" name="@chkIsChecked" id="@chkIsChecked" checked />
                        }
                        else
                        {
                            <input type="checkbox" name="@chkIsChecked" id="@chkIsChecked" />
                        }
                    </td>
                </tr>
                i++;
            }
        </table>
    }

    
    <p>
        @Html.ActionLink("Back to List","Index", "Applicants")
    </p>
    <div>
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}