@model CampusManagement.Models.Applicant
@using CampusManagement.Models
@{
    ViewBag.Title = "Your Profile";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<h4 class="alert alert-info" style="display:none;">Are you sure you want to delete this?</h4>

@Html.Partial("_MessageView")

@using (Html.BeginForm("Edit", "Applicants", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-4">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.FormNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control", @readonly = true,  @Value = ViewBag.FormNo } })
            @Html.ValidationMessageFor(model => model.FormNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5" style="display:none">
            @Html.LabelFor(model => model.ProfilePicture, "Upload Profile Picture", htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ProfilePicture, new { @class = "form-control", @readonly = true, Type = "File" })
            @Html.ValidationMessageFor(model => model.ProfilePicture, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label for="imgView" class="control-label">Profile Picture</label>
            <a href="@Url.Content(Model.Picture)" id="lnkProfilePicture" target="_blank"><img id="imgView" src="@Url.Content(Model.Picture)" style="width:100px;height:100px;border-radius:10px;" /></a>
            @Html.TextBoxFor(model => model.Picture, new { @class = "form-control", @readonly = true, type = "hidden" })
        </div>
    </div>
    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide"><h4 class="fa fa-level-down" aria-hidden="true"> Basic Info </h4></a>
    </div>
    <div class="row" id="hide">
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.SalutationID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("SalutationID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.SalutationID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.ApplicantDOB, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ApplicantDOB, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "text" } })
            @Html.ValidationMessageFor(model => model.ApplicantDOB, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.PlaceOfBirth, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" , @readonly = true, } })
            @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.GenderID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("GenderID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.NationalityID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("NationalityID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.NationalityID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.MaritalStatusID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("MaritalStatusID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.MaritalStatusID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.ACNIC, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ACNIC, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "15", @minlength = "14" } })
            @Html.ValidationMessageFor(model => model.ACNIC, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "15", @minlength = "14" } })
            @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.PassportExpiryDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PassportExpiryDate, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "text" } })
            @Html.ValidationMessageFor(model => model.PassportExpiryDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.ReligionID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ReligionID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.ReligionID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3" style="display:none;">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.CurrentOccupationID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CurrentOccupationID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.CurrentOccupationID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide1"><h4 class="fa fa-level-down" aria-hidden="true"> Contact Info </h4></a>
    </div>
    <div class="row" id="hide1">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.PTCLNO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PTCLNO, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "11" } })
            @Html.ValidationMessageFor(model => model.PTCLNO, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.CellNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CellNo, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "11" } })
            @Html.ValidationMessageFor(model => model.CellNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.AlternateEmail, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.AlternateEmail, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "email" } })
            @Html.ValidationMessageFor(model => model.AlternateEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide2"><h4 class="fa fa-level-down" aria-hidden="true"> Emergency Contact (other than Father and Guardian (should be blood relation)) </h4></a>
    </div>
    <div class="row" id="hide2">
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.GuardianName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.GuardianName, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.GuardianName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.RelationTypeID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RelationTypeID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.RelationTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <span style="color:red;">*</span> <span style="color:red;">*</span> @Html.LabelFor(model => model.GuardianCNIC, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.GuardianCNIC, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = "15" } })
            @Html.ValidationMessageFor(model => model.GuardianCNIC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide3"><h4 class="fa fa-level-down" aria-hidden="true"> Address Info </h4></a>
    </div>
    <div class="row" id="hide3">
        <div class="col-sm-3 hidden">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.CountryID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CountryID", null, "--Please Select--", htmlAttributes: new { @class = "form-control" , @readonly = true, })
            @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3 hidden">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.ProvinceID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("ProvinceID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.ProvinceID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3 hidden">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.CityID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.PresentAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PresentAddress, new { htmlAttributes = new { @class = "form-control", @readonly = true, } })
            @Html.ValidationMessageFor(model => model.PresentAddress, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-control", @readonly = true, } })
            @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="divHeading" style="display:none;">
        <a data-toggle="collapse" data-target="#hide4"><h4 class="fa fa-level-down" aria-hidden="true"> Program Info </h4></a>
    </div>
    <div class="row" id="hide4" style="display:none;">
        <div class="col-sm-6">
            <label class="control-label">Program</label>
            @Html.DropDownListFor(model => model.BatchProgramID, null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="divHeading" style="display:none;">
        <a data-toggle="collapse" data-target="#hide5"><h4 class="fa fa-level-down" aria-hidden="true"> Other Info </h4></a>
    </div>
    <div class="row" id="hide5" style="display:none;">
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control", @readonly = true, })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @readonly = true, type = "hidden" } })
        </div>
    </div>

    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide6"><h4 class="fa fa-level-down" aria-hidden="true"> Bank Challan Slip </h4></a>
    </div>
    <div class="row" id="hide6">
        <div class="col-sm-5" style="display:none">
            @Html.LabelFor(model => model.ChallanImage, "Upload Bank Challan Slip Picture", htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ChallanImage, new { @class = "form-control", @readonly = true, Type = "File" })
            @Html.ValidationMessageFor(model => model.ChallanImage, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label for="ChallanImagePath" class="control-label">Bank Challan Slip </label>
            <a href="@Url.Content(Model.ChallanImagePath)" id="lnkChallanImagePath" target="_blank"><img id="ciPath" name="ciPath" src="@Url.Content(Model.ChallanImagePath)" style="width:100px;height:100px;border-radius:10px;" /></a>
            <input id="ChallanImagePath" name="ChallanImagePath" value="@Model.ChallanImagePath" type="hidden" />
        </div>
    </div>
 
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#StatusID").val("1007");
            //$("#PassportExpiryDate").mask("99/99/9999");
            //$("#ApplicantDOB").mask("99/99/9999");
            $("#PTCLNO").ForceNumericOnly();
            $("#CellNo").ForceNumericOnly();
            $("#ACNIC").CnicFormat();
            $("#GuardianCNIC").CnicFormat();
            $("#PassportNo").CnicFormat();
            $('#SelectedPrograms option').prop('selected', true);

            if ($("#Picture").val() != "") {
                var pic = $("#Picture").val().replace("~/", "");
                $("#imgView").attr("src", "@Url.Content("~/")" + pic);
            }
            else {
                $("#Picture").val("@Url.Content("~/ProfilePics/noimage.png")");
            }

            var CountryIDOld = $("#CountryID").val();
            var ProvinceIDOld = $("#ProvinceID").val();
            var CityIDOld = $("#CityID").val();

            GetProvinceList();
            $("#CountryID").val(CountryIDOld);
            $("#ProvinceID").val(ProvinceIDOld);
            GetCityList();
            $("#CityID").val(CityIDOld);

            $("#CountryID").change(function () {
                GetProvinceList();
                GetCityList();
            });

            $("#ProvinceID").change(function () {
                GetCityList();
            });
        });

        function GetProvinceList() {
            var CountryID = $("#CountryID").val();
            $.ajax({
                url: "@Url.Content("~/OnlineApply/GetProvinceList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ CountryID: + CountryID }),
                success: function (result) {
                    $("#ProvinceID").html("");
                    $("#ProvinceID").append($('<option></option>').val(null).html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, province) {
                        $("#ProvinceID").append($('<option></option>').val(province.ProvinceID).html(province.ProvinceName));
                    });
                    $("#ProvinceID").val("@ViewBag.hdnProvinceID");
                },
                error: function () {
                    alert(" Something went wrong..");
                },
            });
        }

        function GetCityList() {
            var ProvinceID = $("#ProvinceID").val();
            $.ajax({
                url: "@Url.Content("~/OnlineApply/GetCitiesList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ ProvinceID: + ProvinceID }),
                success: function (result) {
                    $("#CityID").html("");
                    $("#CityID").append($('<option></option>').val(null).html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, city) {
                        $("#CityID").append($('<option></option>').val(city.CityID).html(city.CityName));
                    });
                    $("#CityID").val("@ViewBag.hdnCityID");
                },
                error: function () {
                    alert(" Something went wrong..");
                },
            });
        }
    </script>
}