@model IEnumerable<CampusManagement.Models.Applicant>
@using CampusManagement.Models
@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSContainer dbc = new ModelCMSContainer();
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<p>
    @Html.ActionLink("Create New", "Create", new { From = "Express" })
</p>

@using (Html.BeginForm("Index", "Applicants", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Picture)" style="width:125px; height:125px;border-radius:10px;" />
            </td>
            <td>
                <table class="table-striped">
                    <tr>
                        <td>
                            <label class="control-label">Form No. </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormNo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">First Name : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Last Name : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Cell # : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CellNo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Email : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Status : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Nationality : </label>
                        </td>
                        <td>
                            <img src="@Url.Content(item.Nationality.FlagURL)" style="width:20px;height:20px;" /> @Html.DisplayFor(modelItem => item.Nationality.NationalityName)
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table-striped">
                    <tr>
                        @Html.ActionLink("Edit", "Edit", "Applicants", new { id = item.FormNo }, null) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FormNo }) |
                        <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?ReportName=rptApplicantCompleteDetails&FormNo=")@item.FormNo" target="_blank">Profile</a> |
                        @Html.ActionLink("Checklist", "DocumentCheckList", "ApplicantUploads", new { FormNo = item.FormNo }, null) |
                        @Html.ActionLink("Supporting Documents", "ApplicantUploadSearch", "ApplicantUploads", new { FormNo = item.FormNo }, null) |
                        <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?ReportName=rptGetAdmitCard&FormNo=")@item.FormNo" target="_blank">Admit Card</a> |
                        @{
                            Applicant app = dbc.Applicants.FirstOrDefault(a => a.FormNo == item.FormNo);
                            if (app != null)
                            {
                                FormSaleDetail fsd = dbc.FormSaleDetails.FirstOrDefault(f => f.FormNo == item.FormNo);
                                if (fsd != null)
                                {
                                    if (fsd.FormDescription == "Applied Online")
                                    {
                                        Status status = dbc.Status.FirstOrDefault(s => s.StatusID == app.StatusID);
                                        if (status.StatusName == "Submitted")
                                        {
                                            @Html.ActionLink("Show Admit Card To Applicant", "ShowAdmitCardToApplicant", "Applicants", new { id = item.FormNo }, null)
                                        }
                                    }
                                }
                            }
                        }
                        </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Selected Programs </label>
                            @{List<GetApplicantAppliedPrograms_Result> lstAQ1 = dbc.GetApplicantAppliedPrograms(item.FormNo).ToList();
                                if (lstAQ1.Count > 0)
                                {
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>
                                                Session
                                            </th>
                                            <th>
                                                Priority
                                            </th>
                                            <th>
                                                Program
                                            </th>
                                        </tr>

                                        @foreach (var item1 in lstAQ1)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item1.BatchName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item1.ProgramPriority)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item1.ProgramName)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }

</table>
