@model CampusManagement.Models.ApplicantQualification
@using CampusManagement.Models
   @Html.Partial("_AdmissionTabsView")  
@using (Html.BeginForm("Create", "OnlineApplyQualifications", new { FormNo = ViewBag.FormNo, SubmitType = "AddQualification" }, FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin-top:0px" }))
{
    
    @Html.AntiForgeryToken()
    <div class="row">
        <h2 style="margin-top:15px;"><span class="col-sm-12">Academic History</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageViewTempData")
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    @Html.Partial("_MessageView")
    <div class="row" style="display:none">
        <div class="col-sm-2">
            @Html.LabelFor(model => model.FormNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.FormNo, "", new { @class = "text-danger" })
        </div>
    </div>

    string FormNo = ViewBag.FormNo;
    GetApplicantLevel_Result Al = dbc.GetApplicantLevel(FormNo).FirstOrDefault();
    List<GetApplicantQualifications_Result> lstAQ = new List<GetApplicantQualifications_Result>();
    Applicant ApplicantObj = dbc.Applicants.FirstOrDefault(x => x.FormNo == FormNo);

    @Html.Partial("_ApplicantInformation", FormNo)

    <hr style="border-top: 1px solid #6d9b90;" />
    //if (Al.LevelID == 1 || Al.LevelID == 2)
    //{
    //    lstAQ = dbc.GetApplicantQualifications(FormNo, 1).Where(d => d.DegreeID == 20 || d.DegreeID == 1020 || d.DegreeID == 1021).ToList();
    //}
    //else if (Al.LevelID == 3 || Al.LevelID == 4)
    //{
    //    lstAQ = dbc.GetApplicantQualifications(FormNo, 1).Where(d => d.DegreeID == 20 || d.DegreeID == 1020 || d.DegreeID == 1021 || d.DegreeID == 1022 || d.DegreeID == 1023).ToList();
    //}
    //else if (Al.LevelID == 4)
    //{
    //    lstAQ = dbc.GetApplicantQualifications(FormNo, 1).Where(d => d.DegreeID == 20 || d.DegreeID == 1020 || d.DegreeID == 1021 || d.DegreeID == 1022 || d.DegreeID == 1023).ToList();
    //}
    lstAQ = dbc.GetApplicantQualifications(FormNo, 1).Where(d => d.DegreeID == 20 || d.DegreeID == 1020 || d.DegreeID == 1021 || d.DegreeID == 1022 || d.DegreeID == 1023).ToList();
        <input id="hdnRowCount" name="hdnRowCount" value="@lstAQ.Count" type="hidden" />
    int i = 1;
if (lstAQ.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Degree
                </th>
                <th>
                    Institute
                </th>
                <th>
                    Degree Title
                </th>
                <th>
                    Year
                </th>
                <th>
                    Obtained Marks/CGPA
                </th>
                <th>
                    Total Marks/CGPA
                </th>
                <th>
                    Percentage
                </th>
                @*<th>
                    Complete/Result Awaited
                </th>*@
            </tr>

            @foreach (var item in lstAQ)
            {
                string DegreeID = string.Concat("DegreeID_", i);
                string DegreeName = string.Concat("DegreeName_", i);
                string YearQualification = string.Concat("YearQualification_", i);
                string TotalMarks = string.Concat("TotalMarks_", i);
                string ObtainedMarks = string.Concat("ObtainedMarks_", i);
                string Percentage = string.Concat("Percentage_", i);
                string InstituteID = string.Concat("InstituteID_", i);
                string InstituteName = string.Concat("InstituteName_", i);
                string DegreeTitle = string.Concat("DegreeTitle_", i);
                string CompleteResultAwaitedID = string.Concat("CompleteResultAwaitedID_", i);
                string OtherInstitute = string.Concat("OtherInstitute_", i);
                string OtherDegree = string.Concat("OtherDegree_", i);

                string disabled = "";
                string readonlyField = "";
                if (Al.LevelID == 1)
                {
                    if (item.DegreeID == 1020 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                        //item.ObtainedMarks = 247.50;
                        //item.TotalMarks = 550;
                        //item.Percentage = Convert.ToDecimal(45.00);
                    }

                    if (item.DegreeID == 1021)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                    else if (item.DegreeID == 1022)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                    else if (item.DegreeID == 1023)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                }
                else if (Al.LevelID == 2)
                {
                    if (item.DegreeID == 1021 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                    {
                        //item.ObtainedMarks = 344;
                        //item.TotalMarks = 550;
                        //item.Percentage = Convert.ToDecimal(62.54);

                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                    else if (item.DegreeID == 1022)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                    else if (item.DegreeID == 1023)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                }
                else if (Al.LevelID == 3)
                {
                    if (item.DegreeID == 1021)
                    {
                        disabled = "";
                        readonlyField = "";
                    }
                    else if (item.DegreeID == 1022 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                    {
                        //item.ObtainedMarks = 413;
                        //item.TotalMarks = 550;
                        //item.Percentage = Convert.ToDecimal(75.00);

                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                    else if (item.DegreeID == 1023)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }
                }
                else if (Al.LevelID == 4)
                {
                    if (item.DegreeID == 1023 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                    {
                        //item.ObtainedMarks = 413;
                        //item.TotalMarks = 550;
                        //item.Percentage = Convert.ToDecimal(75.00);
                        disabled = "disabled";
                        readonlyField = "readonly";
                    }

                    //disabled = "";
                    //readonlyField = "";
                }

                //if (ApplicantObj.ApplicantStatus == "RESULT AWAITED" && lstAQ.Count == i)
                if (ApplicantObj.ApplicantStatus == "RESULT AWAITED" && Al.LevelID == 0)
                {
                    //item.ObtainedMarks = 247.50;
                    //item.TotalMarks = 550;
                    //item.Percentage = Convert.ToDecimal(45.00);

                    <tr>
                    <td>
                        <input id="@DegreeID" name="@DegreeID" value="@item.DegreeID" class="form-control" type="hidden" />
                        <input id="@DegreeName" name="@DegreeName" value="@item.DegreeName" class="form-control" type="hidden" />
                        @Html.DisplayFor(modelItem => item.DegreeName)
                    </td>
                    <td>
                        <input id="@InstituteName" name="@InstituteName" type="hidden" value="@item.InstituteName" class="form-control" placeholder="Select from below list or enter your institute name" />
                        <select required class="form-control" id="@InstituteID" name="@InstituteID" @disabled  onchange='OtherInstitute(this.id);'>
                            <option value="" selected>Select your institute</option>
                            @{
                                if (item.DegreeID == 20) //SSC/O-Level
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "school" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }

                                if (item.DegreeID == 1020) //HSSC/A-Level
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "school" || ins.TypeName == "college" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }

                                if (item.DegreeID == 1021 || item.DegreeID == 1022 || item.DegreeID == 1023) //1021-Bachelors,1022-Masters,1023-MS/MPhil
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "college" || ins.TypeName == "university" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }
                            }
                        </select>
                        <input id="@OtherInstitute" name="@OtherInstitute" class="form-control" style='display:none;' placeholder="Please Mention" />
                    </td>
                    <td>
                        <select class="form-control" id="@DegreeTitle" name="@DegreeTitle" style="width: -webkit-fill-available;" @disabled onchange='OtherDegree(this.id);'>
                            @{
                                foreach (var degree in dbc.DegreeTitles.Where(d => (d.IsActive.Equals("Yes") && d.DegreeID == item.DegreeID) || d.DegreeID == null).ToList())
                                {
                                    if (item.DegreeTitle != null)
                                    {
                                        if (item.DegreeTitle.Trim().Equals(degree.DegreeTitleName.Trim()))
                                        {
                                            <option value="@degree.DegreeTitleName.Trim()" selected>@degree.DegreeTitleName.Trim()</option>
                                        }
                                        else
                                        {
                                            <option value="@degree.DegreeTitleName.Trim()">@degree.DegreeTitleName.Trim()</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@degree.DegreeTitleName.Trim()">@degree.DegreeTitleName.Trim()</option>
                                    }
                                }
                            }
                        </select>
                        <input id="@OtherDegree" name="@OtherDegree" class="form-control" style='display:none;' placeholder="Please Mention" />
                    </td>
                    <td>
                        <input id="@YearQualification" name="@YearQualification" value="@item.YearQualification" class="form-control" @readonlyField />
                    </td>
                    <td>
                        <input id="@ObtainedMarks" name="@ObtainedMarks" value="@item.ObtainedMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                    </td>
                    <td>
                        <input id="@TotalMarks" name="@TotalMarks" value="@item.TotalMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                    </td>
                    <td>
                        <input id="@Percentage" name="@Percentage" value="@item.Percentage" class="form-control" readonly />
                    </td>
                    @*<td>
                        @{ 
                            if (item.DegreeID == 20) //SSC/O-Level
                            {
                            <select id="@CompleteResultAwaitedID" name="@CompleteResultAwaitedID" class="form-control">
                                <option value="1" selected>Complete</option>
                            </select>
                            }
                            else if (item.DegreeID == 1020) //HSSC/A-Level
                            {
                                <select id="@CompleteResultAwaitedID" name="@CompleteResultAwaitedID" class="form-control">
                                    <option value="0">--Select--</option>
                                    <option value="1">Complete</option>
                                    <option value="2" selected>Result Awaited</option>
                                </select>
                            }
                            else
                            {
                            <select id="@CompleteResultAwaitedID" name="@CompleteResultAwaitedID" class="form-control" @readonlyField>
                                @{
                                    if (item.CompleteResultAwaitedID == 0 || item.CompleteResultAwaitedID == null)
                                    {
                                        <option value="0" selected>--Select--</option>
                                        <option value="1">Complete</option>
                                        <option value="2">Result Awaited</option>
                                    }
                                    else if (item.CompleteResultAwaitedID == 1)
                                    {
                                        <option value="0">--Select--</option>
                                        <option value="1" selected>Complete</option>
                                        <option value="2">Result Awaited</option>
                                    }
                                    else if (item.CompleteResultAwaitedID == 2)
                                    {
                                        <option value="0">--Select--</option>
                                        <option value="1">Complete</option>
                                        <option value="2" selected>Result Awaited</option>
                                    }
                                }
                            </select>
                            }
                        }
                    </td>*@
                </tr>
                }
                else{
                    if (ApplicantObj.ApplicantStatus == "RESULT AWAITED" && Al.LevelID == 1 && item.DegreeID == 1020)
                    {
                        disabled = "disabled";
                        readonlyField = "readonly";
                        //item.ObtainedMarks = 247.50;
                        //item.TotalMarks = 550;
                        //item.Percentage = Convert.ToDecimal(45.00);
                    }
                <tr>
                    <td>
                        <input id="@DegreeID" name="@DegreeID" value="@item.DegreeID" class="form-control" type="hidden" />
                        <input id="@DegreeName" name="@DegreeName" value="@item.DegreeName" class="form-control" type="hidden" />
                        @Html.DisplayFor(modelItem => item.DegreeName)
                    </td>
                    <td>

                        <input id="@InstituteName" name="@InstituteName" type="hidden" value="@item.InstituteName" class="form-control" placeholder="Select from below list or enter your institute name" />
                        <select required class="form-control" id="@InstituteID" name="@InstituteID" @disabled  onchange='OtherInstitute(this.id);'>
                            <option value="" selected>Select your institute</option>
                            @{
                                if (item.DegreeID == 20) //SSC/O-Level
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "school" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }

                                if (item.DegreeID == 1020) //HSSC/A-Level
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "school" || ins.TypeName == "college" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }

                                if (item.DegreeID == 1021 || item.DegreeID == 1022 || item.DegreeID == 1023) //1021-Bachelors,1022-Masters,1023-MS/MPhil
                                {
                                    foreach (var institute in dbc.Institutes.Where(ins => ins.TypeName == "college" || ins.TypeName == "university" || ins.TypeName == null).OrderBy(o => o.InstituteName).ToList())
                                    {
                                        if (institute.InstituteID == item.InstituteID)
                                        {
                                            <option value="@institute.InstituteID" selected>@institute.InstituteName</option>
                                        }
                                        else
                                        {
                                            <option value="@institute.InstituteID">@institute.InstituteName</option>
                                        }
                                    }
                                }
                            }
                        </select>
                        <input id="@OtherInstitute" name="@OtherInstitute" class="form-control" style='display:none;' placeholder="Please Mention" />
                    </td>
                    <td>
                        <select class="form-control" id="@DegreeTitle" name="@DegreeTitle" style="width: -webkit-fill-available;" @disabled onchange='OtherDegree(this.id);'>
                            @{
                                foreach (var degree in dbc.DegreeTitles.Where(d => (d.IsActive.Equals("Yes") && d.DegreeID == item.DegreeID) || d.DegreeID == null).ToList())
                                {
                                    if (item.DegreeTitle != null)
                                    {
                                        if (item.DegreeTitle.Trim().Equals(degree.DegreeTitleName.Trim()))
                                        {
                                            <option value="@degree.DegreeTitleName.Trim()" selected>@degree.DegreeTitleName.Trim()</option>
                                        }
                                        else
                                        {
                                            <option value="@degree.DegreeTitleName.Trim()">@degree.DegreeTitleName.Trim()</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@degree.DegreeTitleName.Trim()">@degree.DegreeTitleName.Trim()</option>
                                    }
                                }
                            }
                        </select>
                        <input id="@OtherDegree" name="@OtherDegree" class="form-control" style='display:none;' placeholder="Please Mention" />
                    </td>
                    <td>
                        @{
                            if(item.DegreeID == 20)
                            { 
                                <input id="@YearQualification" name="@YearQualification" value="@item.YearQualification" class="form-control" required />
                            }
                            else if (item.DegreeID == 1020 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                            {
                                <input id="@YearQualification" name="@YearQualification" value="@item.YearQualification" class="form-control" @readonlyField />
                            }
                            else
                            {
                                <input id="@YearQualification" name="@YearQualification" value="@item.YearQualification" class="form-control" @readonlyField />
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.DegreeID == 20)
                            {
                                <input id="@ObtainedMarks" name="@ObtainedMarks" value="@item.ObtainedMarks" class="form-control" onblur="CalculatePercentage(this);" required />
                            }
                            else if (item.DegreeID == 1020 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                            {
                                <input id="@ObtainedMarks" name="@ObtainedMarks" value="@item.ObtainedMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                            }
                            else
                            {
                                <input id="@ObtainedMarks" name="@ObtainedMarks" value="@item.ObtainedMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.DegreeID == 20)
                            {
                                <input id="@TotalMarks" name="@TotalMarks" value="@item.TotalMarks" class="form-control" onblur="CalculatePercentage(this);" required />
                            }
                            else if (item.DegreeID == 1020 && ApplicantObj.ApplicantStatus == "RESULT AWAITED")
                            {
                                <input id="@TotalMarks" name="@TotalMarks" value="@item.TotalMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                            }
                            else
                            {
                                <input id="@TotalMarks" name="@TotalMarks" value="@item.TotalMarks" class="form-control" onblur="CalculatePercentage(this);" @readonlyField />
                            }
                        }
                    </td>
                    <td>
                        <input id="@Percentage" name="@Percentage" value="@item.Percentage" class="form-control" readonly />
                    </td>
                    @*<td>
                        @{ 
                            if (item.DegreeID == 20) //SSC/O-Level
                            {
                            <select id="@CompleteResultAwaitedID" name="@CompleteResultAwaitedID" class="form-control">
                                <option value="1" selected>Complete</option>
                            </select>
                            }
                            else
                            { 
                            <select id="@CompleteResultAwaitedID" name="@CompleteResultAwaitedID" class="form-control" @disabled>
                                @{
                                    if (item.CompleteResultAwaitedID == 0 || item.CompleteResultAwaitedID == null)
                                    {
                                        <option value="0" selected>--Select--</option>
                                        <option value="1">Complete</option>
                                        <option value="2">Result Awaited</option>
                                    }
                                    else if (item.CompleteResultAwaitedID == 1)
                                    {
                                        <option value="0">--Select--</option>
                                        <option value="1" selected>Complete</option>
                                        <option value="2">Result Awaited</option>
                                    }
                                    else if (item.CompleteResultAwaitedID == 2)
                                    {
                                        <option value="0">--Select--</option>
                                        <option value="1">Complete</option>
                                        <option value="2" selected>Result Awaited</option>
                                    }
                                }
                            </select>
                            }
                        }
                    </td>*@
                </tr>
                }
                i++;
            }
        </table>
        }
        <br />
        List<GetApplicantQualifications_Result> lstAQ1 = dbc.GetApplicantQualifications(FormNo, 2).ToList();
        <input id="hdnRowCount1" name="hdnRowCount1" value="@lstAQ1.Count" type="hidden" />
        int j = 100;
        if (lstAQ1.Count > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        Entrance Exam (If Taken)
                    </th>
                    <th>
                        Obtained Marks
                    </th>
                    <th>
                        Total Marks
                    </th>
                    <th>
                        Percentage
                    </th>
                    <th>
                        Roll Number
                    </th>
                    <th>
                        Valid Up To
                    </th>
                </tr>

                @foreach (var item in lstAQ1)
                {
                    string DegreeID = string.Concat("DegreeID_", j);
                    string DegreeName = string.Concat("DegreeName_", j);
                    string TotalMarks = string.Concat("TotalMarks_", j);
                    string ObtainedMarks = string.Concat("ObtainedMarks_", j);
                    string Percentage = string.Concat("Percentage_", j);
                    string RollNumber = string.Concat("RollNumber_", j);
                    string ValidUpTo = string.Concat("ValidUpTo_", j);
                    <tr>
                        <td>
                            <input id="@DegreeID" name="@DegreeID" value="@item.DegreeID" class="form-control" type="hidden" />
                            <input id="@DegreeName" name="@DegreeName" value="@item.DegreeName" class="form-control" type="hidden" />
                            @Html.DisplayFor(modelItem => item.DegreeName)
                        </td>
                        <td>
                            <input id="@ObtainedMarks" name="@ObtainedMarks" value="@item.ObtainedMarks" class="form-control" onblur="CalculatePercentage(this);" />
                        </td>
                        <td>
                            <input id="@TotalMarks" name="@TotalMarks" value="@item.TotalMarks" class="form-control" onblur="CalculatePercentage(this);" />
                        </td>
                        <td>
                            <input id="@Percentage" name="@Percentage" value="@item.Percentage" class="form-control" readonly />
                        </td>
                        <td>
                            <input id="@RollNumber" name="@RollNumber" value="@item.RollNumber" class="form-control" />
                        </td>
                        <td>
                            <input id="@ValidUpTo" name="@ValidUpTo" value="@item.ValidUpTo" class="form-control" type="date" />
                        </td>
                    </tr>
                    j++;
                }
            </table>
        }
        <br />
        Applicant ap = dbc.Applicants.FirstOrDefault(a => a.FormNo == FormNo);
        if (ap != null)
        {
            Status s = dbc.Status.FirstOrDefault(st => st.StatusID == ap.StatusID);
            if (s.StatusName == "Pending")
            {
                <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                }
            }
        }

<script type="text/javascript">
    function OtherInstitute(id) {
        
        var index = id.indexOf("_");
        var toConcat = id.substr(index, id.length);
        var txtID = 'OtherInstitute' + toConcat;
        var text = $("#" + id + " option:selected").text();
        if (text == 'Other')
            $("#" + txtID).css("display", "block");
        else
            $("#" + txtID).css("display", "none");
    }

    function OtherDegree(id) {
        
        var index = id.indexOf("_");
        var toConcat = id.substr(index, id.length);
        var txtID = 'OtherDegree' + toConcat;
        var text = $("#" + id + " option:selected").text();
        if (text == 'Others') {
            $("#" + txtID).css("display", "block");
            //$("#" + txtID).css("display", "block");
        }
        else
        {
            $("#" + txtID).css("display", "none");
        }
    }

</script> 