@using CampusManagement.Models
@Html.Partial("_AdmissionTabsView")

@Html.Partial("_MessageView")
@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    int EmpID = Convert.ToInt32(Session["emp_id"]);
    string FormNo = "";
    string ChallanPath = "";
    string StatusName = "";
    Applicant applicant = dbc.Applicants.FirstOrDefault(a => a.CreatedBy == EmpID);
    string ApplicantName = "";
    if (applicant != null)
    {
        ApplicantName = string.Concat(applicant.FirstName, " ", applicant.LastName);
        FormNo = applicant.FormNo;
        if (!string.IsNullOrEmpty(applicant.ChallanImagePath))
        {
            ChallanPath = applicant.ChallanImagePath;
        }

        Status s = dbc.Status.FirstOrDefault(st => st.StatusID == applicant.StatusID);
        StatusName = s.StatusName;
    }
}

@using (Html.BeginForm("UploadChallan", "OnlineApplyQualifications", new { FormNo = ViewBag.FormNo }, FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin-bottom:10px" }))
{
    @Html.AntiForgeryToken()

    <h1 style="margin-top:-28px;">
        Declaration
    </h1>
    <hr style="border-top: 1px solid #6d9b90;" />

    @Html.Partial("_ApplicantInformation", FormNo)

    <hr style="border-top: 1px solid #6d9b90;" />
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <a class="btn btn-primary" href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?ReportName=rptApplicantCompleteDetails&FormNo=")@FormNo" target="_blank"><h3>Applicant Profile</h3></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @{
                if (!string.IsNullOrEmpty(ChallanPath))
                {
                    <label for="imgChallanView" class="control-label">Challan</label>
                    <a alt="Download Challan" href="@Url.Content(ChallanPath)" target="_blank"><img id="imgChallanView" src="@Url.Content(ChallanPath)" style="width:100px;height:100px;border-radius:10px;" /></a>
                    <input type="hidden" id="ChallanImagePath" name="ChallanImagePath" value="@ChallanPath" />
                }
            }
        </div>
        <div class="col-sm-10">
            @if (StatusName == "Pending")
            {
                <span style="color:red;">*</span> <label>Upload Bank Challan Slip</label>
                <input type="file" id="ChallanImage" name="ChallanImage" class="form-control" style="width:115px;" />
                <br />
                <input type="submit" class="btn btn-primary" value="Upload" />
            }
        </div>
    </div>
}

@using (Html.BeginForm("Declaration", "OnlineApplyQualifications", new { FormNo = ViewBag.FormNo}, FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin-bottom:10px" }))
{
    @Html.AntiForgeryToken()
    
<h1>
    Terms and Conditions
</h1>
<hr style="border-top: 1px solid #6d9b90;" />
<div class="col-md-12">
    
    <div class="field">
        <h4>
            
            I <b>(@ApplicantName)</b> hereby affirm that I have fully
            read and understood the eligibility criteria of the program(s) I am applying
            for and found myself eligible to apply. I have also completely understood
            the fee structure of the concerned program(s). I  further declare that I
            have not been expelled/dismissed from any university and that the
            information/documents provided by me for the purpose of admission are
            truthful. If any document/information is found fake or incorrect, the
            university reserves the right to dismiss my registration at any stage and
            cancel my obtained degree/diploma at any point of time.
        </h4>
    </div>
</div>

    if (StatusName == "Pending")
    {
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    }
}
<hr style="border-top: 1px solid #6d9b90;" />
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tab6").css("background", "#eee");
        });
    </script>
}