
@model IEnumerable<CampusManagement.Models.GetStudentInformationList_Result>
@using CampusManagement.Models


@{
    ViewBag.Title = "Search Students";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}


<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>

<hr style="border-top: 1px solid #6d9b90;" />


    <legend class="box-border">Search</legend>
    <div class="control-group">
        @Html.Partial("_MessageView")
        @using (Html.BeginForm("Index", "StudentInformation", FormMethod.Post))
        {
            <div class="row" style="margin-top: -4em;margin-bottom: -2em;">

                <div class="col-sm-3">
                    <label>Session</label>
                    @Html.DropDownList("BatchID", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    <label>Department</label>
                    @Html.DropDownList("FacultyID", null, htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="col-sm-3">
                    <label>Program</label>
                    @Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })

                </div>

                <div class="col-sm-3">
                    <label>Semester #</label>
                    @Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-sm-1 " style="margin-top:25px;">
                    <button type="submit" class="btn btn-primary" value="Search">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>
        }
        <br />
    </div>

<table class="table">
    <tr>
        <th>
            Picture
        </th>
        <th>
            Form No
        </th>
        <th>
            Name
        </th>
        <th>
            Father Name
        </th>
        <th>
            Cell No
        </th>
        <th>
            Reg#
        </th>
        <th>Semester No</th>
        <th>
            Session
        </th>
        <th>Department </th>
        <th>Program</th>
      
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Content(item.Picture)" id="lnkProfilePicture" target="_blank"><img src="@Url.Content(item.Picture)" style="width:125px; height:125px; border-radius:10px;" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemesterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubDept_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
          
          
  
        </tr>
                    }

</table>




@section Scripts {
    <script>

        $(document).ready(function () {
            $("#pageSize").val("@ViewBag.pageSize");
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
            ////oncall/////////////////
           
            GetSubDepartement_by_FacultyLevelBatch();
            // $("#BatchProgramID").val(@ViewBag.hdnFacultyID);
            GetPrograms_by_FacultyLevelBatch();
            // $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            // $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);


            //////////////on change//////////////



            $("#BatchID").change(function () {
               

                GetSubDepartement_by_FacultyLevelBatch();
                // $("#BatchProgramID").val(@ViewBag.hdnFacultyID;
                GetPrograms_by_FacultyLevelBatch()
                // $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                // $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            });

            $("#FacultyID").change(function () {

                GetPrograms_by_FacultyLevelBatch()
                // $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                // $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            });

            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
                // $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            });



            $('#cbSelectAll').click(function () {

                if ($('#cbSelectAll').is(':checked')) {
                    $('#tblEligiblestudents td').each(function () {
                        var cellText = $(this).html();
                        var cellid = $(this).attr('id');
                        var FindId = "#" + cellid;
                        $(FindId).children('input[type=checkbox]').each(function () {
                            var cbId = $(this).attr('id');
                            var cbidhash = "#" + cbId
                            $(cbidhash).attr('checked', true);
                        })


                    });
                } else {
                    $('#cbSelectAll').attr('checked', false);
                    $('#tblEligiblestudents td').each(function () {
                        var cellText = $(this).html();
                        var cellid = $(this).attr('id');
                        var FindId = "#" + cellid;
                        $(FindId).children('input[type=checkbox]').each(function () {
                            var cbId = $(this).attr('id');
                            var cbidhash = "#" + cbId
                            $(cbidhash).attr('checked', false);
                            // $(cbidhash).removeAttr('checked',true);
                        })
                    });

                }

            })

        });
        //////subdepartment///

        function GetSubDepartement_by_FacultyLevelBatch() {
            var BatchID = $("#BatchID").val();
            $.ajax({
                url: "@Url.Content("~/StudentInformation/GetSubDepartement_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                cache: false,
                data: JSON.stringify({ BatchID: +BatchID }),
                success: function (result) {
                    $("#FacultyID").html("");
                    // $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#FacultyID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                    $("#FacultyID").val(@ViewBag.hdnFacultyID)
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        //////prorams///////////
        
        function GetPrograms_by_FacultyLevelBatch() {
            debugger
            var BatchID = $("#BatchID").val();
            var FacultyID = $("#FacultyID").val();
            $.ajax({
                url: "@Url.Content("~/StudentInformation/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                cache: false,
                data: JSON.stringify({BatchID:+BatchID, FacultyID: +FacultyID }),
                success: function (result) {
                    $("#BatchProgramID").html("");
                    // $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                    $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID)
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }
        ////semesters
        function GetBatchProgramSemesterList() {
            var BatchProgramID = $("#BatchProgramID").val();
            $.ajax({
                url: "@Url.Content("~/StudentInformation/GetBatchProgramSemesterList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchProgramID: +BatchProgramID }),
                success: function (result) {
                    $("#YearSemesterNo").html("");
                    $("#YearSemesterNo").append($('<option></option>').val("0").html("--ALL--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                    });
                    $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo)

                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }




        @*$(function () {
        $("#pageSize").val("@ViewBag.pageSize");
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });*@



        function redirect(dropDownValue) {
            window.location.href = '/Applicants/Index?page = 1&pageSize=' + dropDownValue;
        }
    </script>
    <style>
        fieldset.box-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 0 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.box-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
        }

        fieldset.boxpanel-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 0 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.boxpanel-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
        }
    </style>

}




