@model CampusManagement.Models.DisciplineCategory

@using (Html.BeginForm("Create", "DisciplineCategories", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Discipline Category</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DisciplineCategoryName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DisciplineCategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DisciplineCategoryName, "", new { @class = "text-danger" })
        </div>
        
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DisciplineTypeID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("DisciplineTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DisciplineTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DisciplineSeverityLevelID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("DisciplineSeverityLevelID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DisciplineSeverityLevelID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.PointWeightage, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PointWeightage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PointWeightage, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Punishment, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Punishment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Punishment, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a href="@Url.Content("~/DisciplineCategories/Index")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}
