@model CampusManagement.Models.ScholarshipDocument

@using (Html.BeginForm("Create", "ScholarshipDocuments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Required Document CheckList</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        
        <div class="col-sm-3">
            <label>Document ID</label>
            @Html.EditorFor(model => model.ScholarshipOpportunitiesID, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "required" ,@readonly= true } })
         
        </div>
        <div class="col-sm-3">
            <label>Document Name</label>
            @Html.EditorFor(model => model.ScholarshipDocumentName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" ,@required="required"} })
            @Html.ValidationMessageFor(model => model.ScholarshipDocumentName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
     
        
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <input type="submit" value="Add" class="btn btn-primary" />
           
        </div>
    </div>
}


<script>
 $(document).ready(function () {

     $("#ScholarshipDocumentName").val("");
      

     });
</script>