@model CampusManagement.Models.ScholarshipDocumentViewModel

@{
    ViewBag.Title = "ScholarshipDocuments";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedScholarshipDocument != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedScholarshipDocument);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedScholarshipDocument);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.ScholarshipDocument());
    }
}

<table class="table">
    <tr>
        <th>
            Scholarship Opportunity ID
        </th>

        <th>
            Scholarship Document
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipDocument.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipDocument.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipDocument.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipDocument.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipDocument.ModifiedBy)
        </th>
       
        
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.ScholarshipDocuments)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarshipOpportunitiesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarshipDocumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
       
        
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.ScholarshipDocumentID })
        </td>
    </tr>
    }

</table>
