@model IEnumerable<CampusManagement.Models.um_rpt_GetIncompleteApplicantDetail_Result>
@using CampusManagement.Models

@{
    ViewBag.Title = "Online Registered Applicants";
  
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageViewTempData")

@using (Html.BeginForm("GetIncompleteApplicantDetail", "Employees", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="paramSearch" value="@ViewBag.paramSearch" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            CNIC
        </th>
        <th>
            Mobile Number
        </th>
        
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "um_DeleteUser", new { UserName = item.UserName, onclick = "return confirm('Are you sure you want to remove this record?');" }) 
            </td>
        </tr>
    }

</table>
