@model IEnumerable<CampusManagement.Models.SF_GetStudentServiceDetail_Result>
@using CampusManagement.Models
@{
    ViewBag.Title = "Student Services Approval";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer db = new ModelCMSNewContainer();
}
<div>
    <a href="/StudentServices/StudentServicesAccumulate" class="btn btn-primary pull-right">Back</a>
</div>
<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

@{
    int StudentID = 0;
    <table class="table">
        <tr>
            <th>
                Student Detail
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (StudentID != item.StudentID)
            {
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><label class="control-label">Name:&nbsp;</label>@Html.DisplayFor(modelItem => item.StudentName)</td>
                                <td><label class="control-label">&nbsp;Cell #:&nbsp;</label>@Html.DisplayFor(modelItem => item.CellNo)</td>
                                <td><label class="control-label">&nbsp;Email:&nbsp;</label>@Html.DisplayFor(modelItem => item.Email)</td>
                            </tr>
                            <tr>
                                <td><label class="control-label">&nbsp;Program:&nbsp;</label>@Html.DisplayFor(modelItem => item.ProgramName)</td>
                                <td><label class="control-label">&nbsp;Semester #:&nbsp;</label>@Html.DisplayFor(modelItem => item.CurrentSemesterNo)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-striped">
                            <tr>
                                <th style="width:50%;">
                                    Service
                                </th>
                                <th style="width:10%;">
                                    Original Amount
                                </th>
                                <th style="width:10%;">
                                    Discount
                                </th>
                                <th style="width:10%;">
                                    Payable
                                </th>
                                <th style="width:20%;">
                                    Action
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
                StudentID = item.StudentID;
            }
            <tr>
                <td>
                    <table class="table table-striped">
                        <tr>
                            <td style="width:50%;">
                                @Html.DisplayFor(modelItem => item.CollegeServiceName)
                            </td>
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.CollegeServiceAmount)
                            </td>
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.DiscountAmount)
                            </td>
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.ComputedAmount)
                            </td>
                            <td style="width:20%;">
                                @{
                                    if (item.StatusName == "Pending")
                                    {
                                        @Html.ActionLink("Approve", "UnApproveSingleStudentServicesApproval", "StudentServices", new { StudentServiceID = item.StudentServiceID, StudentID = item.StudentID, Status = "Unapproved" }, htmlAttributes: new { @class = "btn btn-primary" })

                                    }
                                    else if (item.StatusName == "Approved")
                                    {

                                        @Html.ActionLink("Unapprove", "UnApproveSingleStudentServicesApproval", "StudentServices", new { StudentServiceID = item.StudentServiceID, StudentID = item.StudentID, Status = "Approved" }, htmlAttributes: new { @class = "btn btn-primary" })

                                    }
                                    else if (item.StatusName == "Challan Generated")
                                    {

                                        <span style="color:forestgreen;font-weight:bold">@item.StatusName</span>
                                    }

                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
}

@section Scripts {
<script>
    $(document).ready(function () {
        GetActiveBatches();
        GetPrograms_by_FacultyLevelBatch();
        $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
        GetBatchProgramSemesterList();
        $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

        $("#BatchID").change(function () {
            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
        });

        $("#BatchProgramID").change(function () {
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
        });
    });

    function GetBatchProgramSemesterList() {
        var BatchProgramID = $("#BatchProgramID").val();
        $.ajax({
            url: "@Url.Content("~/StudentServices/GetBatchProgramSemesterList")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ BatchProgramID: +BatchProgramID }),
            success: function (result) {
                $("#YearSemesterNo").html("");
                $("#YearSemesterNo").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                });
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

    function GetPrograms_by_FacultyLevelBatch() {

        var BatchID = $("#BatchID").val();
        $.ajax({
            url: "@Url.Content("~/StudentServices/GetPrograms_by_FacultyLevelBatch")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ BatchID: +BatchID }),
            success: function (result) {
                $("#BatchProgramID").html("");
                $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                });
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

    function GetActiveBatches() {
        $.ajax({
            url: "@Url.Content("~/StudentServices/GetActiveBatches")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            success: function (result) {
                $("#BatchID").html("");
                $("#BatchID").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchID").append($('<option></option>').val(sem.BatchID).html(sem.BatchName));
                });

                if ("@ViewBag.hdnBatchID" != "") {
                    $("#BatchID").val("@ViewBag.hdnBatchID");
                }
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

</script>
}

