@model CampusManagement.Models.Challan
@using CampusManagement.Models
@using (Html.BeginForm("Create", "ChallansApplicant", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Generate Applicant Challans</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")
    ModelCMSContainer dbCMS = new ModelCMSContainer();
    int i = 1;
    <input type="hidden" name="TotalRows" value="@dbCMS.CollegeServices.Where(cs => cs.IsActive == "Yes").Count()" />

    <div class="row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.BatchID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.BatchID, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.BatchProgramID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchProgramID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.YearSemesterNo, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.YearSemesterNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.LastDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.LastDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.AccountID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("AccountID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3" style="display:none;">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3" style="display:none;">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <table class="table">

        <tr>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Amount</th>
            <th>Quantity</th>
        </tr>
            @foreach (var item in dbCMS.CollegeServices.Where(cs => cs.IsActive == "Yes"))
            {
                string Amount = string.Concat("Amount_", i);
                string CollegeServiceID = string.Concat("CollegeServiceID_", i);
                string Quantity = string.Concat("Quantity_", i);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollegeServiceID)
                        <input type="hidden" id="@CollegeServiceID" name="@CollegeServiceID" value="@item.CollegeServiceID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollegeServiceName)
                    </td>
                    <td>
                        <input id="@Amount" name="@Amount" class="form-control col-sm-2 dummyClassAmount" value="@item.Amount" />
                    </td>
                    <td>
                        <input id="@Quantity" name="@Quantity" class="form-control col-sm-2 dummyClassQuantity" value="1" />
                    </td>
                </tr>
                i++;
            }
    </table>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <input type="submit" value="Generate" class="btn btn-primary" />
            <a href="@Url.Content("~/ChallansApplicant/Index")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}
