@model CampusManagement.Models.GetEnrolledStudent_Result
@using CampusManagement.Models
@using (Html.BeginForm("SingleStudentChallan", "ChallansApplicant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <a href="/Finance/Invoicing" class="btn btn-primary pull-right">Back</a>
    </div>

    <div class="row">
        <h2><span class="col-sm-12">Generate Applicant Challan</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")
    
    <div class="row">
        <div class="col-sm-8">
            @Html.LabelFor(model => model.FormNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a href="@Url.Content("~/ChallansApplicant/SingleStudentChallan")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}

@using (Html.BeginForm("InsertStudentChallan", "ChallansApplicant", FormMethod.Post))
{
    ModelCMSContainer dbCMS = new ModelCMSContainer();
    int i = 1;
    string FormNo = "";
    @Html.AntiForgeryToken()
    if (ViewBag.objES != null)
    {
    <hr style="border-top: 1px solid #6d9b90;" />
    <div class="row">
        <div class="col-sm-4">
            <label class="control-label">Student ID :</label>
            <span id="StudentID" name="StudentID">@ViewBag.objES.StudentID</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Form # :</label>
            <span id="FormNo">@ViewBag.objES.FormNo</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Student Name :</label>
            <span id="FullName">@ViewBag.objES.FullName</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">CNIC :</label>
            <span id="ACNIC">@ViewBag.objES.ACNIC</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Cell # :</label>
            <span id="CellNo">@ViewBag.objES.CellNo</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Email :</label>
            <span id="Email">@ViewBag.objES.Email</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Enrollment ID :</label>
            <span id="EnrollmentID">@ViewBag.objES.RollNumber</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Enrollment # :</label>
            <span id="EnrollmentNo">@ViewBag.objES.RegistrationNo</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Batch Code :</label>
            <span id="BatchCode">@ViewBag.objES.BatchCode</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Batch Name :</label>
            <span id="BatchName">@ViewBag.objES.BatchName</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Batch Session :</label>
            <span id="BatchSession">@ViewBag.objES.BatchSession</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Program Code :</label>
            <span id="ProgramCode">@ViewBag.objES.ProgramCode</span>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Program Name :</label>
            <span id="ProgramName">@ViewBag.objES.ProgramName</span>
        </div>
        <div class="col-sm-4" style="display:none;">
            <label class="control-label">Batch Program ID</label>
            <span id="BatchProgramID">@ViewBag.objES.BatchProgramID</span>
        </div>
    </div>
    <input type="hidden" name="TotalRows" value="@dbCMS.CollegeServices.Where(cs => cs.IsActive == "Yes").Count()" />
    <table class="table">
        <tr>
            <th>Challan ID</th>
            <th>Issue Date</th>
            <th>Last Date</th>
            <th>Amount</th>
            <th>Is Deposited</th>
            <th>Date</th>
        </tr>
        @{
            FormNo = ViewBag.objES.FormNo;
        }

        @foreach (var item in dbCMS.GetStudentChallans(FormNo, "Applicant"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChallanID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositDate)
                </td>
            </tr>
        }
    </table>
    <hr style="border-top: 1px solid #6d9b90;" />
    
    }
    <br />
    <div class="row">
        <input type="hidden" name="FormNo" value="@FormNo" />
        <div class="col-sm-4">
            @Html.LabelFor(model => model.YearSemesterNo, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.YearSemesterNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.LastDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.LastDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-8">
            @Html.LabelFor(model => model.AccountID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("AccountID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Amount</th>
            <th>Quantity</th>
        </tr>
            @foreach (var item in dbCMS.CollegeServices.Where(cs => cs.IsActive == "Yes"))
            {
                string Amount = string.Concat("Amount_", i);
                string CollegeServiceID = string.Concat("CollegeServiceID_", i);
                string Quantity = string.Concat("Quantity_", i);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollegeServiceID)
                        <input type="hidden" id="@CollegeServiceID" name="@CollegeServiceID" value="@item.CollegeServiceID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollegeServiceName)
                    </td>
                    <td>
                        <input id="@Amount" name="@Amount" class="form-control col-sm-2 dummyClassAmount" value="@item.Amount" />
                    </td>
                    <td>
                        <input id="@Quantity" name="@Quantity" class="form-control col-sm-2 dummyClassQuantity" value="1" />
                    </td>
                </tr>
                i++;
            }
    </table>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <input type="submit" value="Generate Challan" class="btn btn-primary" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        var dummyClassAmount = $(".dummyClassAmount");
        var dummyClassQuantity = $(".dummyClassQuantity");
        for (var j = 0; j < dummyClassAmount.length; j++) {
            $("#" + dummyClassAmount[j].id).ForceNumericOnly();
            $("#" + dummyClassAmount[j].id).attr("maxlength", "7");
            if ($("#" + dummyClassAmount[j].id).val() == "" || $("#" + dummyClassAmount[j].id).val() == null) {
                $("#" + dummyClassAmount[j].id).val("0");
            }
        }

        for (var j = 0; j < dummyClassQuantity.length; j++) {
            $("#" + dummyClassQuantity[j].id).ForceNumericOnly();
            $("#" + dummyClassQuantity[j].id).attr("maxlength", "2");
            if ($("#" + dummyClassQuantity[j].id).val() == "" || $("#" + dummyClassQuantity[j].id).val() == null) {
                $("#" + dummyClassQuantity[j].id).val("1");
            }
        }
    });
</script>
