@model CampusManagement.Models.ApplicantUploadViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Supporting Documents";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();

    string FormNo = "";
    if (ViewBag.FormNo != null)
    {
        FormNo = ViewBag.FormNo.ToString();
    }

    if (Model.SelectedApplicantUpload != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedApplicantUpload);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedApplicantUpload);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.ApplicantUpload());
    }
}
<input type="hidden" name="FormNo" id="FormNo" value="@FormNo" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedApplicantUpload.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedApplicantUpload.UploadPath)
        </th>
      
        <th>Actions</th>
    </tr>
@{
    foreach (var item in Model.ApplicantUploads)
    {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    <a href="@Url.Content(item.UploadPath)">
                        <img src="@Url.Content(item.UploadPath)" style="width:70px; height:70px;border-radius:10px;" />
                    </a>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ApplicantUploadID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ApplicantUploadID })
                </td>
            </tr>
        

    }
}

</table>

<div class="divHeading">
    <a data-toggle="collapse" data-target="#hide14"><h4 class="fa fa-level-down" aria-hidden="true"> Document Checklist </h4></a>
</div>
<div class="row" id="hide14">
    <br />
    <ol>
        <li><b>1- </b> 4 passport size photographs </li>
        <li><b>2- </b> A copy of your CNIC/ B-form and your father's CNIC</li>
        <li><b>3- </b> A copy of SSC mark sheet & certificate / O-level</li>
        <li><b>4- </b> A copy of HSC mark sheet & certificate / A-level</li>
        <li><b>5- </b> A copy of Bachelor's degree and transcript / mark sheet</li>
        <li><b>6- </b> A copy of Master's degree and transcript / mark sheet</li>
        <li><b>7- </b> A copy of HEC equivalence certificate</li>
        <li><b>8- </b> A copy of Roll Number slip</li>
        <li><b>9- </b> A copy of NTS NAT/ SAT / GAT / GMAT original score sheet</li>
        <li><b>10- </b> Bank draft number ______________ from _______________ bank worth PKR 1500 (2000) for PhD. in favour of <b>@MvcApplication.UniversityName @MvcApplication.UniversityCampusName</b></li>
    </ol>
</div>

<br />
@{
    ApplicantUpload au = dbc.ApplicantUploads.FirstOrDefault(u => u.FormNo == FormNo);
    if (au != null)
    {
        <div class="row">
            <div class="col-sm-3">
                <a href="@Url.Content("~/OnlineApplyQualifications/Declaration")" class="btn btn-primary">Next</a>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tab5").css("background", "#eee");
        }

            );
    </script>
}