@model CampusManagement.Models.SF_GetStudentFines_ResultViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Student Fines";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedSF_GetStudentFines_Result != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedSF_GetStudentFines_Result);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedSF_GetStudentFines_Result);
        }
        else if (Model.DisplayMode == "Read")
        {
            Html.RenderPartial("Detail", Model.SelectedSF_GetStudentFines_Result);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.SF_GetStudentFines_Result());
    }
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

<table class="table">
    <tr>
        <th>
            Fine Type
        </th>
        <th>
            Amount
        </th>
        <th>
            Semester #
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.SF_GetStudentFines_Results)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFineTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearSemesterNo)
            </td>
            <td>
                @if(item.StatusName == "Pending")
                {
                    @Html.ActionLink("Approve", "ApproveUnapprove", new { id = item.StudentFineID, type = "Approved", StudentID = ViewBag.StudentID }) <span> | </span>
                    @Html.ActionLink("Unapprove", "ApproveUnapprove", new { id = item.StudentFineID, type = "Unapproved", StudentID = ViewBag.StudentID })
                }
                else if (item.StatusName == "Approved")
                {
                    <span style="font-weight:bold;color:green;">Approved</span>
                }
                else if (item.StatusName == "Unapproved")
                {
                    <span style="font-weight:bold;color:red;">Unapproved</span>
                }
            </td>
        </tr>
    }

</table>

