@model CampusManagement.Models.Specialization

@using (Html.BeginForm("Edit", "Specializations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Specialization</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.SpecializationID)

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.SpecializationName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SpecializationName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SpecializationName, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-3">
            @Html.LabelFor(model => model.DegreeDescription, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DegreeDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DegreeDescription, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/Specializations/Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}
