@model CampusManagement.Models.SpecializationViewModel

@{
    ViewBag.Title = "Specializations";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedSpecialization != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedSpecialization);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedSpecialization);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.Specialization());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedSpecialization.SpecializationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedSpecialization.DegreeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedSpecialization.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Specializations)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecializationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.SpecializationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SpecializationID })
        </td>
    </tr>
    }

</table>
