@model IEnumerable<CampusManagement.Models.SF_GetApplicantsForDiscounts_Result>
@using CampusManagement.Models
@{
    ViewBag.Title = "Selected Applicants List";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer db = new ModelCMSNewContainer();
}

@using (Html.BeginForm("ApplicantsForDiscount", "ApplicantDiscounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-6">
            <label for="BatchID" class="control-label">Session</label>
            <select id="BatchID" name="BatchID" class="form-control"></select>
        </div>
        <div class="col-sm-6">
            <label for="BatchProgramID" class="control-label">Program</label>
            <select id="BatchProgramID" name="BatchProgramID" class="form-control"></select>
        </div>
        <div class="col-sm-3 hidden">
            <label for="Status" class="control-label">Status</label>
            <select id="StatusID" name="StatusID" class="form-control"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a href="@Url.Content("~/ApplicantDiscounts/ApplicantsForDiscount")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Picture</th>
        <th>Form #</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>CNIC</th>
        <th>Email</th>
        <th>Cell #</th>
        <th>Current Semester</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Content(item.Picture)" id="lnkProfilePicture" target="_blank"><img src="@Url.Content(item.Picture)" style="width:60px; height:60px;border-radius:5px;" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNo)
            </td>
            <td>
                <span>1</span>
            </td>
            <td>
                <span style="color:green;font-weight:bold;">@item.StatusName</span>
            </td>
            <td>
                @Html.ActionLink("Add Discount", "Index", "ApplicantDiscounts", new { StudentID = item.ApplicantID }, null) |
                @Html.ActionLink("Account Detail", "SingleStudentServicesApproval", "ApplicantServices", new { StudentID = item.ApplicantID }, null)
            </td>
        </tr>
        }

</table>

<input type="hidden" id="hdnBatchID" name="hdnBatchID" value="@ViewBag.hdnBatchID" />
<input type="hidden" id="hdnBatchProgramID" name="hdnBatchProgramID" value="@ViewBag.hdnBatchProgramID" />
<input type="hidden" id="hdnStatusID" name="hdnStatusID" value="@ViewBag.hdnStatusID" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#StatusID").val("7");
            GetActiveBatches();
            GetApplicantStudentStatus();
            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            $("#BatchID").change(function () {
                GetPrograms_by_FacultyLevelBatch();
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });

            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });
        });

        function GetBatchProgramSemesterList() {
            var BatchProgramID = $("#BatchProgramID").val();
            $.ajax({
                url: "@Url.Content("~/ApplicantDiscounts/GetBatchProgramSemesterList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchProgramID: +BatchProgramID }),
                success: function (result) {
                    $("#YearSemesterNo").html("");
                    $("#YearSemesterNo").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

        function GetPrograms_by_FacultyLevelBatch() {

            var BatchID = $("#BatchID").val();
            $.ajax({
                url: "@Url.Content("~/ApplicantDiscounts/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchID: +BatchID }),
                success: function (result) {
                    $("#BatchProgramID").html("");
                    $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

        function GetApplicantStudentStatus() {

            $.ajax({
                url: "@Url.Content("~/ApplicantDiscounts/GetApplicantStudentStatus")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ StatusType: "student", QueryID: 1 }),
                success: function (result) {
                    $("#StatusID").html("");
                    $("#StatusID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#StatusID").append($('<option></option>').val(sem.StatusID).html(sem.StatusName));
                    });

                    if ("@ViewBag.hdnStatusID" != "") {
                        $("#StatusID").val("@ViewBag.hdnStatusID");
                    }
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

        function GetActiveBatches() {
            $.ajax({
                url: "@Url.Content("~/ApplicantDiscounts/GetActiveBatches")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                success: function (result) {
                    $("#BatchID").html("");
                    $("#BatchID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchID").append($('<option></option>').val(sem.BatchID).html(sem.BatchName));
                    });

                    if ("@ViewBag.hdnBatchID" != "") {
                        $("#BatchID").val("@ViewBag.hdnBatchID");
                    }
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

    </script>
}

