@model CampusManagement.Models.SF_GetStudentApplicantDiscounts_ResultViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Applicant Discounts";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedSF_GetStudentApplicantDiscounts_Result != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedSF_GetStudentApplicantDiscounts_Result);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedSF_GetStudentApplicantDiscounts_Result);
        }
        else if (Model.DisplayMode == "Read")
        {
            Html.RenderPartial("Detail", Model.SelectedSF_GetStudentApplicantDiscounts_Result);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.SF_GetStudentApplicantDiscounts_Result());
    }
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

<table class="table">
    <tr>
        <th>
            Discount Type
        </th>
        <th>
            Percentage/Installments
        </th>
        <th>
            Semester #
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.SF_GetStudentApplicantDiscounts_Results)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageInstallmentDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearSemesterNo)
            </td>
            <td>
                @if(item.StatusName == "Pending")
                {
                    @Html.ActionLink("Approve", "ApproveUnapprove", "ApplicantDiscounts", new { id = item.StudentDiscountID, type = "Approved", StudentID = ViewBag.StudentID }, null) <span> | </span>
                    @Html.ActionLink("Unapprove", "ApproveUnapprove", "ApplicantDiscounts", new { id = item.StudentDiscountID, type = "Unapproved", StudentID = ViewBag.StudentID }, null)
                }
                else if (item.StatusName == "Approved")
                {
                    <span style="font-weight:bold;color:green;">Approved</span>
                }
                else if (item.StatusName == "Unapproved")
                {
                    <span style="font-weight:bold;color:red;">Unapproved</span>
                }
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        GetDiscountValues();
        $("#DiscountTypeID").change(function () {
            GetDiscountValues();
        });
    });

    function GetDiscountValues() {
        var DiscountTypeID = $("#DiscountTypeID").val();
        $.ajax({
            url: "@Url.Content("~/ApplicantDiscounts/GetDiscountValues")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ DiscountTypeID: +DiscountTypeID }),
            success: function (result) {
                $("#PercentageInstallmentValue").html("");
                $("#PercentageInstallmentValue").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#PercentageInstallmentValue").append($('<option></option>').val(sem.PercentageInstallmentValue).html(sem.PercentageInstallmentDisplay));
                });
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }
</script>

