@model CampusManagement.Models.CollegeServicesViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "College Services";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedCollegeService != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedCollegeService);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedCollegeService);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.CollegeService());
    }

    ModelCMSNewContainer db = new ModelCMSNewContainer();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCollegeService.CollegeServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCollegeService.IsEffectProgramFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCollegeService.E_Code)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.CollegeServices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEffectProgramFee)
            </td>
            <td>
                @{ 
                    string E_Name = "";
                    if(!string.IsNullOrEmpty(item.E_Code))
                    {
                        Finance_Expenditures exp = db.Finance_Expenditures.FirstOrDefault(e => e.E_Code == item.E_Code);
                        if(exp != null)
                        {
                            E_Name = exp.E_Name;
                        }
                    }
                }
                @Html.Raw(E_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.CollegeServiceID })
            </td>
        </tr>
    }

</table>

