@model CampusManagement.Models.DisciplineTypeViewModel

@{
    ViewBag.Title = "Designations";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedDisciplineType != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedDisciplineType);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedDisciplineType);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.DisciplineType());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineType.DisciplineTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineType.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.DisciplineTypes)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplineTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.DisciplineTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DisciplineTypeID })
        </td>
    </tr>
    }

</table>
