@model CampusManagement.Models.LMSQuiz

@using (Html.BeginForm("Create", "LmsQuiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Quiz</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            <label>Quiz Title</label>
            @Html.EditorFor(model => model.QuizTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.QuizTitle, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Quiz Time Interval</label>
            @Html.EditorFor(model => model.QuizTimeInterval, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "time" } })
            @Html.ValidationMessageFor(model => model.QuizTimeInterval, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>Start Date Time</label>
            @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>End Date Time</label>
            @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>No Of Tries</label>
            @Html.EditorFor(model => model.NoOfTries, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NoOfTries, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.LMSWeekDetailID, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
        </div>
        <div class="col-sm-4">
            <label>Is Active</label>
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
}

<script>
 $(document).ready(function () {

     $("#QuizTitle").val("");
     $("#QuizTimeInterval").val("");
     $("#StartDateTime").val("");
     $("#EndDateTime").val("");
     $("#NoOfTries").val("");

     });
</script>
