@model CampusManagement.Models.LMSQuiz

@using (Html.BeginForm("Edit", "LmsQuiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Quiz</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.LMSQuizID)

    <div class="row">
        <div class="col-sm-4">
            <label>Quiz Title</label>
            @Html.EditorFor(model => model.QuizTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.QuizTitle, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Quiz Time Interval</label>
            @Html.EditorFor(model => model.QuizTimeInterval, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.QuizTimeInterval, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>Start Date Time</label>
            @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", @type="datetime" } })
            @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>End Date Time</label>
            @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "datetime" } })
            @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
        </div>
     
        <div class="col-sm-4">
            <label>No Of Tries</label>
            @Html.EditorFor(model => model.NoOfTries, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NoOfTries, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.LMSWeekDetailID, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
        </div>
        <div class="col-sm-4">
            <label>Is Active</label>
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/LmsQuiz/Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

