@model CampusManagement.Models.LMSQuizViewModel

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedLMSQuizs != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedLMSQuizs);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedLMSQuizs);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.LMSQuiz());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="LMSWeekDetailID" name="LMSWeekDetailID" value="@ViewBag.LMSWeekDetailID" type="hidden" />
            Quiz Title
        </th>
        <th>
            Quiz Time Interval
        </th>
        <th>
            Start Date Time
        </th>
        <th>
            End Date Time
        </th>
        <th>
            No Of Tries
        </th>
        <th>
            Is Active
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.LMSQuizs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizTimeInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfTries)

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.LMSQuizID }) | 
                @Html.ActionLink("   Add Questions", "Index", "LmsQuizQuestions", new { LMSQuizID = item.LMSQuizID }, null)
                @*@Html.ActionLink("Create Weeks", "CreateWeeks", new { LMSSubjectLearningID = item.LMSQuizID }, null)*@
            </td>
        </tr>
    }

</table>


