@model CampusManagement.Models.LMSWeekViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    int i = 1;
    ModelCMSContainer Lms = new ModelCMSContainer();
    if (Model.SelectedLMSWeeks != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedLMSWeeks);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedLMSWeeks);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.LMSWeek());
    }

}

<div class="row" style="margin-top: -5em;">
    <h2><span class="col-sm-12">List of @ViewBag.LSTitle Weeks  </span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
<div>
        @foreach (var item in Model.LMSWeeks)
        {
            
            string LMSWeekID = string.Concat("LMSWeekID_", i);

            string LmsWeek = string.Concat("#", @LMSWeekID);
            <div class="row divHeading">
             <a data-toggle="collapse" style="cursor:pointer" data-target="@LmsWeek"><h4 style="color: white;" aria-hidden="true"> <b> @Html.DisplayFor(modelItem => item.Title)</b>&nbsp; &nbsp;(@Html.DisplayFor(modelItem => item.TopicText)) &nbsp;<b style="margin-left: 38em;">Active &nbsp;</b> (@Html.DisplayFor(modelItem => item.IsActive))&nbsp;&nbsp; <b style="font-weight: bolder;" class="fa fa-angle-down"></b></h4> </a>
            </div>
            List<LMSWeekDetail> LmsWeekDetails = Lms.LMSWeekDetails.Where(x => x.LMSWeekID == item.LMSWeekID).ToList();

            <div>
                
                       
                <div id="@LMSWeekID" class="collapse">

                    @foreach (var Detailitem in LmsWeekDetails)
                    {

                        <div class="row" style="padding: 8px; border-bottom: 2px solid #eaeaea;">
                            <div class="col-md-2">
                                @Html.DisplayFor(modelItem => Detailitem.Title)
                            </div>
                            <div  class="col-md-3">
                                @Html.DisplayFor(modelItem => Detailitem.ContentText)
                            </div>
                            <div  class="col-md-5">
                                @if (Detailitem.WeekListTypeID == 2005)
                                {
                                   LMSQuiz LMSQuizObj = Lms.LMSQuizs.Where(x => x.LMSWeekDetailID  == Detailitem.LMSWeekDetailID).FirstOrDefault();
                                   @Html.ActionLink("View Quiz", "ViewQuiz", new { LMSQuizID = LMSQuizObj.LMSQuizID  }, null)  <b> | </b>
                                @Html.ActionLink("List Of Students", "LmsWeekDetailsAttempsByStudents", new { LMSWeekDetailID = Detailitem.LMSWeekDetailID, LMSWeekID = item.LMSWeekID, WeekListTypeID = Detailitem.WeekListTypeID }, null)

                                }
                                else
                                {
                                   <a href="@Url.Content(Detailitem.FilePath)" target="_blank">View Document</a> <b> | </b>
                                    @Html.ActionLink("List Of Students", "LmsWeekDetailsAttempsByStudents", new { LMSWeekDetailID = Detailitem.LMSWeekDetailID, LMSWeekID = item.LMSWeekID, WeekListTypeID = Detailitem.WeekListTypeID}, null)
                                }
                               
                            </div>
                        </div>
                    }

                </div>

            </div>
            i++;
        }


    </div>

<script>
    $('b').on('click', fav);

    function fav(e) {
        $('.fa').toggleClass('fa-angle-right');
    }
</script>