@model CampusManagement.Models.LMSWeekDetailAttemptViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Lms Week Details Attemps By Students";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{ 
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

<div class="row">
    <h2>Lms Week Details Attemps By Students</h2>
    <hr style="border-top: 1px solid #6d9b90;" />
</div>

<table class="table">
    <tr>
        <th>
            Week Detail Attempt ID
        </th>
        <th>
            LMS Week Detail Title
        </th>
        <th>
            LMS Week Title
        </th>
        <th>
            Student Name
        </th>
        <th>
            Is Attempt
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.LMSWeekDetailAttempts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LMSWeekDetailAttemptID)
            </td>
            <td>
                @{LMSWeekDetail LmsWeekDetail = dbc.LMSWeekDetails.FirstOrDefault(s => s.LMSWeekDetailID == item.LMSWeekDetailID);
                }
                @Html.Raw(LmsWeekDetail.Title)
                @*@Html.DisplayFor(modelItem => item.LMSWeekDetailID)*@
            </td>
            <td>
                @{LMSWeek LmsWeek = dbc.LMSWeeks.FirstOrDefault(s => s.LMSWeekID == item.LMSWeekID);
                }
                @Html.Raw(LmsWeek.Title)
                @*@Html.DisplayFor(modelItem => item.LMSWeekID)*@
            </td>
            <td>
                @{Student student = dbc.Students.FirstOrDefault(s => s.StudentID == item.StudentID);
                }
                @Html.Raw(student.FirstName)
                @*@Html.DisplayFor(modelItem => item.StudentID)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAttempt)
            </td>
            <td>
                @{LMSWeekListType LmsWLT = dbc.LMSWeekListTypes.FirstOrDefault(s => s.WeekListTypeID == item.WeekListTypeID);
                }
                @if (LmsWLT.WeekListTypeID == 2005)
                {
                    @*@Html.ActionLink("View Quiz Results", "ViewQuizResults", new { LMSWeekID=item.LMSWeekID, LMSWeekDetailID = item.LMSWeekDetailID, StudentID = item.StudentID }, null)*@
                    @Html.ActionLink("List Of Quiz", "TeacherViewQuiz", new {  StudentID = item.StudentID }, null)
                }
             
            </td>
        </tr>
    }

</table>