@model CampusManagement.Models.LMSStudentQuizAttemptDetailViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Lms Week Details Attemps By Students";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    List<LMSStudentQuizAttemptDetail> lst = dbc.LMSStudentQuizAttemptDetails.ToList();
}

<div class="row">
    <h2>Student Quiz Details</h2>
    <hr style="border-top: 1px solid #6d9b90;" />
</div>
@{ LMSStudentQuizAttemptDetail Obj = new LMSStudentQuizAttemptDetail();
    Obj = lst[0];
    Student student = dbc.Students.FirstOrDefault(s => s.StudentID == Obj.StudentID);
}

<div class="row">
     <div class="col-md-3"><h4>Student ID : @Obj.StudentID </h4></div>
     <div class="col-md-3"><h4 style="text-transform: capitalize;">Name : @Html.Raw(student.FirstName) </h4></div>

         <div class="col-md-2"><h4>Obtained Marks:</h4><b id="total">0</b></div>
         <div class="col-md-2"><h4>Total Marks:</h4><b id="total1">0</b></div>
         <div class="col-md-2"><h4>Percentage:</h4><b id="percentage">0</b>%</div>
    </div>




<table class="table">
    <tr>
        <th>
            Question
        </th>
        <th>
            Your Answers
        </th>
        <th>
            Question Marks
        </th>
        <th>
            Obtain Marks
        </th>
    </tr>

    @foreach (var item in Model.LMSStudentQuizAttemptDetails)
    {
        <tr>
            <td>
                @{LMSQuizIQuestion LQQ = dbc.LMSQuizIQuestions.FirstOrDefault(s => s.LMSQuizIQuestionD == item.LMSQuizIQuestionD);
                }
                @Html.Raw(LQQ.AskedQuestion)
                @*@Html.DisplayFor(modelItem => item.LMSQuizIQuestionD)*@
            </td>
            <td>
                @{
                    if (item.OverallAnswer == true)
                    {
                        <span style="color:#409b68d1;">Correct &#x2713;</span>
                    }
                    else
                    {
                        <span style="color: #e12c2cd1;">Wrong &#x2716;</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObtainMarks)
            </td>

        </tr>
      }

</table>


<script>
        $(document).ready(function () {
            $(function () {
                
                var Percentage = (sumColumn(4) / sumColumn(3)) * 100;
                $("#total").html(sumColumn(4));
                $("#total1").html(sumColumn(3));
                Percentage = parseFloat(Percentage).toFixed(2);
                $("#percentage").html(Percentage);
            });

            function sumColumn(index) {
                var total = 0;
                $("td:nth-child(" + index + ")").each(function () {
                    total += parseInt($(this).text(), 10) || 0;
                });
                return total;
            }
        });


</script>