@model CampusManagement.Models.OBE_CourseCLO
    @using CampusManagement.Models
    @using (Html.BeginForm("Create", "OBE_CourseCLO", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <div class="row">
            <h2><span class="col-sm-12">Add Course CLO</span></h2>
        </div>
        <hr style="border-top: 1px solid #6d9b90;" />
        @Html.Partial("_MessageView")

        <div class="row">

            <div class="col-sm-4">
                <label>Course</label>
                @Html.DropDownListFor(model => model.CourseID, null,"-- Select Course --" ,htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-3">
                @Html.LabelFor(model => model.CLOCode, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CLOCode, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.CLOCode, "", new { @class = "text-danger" })

            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.CLOName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CLOName, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.CLOName, "", new { @class = "text-danger" })

            </div>

            <div class="col-sm-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>

            <div class="col-sm-3">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            @Html.ActionLink("Refresh", "Create", "OBE_CourseCLO", new { ExamID = ViewBag.hdnExamID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to OBE Course CLO ", "Index", "OBE_CourseCLO", new { ExamID = ViewBag.hdnExamID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
    }
