@model CampusManagement.Models.LMSSubjectLearning

@using (Html.BeginForm("Create", "LmsOfTeacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Create Learning Subjects</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
       
        <div class="col-sm-4 hidden">
            @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.FilePath, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.UploadFiles, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.UploadFiles, new { @class = "form-control", Type = "File", onchange = "readURL(this);" , required = "required" })
            @Html.ValidationMessageFor(model => model.UploadFiles, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.ContentText, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ContentText, new { htmlAttributes = new { @class = "form-control", required="required" } })
            @Html.ValidationMessageFor(model => model.ContentText, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.ProgramCourseID, new { htmlAttributes = new { @class = "form-control", @type="hidden"} })
        </div>
       
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-primary"/>
        </div>
    </div>
}

<script>
 $(document).ready(function () {
    
        $("#Title").val("");
        $("#FilePath").val("");
        $("#UploadFiles").val("");
        $("#ContentText").val("");
       
     });
</script>