@model CampusManagement.Models.LMSWeek

@using (Html.BeginForm("EditWeeks", "LmsOfTeacher", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Teacher's Learning Subjects</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.LMSWeekID)

    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.TopicText, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.TopicText, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TopicText, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            <input id="LMSSubjectLearningID" name="LMSSubjectLearningID" value="@ViewBag.LMSSubjectLearningID" type="hidden" />
            <input id="ProgramCourseID" name="ProgramCourseID" value="@ViewBag.ProgramCourseID" type="hidden" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/LmsOfTeacher/Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

