@model CampusManagement.Models.LMSSubjectLearningViewModel

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedLMSSubjectLearning != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedLMSSubjectLearning);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedLMSSubjectLearning);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.LMSSubjectLearning());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="ProgramCourseID" name="ProgramCourseID" value="@ViewBag.ProgramCourseID" type="hidden" />
            @Html.DisplayNameFor(model => model.SelectedLMSSubjectLearning.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedLMSSubjectLearning.ContentText)
        </th>
        <th>
            File
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedLMSSubjectLearning.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.LMSSubjectLearnings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentText)
            </td>
            <td>
                <a href="@Url.Content(item.FilePath)" target="_blank">Download</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.LMSSubjectLearningID }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.LMSSubjectLearningID })*@
                @Html.ActionLink("Create Weeks", "CreateWeeks", new { LMSSubjectLearningID = item.LMSSubjectLearningID }, null) |
                @Html.ActionLink("Learning Contents","Index", "LmsWeeks", new { LMSSubjectLearningID = item.LMSSubjectLearningID }, null) 
            </td>
        </tr>
    }

</table>

