@model CampusManagement.Models.GetBatchProgramCourses_ResultViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Program Subjects";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    ModelCMSContainer dbView = new ModelCMSContainer();
    if (Model.SelectedBatchProgramCourse != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedBatchProgramCourse);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedBatchProgramCourse);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new GetBatchProgramCourses_Result());
    }
}

<table class="table">
    <tr>
        <th>
            Session
        </th>
        <th>
            Program
        </th>
        <th>
            Subject
        </th>
        <th>
            Subject Type
        </th>
        <th>
           Section
        </th>
        <th>
            Lecture Room
        </th>
        <th>
            Lab Room
        </th>
        <th>
            Lecture Count
        </th>
        <th>
            Lab Count
        </th>
        <th>
            Semester #
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.BatchProgramCourses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.LectureRoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabRoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerWeekLectureCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerWeekLabCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearSemesterNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.ProgramCourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProgramCourseID })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        GetPrograms_by_FacultyLevelBatch();
        $("#BatchID").change(function () {
            GetPrograms_by_FacultyLevelBatch();
        });
    });

    function GetPrograms_by_FacultyLevelBatch() {
        var BatchID = $("#BatchID").val();
        $.ajax({
            url: "@Url.Content("~/BatchProgramCourses/GetPrograms_by_FacultyLevelBatch")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ BatchID: +BatchID }),
            success: function (result) {
                $("#BatchProgramID").html("");
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                });
            },
            error: function (ex) {
                alert(ex.error);
            },
        });
    }
    </script>
}


