@model CampusManagement.Models.TimeTableMain

@using (Html.BeginForm("Create", "TimeTableMain", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:-35px !important">
        <div class="col-sm-12 ">
            @*<input type="submit" value="Add" class="btn btn-primary" />*@
            <a href="@Url.Content("~/TimeTables/TimeTableSetup")" class="btn btn-primary pull-right">Back</a>
        </div>
    </div>
    <div class="row">
        <h2><span class="col-sm-12">Add Time Table Main</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.TimeTableMainName, "Time Table Tittle", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TimeTableMainName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeTableMainName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.StartDate, "Start Date", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = true } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.EndDate, "End Date", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = true } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
       
        <div class="col-sm-4">
            @Html.LabelFor(model => model.LectureDuration, "Lecture Duration", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LectureDuration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LectureDuration, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4 hidden">
            @Html.LabelFor(model => model.StatusID, "Status", htmlAttributes: new { @class = "control-label" })
             <input id="StudentID" name="StudentID" value="1007" class="form-control" readonly />
          
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a href="@Url.Content("~/TimeTableMain/Index")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}
