@model CampusManagement.Models.GetStudentDiscountRequests_Result

@using (Html.BeginForm("Edit", "StudentDiscountRequests", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Request</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.StudentDiscountRequestID)

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.StudentRequestTypeID, "Request Type", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("StudentRequestTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StudentRequestTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3 hidden">
            @Html.LabelFor(model => model.StudentRequestStatusID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("StudentRequestStatusID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StudentRequestStatusID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3 hidden">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.RequestDescription, "Description", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RequestDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RequestDescription, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/StudentDiscountRequests/Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}
