@model CampusManagement.Models.QuestionAnswer
@using CampusManagement.Models
@using (Html.BeginForm("Edit", "OBE_QuestionAnswer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Answer</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.QuestionAnswerID)

    <div class="row">
        <div class="col-sm-4">
            <label>Course</label>
            @Html.DropDownListFor(model => model.QuestionID, null, "-- Select Question --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.QuestionID, "", new { @class = "text-danger" })
        </div>


        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsCorrectAnswer, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IsCorrectAnswer, new { htmlAttributes = new { @class = "form-control", @required = true } })
            @Html.ValidationMessageFor(model => model.IsCorrectAnswer, "", new { @class = "text-danger" })

        </div>

        <div class="col-sm-3">
            @Html.LabelFor(model => model.AnswerDescription, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.AnswerDescription, new { htmlAttributes = new { @class = "form-control", @required = true } })
            @Html.ValidationMessageFor(model => model.AnswerDescription, "", new { @class = "text-danger" })

        </div>

        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
        </div>
       
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/OBE_QuestionAnswer/Index")" class="btn btn-primary">Cancel</a>
         
        </div>
    </div>
}
