

@model CampusManagement.Models.GetAlumniUserPhoto_ResultViewModel

@{
    ViewBag.Title = "Alumni Education Expos";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">Photo Gallery</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />


<div class="row">

        @foreach (var item in Model.GetAlumniUserPhoto_Results)
        {
            if (item.UserName != null)
            {

                <div class="col-md-4 card" style="float:left">
                    <div class="card1">
                        <a class="thumbnail" href="@Url.Content(item.PhotoPath)" target="_blank"><img class="card-img-top" src="@Url.Content(item.PhotoPath)"> <img /></a>
                        <div class="card-body" style="padding: 0px 5px;">
                            <h5 class="card-title"><label> Posted On : </label>@Html.DisplayFor(modelItem => item.CreatedOn) </h5>
                            <h5 class="card-title"><label> Posted By : </label>@Html.DisplayFor(modelItem => item.UserName) </h5>
                            <h5 class="card-title"><label> Email : </label>@Html.DisplayFor(modelItem => item.Email) </h5>
                            <img src="@Url.Content(item.Picture)" style="float: right;width: 70px;height: 70px;margin-top: -6em;" />
                        </div>
                    </div>
                </div>
            }
            else
            {

                var base64 = "";
                var imgSrc = "";
                if (item.PictureCMS != null)
                {
                    base64 = Convert.ToBase64String(item.PictureCMS);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }


                <div class="col-md-4 card" style="float:left">
                    <div class="card1">
                        <a class="thumbnail" href="@Url.Content(item.PhotoPath)" target="_blank"><img class="card-img-top" src="@Url.Content(item.PhotoPath)"> <img /></a>
                        <div class="card-body" style="padding: 0px 5px;">
                            <h5 class="card-title">Posted On : @Html.DisplayFor(modelItem => item.CreatedOn) </h5>
                            <h5 class="card-title"><label> Posted By : </label>@Html.DisplayFor(modelItem => item.UserNameCMS) </h5>
                            <h5 class="card-title"><label> Email : </label>@Html.DisplayFor(modelItem => item.EmailCMS) </h5>
                            <img src="@imgSrc" style="float: right;width: 70px;height: 70px;margin-top: -6em;" />
                        </div>
                    </div>
                    </div>
            }
        }


</div>




<style>
    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    * {
        box-sizing: border-box;
    }

    .thumbnail {
        transition: transform .2s;
        padding: 0;
    }


        .card1 
        {
           float: left;
           border-radius: 1px;
             transition: transform .2s;
              padding: 0;
                  box-shadow: 0px 0px 4px 1px #bebebe
        }
        .card1:hover {
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.2);
            display: block;
            -webkit-transition: transform 1s ease-in-out;
        }

</style>

@section Scripts {
    <script>
        $('.card1').mouseover(function () {
            $('.card1').not(this).css('opacity', '0.1');
        }).mouseout(function () {
            $('.card1').not(this).css('opacity', '1');
        });
    </script>
}