@model CampusManagement.Models.EmployeePagesForAdmissionRightViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Assign Pages";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row" style="margin-top: -5em;">
    <h2><span class="col-sm-12">@ViewBag.Title to <b>@ViewBag.EmployeeName</b></span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
<table class="table" id="tblEligiblestudents" name="tblEligiblestudents">
    <tr>
        <th>Module Name</th>
        <th>Page Name</th>
        <th>Page URL</th>
        <th style="width:200px">Is Right Assign</th>

    </tr>

    @foreach (var item in Model.EmployesPagesList)
    {
        if (item.id == null)
        {
            item.id = 0;

        }
        else
        {
            @Html.HiddenFor(model => item.id)
        }

        @Html.HiddenFor(model => item.Emp_ID)
        @Html.HiddenFor(model => item.Module_ID)
        @Html.HiddenFor(model => item.Page_ID)


        string cbId = "cbAttempt_" + item.Module_ID + "_" + item.Page_ID;
        string tdId = "tdAttempt_" + item.Module_ID + "_" + item.Page_ID;


        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Module_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Page_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page_URL)
            </td>
            <td id=@tdId>


                @if (item.IsRigntAssign == true)
                {
                    @Html.CheckBoxFor(modelItem => item.IsRigntAssign, new { onclick = string.Format("AssignRight({0},{1},{2},{3})", item.Emp_ID.ToString(), item.Module_ID.ToString(), item.Page_ID.ToString(), item.id.ToString()), @class = "checkbox-inline", @style = "width:20px;height:20px", @id = cbId })
                    <label style="text-align:center;margin-left:10px"> <span style="color:green"> Right Added </span>  </label>
                    @*@Html.CheckBoxFor(modelItem => item.IsRigntAssign, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px"> <span style="color:green"> Right Added </span>  </label>*@
                }
                else
                {
                    @Html.CheckBoxFor(modelItem => item.IsRigntAssign, new { onclick = string.Format("AssignRight({0},{1},{2},{3})", @ViewBag.EmpID.ToString(), item.Module_ID.ToString(), item.Page_ID.ToString(), item.id.ToString()), @class = "checkbox-inline", @style = "width:20px;height:20px", @id = cbId })
                }

            </td>


        </tr>


    }

</table>


<script>
    $('b').on('click', fav);

    function fav(e) {
        $('.fa').toggleClass('fa-angle-right');
    }

    function AssignRight(Emp_ID, Module_ID, Page_ID, id) {

        var cbAttemptId = "#cbAttempt_" + Module_ID + "_" + Page_ID;
        var tdId = "#tdAttempt_"+Module_ID+"_"+Page_ID;


        var cbattempt = $(cbAttemptId).val();
        var IsChecked = false;
        if ($(cbAttemptId).is(':checked')) {
            IsChecked = true;
        }
        else {
            IsChecked = false;
        }

        $.ajax({
            url: "@Url.Content("~/EmployeesAdmissionRightAssign/EmployeeAssignRight")",
            type: 'POST',
        datatype: 'application/json',
        contentType: 'application/json',
        async: false,
        data: JSON.stringify({ Emp_ID: +Emp_ID, Module_ID: +Module_ID, Page_ID: +Page_ID, id: +id, IsChecked: +IsChecked }),
        success: function (result) {
            var tdobj = $(tdId);

            if (result.responseText == -999) {
                tdobj.html("");
                tdobj.append('<input class="checkbox-inline" id="' + cbAttemptId + '" name="item.IsRigntAssign" onclick="AssignRight('+ Emp_ID + ',' + Module_ID+ ',' + Page_ID + ',0)" style="width:20px;height:20px" type="checkbox" value="true"><input name="item.IsRigntAssign" type="hidden" value="false">');

            } else {
                tdobj.html("");
                tdobj.append('<input checked="checked" class="checkbox-inline" id="' + cbAttemptId + '" name="item.IsRigntAssign" onclick="AssignRight(' + Emp_ID + ',' + Module_ID + ',' + Page_ID + ',' + result.responseText+ ')"  style="width:20px;height:20px" type="checkbox" value="true"><input name="item.IsRigntAssign" type="hidden" value="false"> <label style="text-align:center;margin-left:10px"> <span style="color:green"> Right Added </span> </label>');
            }

        },
        error: function (ex) {
            alert(ex.error);
        },
        });
    }
</script>
