@model CampusManagement.Models.GetTimeTableSlotDateData_Result

@using (Html.BeginForm("Create", "TimeTableSlotsDates", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
    <div class="row">
        <h2><span class="col-sm-12">Add Time Table Dates And Slots </span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")
  
    <div class="row">
      
        <div class="col-sm-3">
            <label>Start Date</label>
            <input id="StartDate" name="StartDate" type="date" class="form-control"  required/>
        </div>
        <div class="col-sm-3">
            <label>End Date</label>
            <input id="EndDate" name="EndDate" type="date" class="form-control" required />
        </div>
        <div class="col-sm-3 hidden">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a href="@Url.Content("~/TimeTableSlotsDates/Index")" class="btn btn-primary">Refresh</a>
            
        </div>
    </div>
}
