@model CampusManagement.Models.ExamDutyRosterAttandanceViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Duty Roster Attendance";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

<div class="row">
    <h2><span class="col-sm-12"> Duty Roster Attendance For Exam </span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<fieldset class="box-border">
    <legend class="box-border">Search</legend>
    <div class="control-group">

        @Html.Partial("_MessageView")
        @using (Html.BeginForm("Index", "ExamDutyRosterAttandanceForAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row" style="margin-top:-50px">
                <div class="col-sm-4">
                    <label>Exam</label>
                    @Html.DropDownListFor(model => model.ExamID, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    <label>Exam Dates</label>
                    @Html.DropDownListFor(model => model.ExamDateID, null, "--All--", htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("ExamDateID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ExamDateID, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-4">
                    <label>Exam Time Slots</label>
                    @Html.DropDownListFor(model => model.ExamDateTimeSlotID, null, "--All--", htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("ExamDateTimeSlotID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ExamDateTimeSlotID, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-4">
                    <label>Session</label>
                    @Html.DropDownListFor(model => model.BatchID, null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownListFor(model => model.BatchID, null, "--ALL--", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-4">
                    <label>Program</label>
                    @Html.DropDownListFor(model => model.BatchProgramID, null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.BatchProgramID, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-4">
                    <label>Semester #</label>
                    @Html.DropDownListFor(model => model.YearSemesterNo, null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.YearSemesterNo, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-4">
                    <label>Subjects #</label>
                    @Html.DropDownListFor(model => model.ProgramCourseID, null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("ProgramCourseID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ProgramCourseID, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    <label>Room</label>
                    @Html.DropDownListFor(model => model.RoomID, null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("ProgramCourseID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-sm-1 pull-right">
                    <button type="submit" class="btn btn-primary" style="margin-top:30px" value="Search">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </div>

            <div class="row" style="margin-top: 1em;">


            </div>

        }
        <br />
    </div>
</fieldset>



<fieldset class="boxpanel-border">
    <legend class="boxpanel-border">Duty Roster Attandence Section</legend>
    <div class="control-group">
        <div class="row" style="margin-top:-50px">
            @using (Html.BeginForm("SaveRosterAttendance", "ExamDutyRosterAttandanceForAdmin", FormMethod.Post))
            {

                <div class="row" style="margin-top:20px">
                    <div class="col-sm-1 pull-right">
                        <button type="submit" class="btn btn-primary" value="Save">
                            <span class="glyphicon glyphicon-search"></span> Save
                        </button>
                    </div>
                </div>

                @*<input id='ExamID' name='ExamID' type="hidden" value='@ViewBag.hdnExamID' />*@
                @Html.HiddenFor(model => Model.ExamID)
                @Html.HiddenFor(model => Model.RoomID)
                <input id='ExamDateID' name='ExamDateID' type="hidden" value='@ViewBag.hdnExamDateID' />
                <input id='ExamDateTimeSlotID' name='ExamDateTimeSlotID' type="hidden" value='@ViewBag.hdnExamDateTimeSlotID' />
                <input id='BatchID' name='BatchID' type="hidden" value='@ViewBag.hdnBatchID' />
                <input id='BatchProgramID' name='BatchProgramID' type="hidden" value='@ViewBag.hdnBatchProgramID' />
                <input id='YearSemesterNo' name='YearSemesterNo' type="hidden" value='@ViewBag.hdnYearSemesterNo' />
                <input id='ProgramCourseID' name='ProgramCourseID' type="hidden" value='@ViewBag.hdnProgramCourseID' />
                @*<input id='RoomID' name='RoomID' type="hidden" value='@ViewBag.hdnRoomID' />*@


                <br />
                <table class="table" id="tblEligiblestudents" name="tblEligiblestudents">
                    <tr>
                        <th>Exam Details</th>
                        <th>Duty Roster Info</th>
                        <th>Program Details</th>
                        <th>Present Status</th>
                        <th>Arival Details</th>
                    </tr>
                    @if (Model.RosterList != null)
                    {

                        for (int i = 0; i < Model.RosterList.Count; i++)
                        {


                            @Html.HiddenFor(model => Model.RosterList[i].ExamRosterDetailID)

                            string TDEligibleID = "DivEligibleID_" + @Model.RosterList[i].ExamRosterDetailID;

                            <tr>
                                <td>
                                    <span style="font-weight:bold"> Exam: </span>@Html.DisplayFor(modelItem => Model.RosterList[i].ExamTitle)<br />
                                    <span style="font-weight:bold"> Date : </span> @Html.DisplayFor(modelItem => Model.RosterList[i].ExamDateTitle)<br />
                                    <span style="font-weight:bold"> Time: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].TimeSlot) <br />
                                </td>
                                <td>
                                    <span style="font-weight:bold"> Name: </span>@Html.DisplayFor(modelItem => Model.RosterList[i].UserName)
                                    <span style="font-weight:bold"> Designation: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].Designation)<br />
                                    <span style="font-weight:bold"> Room Name #: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].RoomName) 
                                    <span style="font-weight:bold"> Room Type Name #: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].RoomTypeName)<br />
                                    <span style="font-weight:bold"> Room Capacity #: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].RoomCapacity)  

                                </td>
                                <td>
                                    <span style="font-weight:bold"> Session: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].BatchName) <br />
                                    <span style="font-weight:bold">  Semester: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].YearSemesterNo) <br />
                                    <span style="font-weight:bold"> Program: </span> @Html.DisplayFor(modelItem => Model.RosterList[i].ProgramName)
                                </td>
                                <td id="@TDEligibleID">
                                    <span style="font-weight:bold">Status: </span>
                                    @Html.DropDownListFor(modelItem => Model.RosterList[i].StudentPresentStatusID, new SelectList(dbc.StudentPresentStatus, "StudentPresentStatusID", "StudentPresentStatusName", Model.RosterList[i].StudentPresentStatusID), new { @class = "form-control" })
                                    <span style="font-weight:bold">Remarks: </span> @Html.EditorFor(modelItem => Model.RosterList[i].Remarks, new { htmlAttributes = new { @class = "form-control" } }) 
                                </td>

                                <td>
                                    <span style="font-weight:bold">Arival Date: </span>
                                    @Html.EditorFor(modelItem => Model.RosterList[i].ArivalDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    <span style="font-weight:bold">Arival Time: </span>
                                    @Html.EditorFor(modelItem => Model.RosterList[i].ArivalTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                </td>

                            </tr>
                        }


                    }

                </table>

                <div class="col-sm-1 pull-right">
                    <button type="submit" class="btn btn-primary" value="Save">
                        <span class="glyphicon glyphicon-search"></span> Save
                    </button>
                </div>
                <br />
            }
        </div>
    </div>
</fieldset>

@section Scripts {
    <script>
        $(document).ready(function () {
            GetExamDatesByExamID();
             $("#ExamDateID").val(@ViewBag.hdnExamDateID);
            GetExamDateTimeSlotByExamID();
             $("#ExamDateTimeSlotID").val(@ViewBag.hdnExamDateTimeSlotID);


            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);


            $("#ExamID").change(function () {
                GetExamDatesByExamID();
                 $("#ExamDateID").val(@ViewBag.hdnExamDateID);
                GetExamDateTimeSlotByExamID();
                   $("#ExamDateTimeSlotID").val(@ViewBag.hdnExamDateTimeSlotID);
            });

            $("#BatchID").change(function () {
                GetPrograms_by_FacultyLevelBatch();
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
                GetBatchProgramCourseList();
            });

            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
                GetBatchProgramCourseList();
            });

            $("#YearSemesterNo").change(function () {
                @*$("#BatchID").val(@ViewBag.hdnBatchProgramID);
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);*@
                GetBatchProgramCourseList();
            });
        });

        function GetPrograms_by_FacultyLevelBatch() {
            var BatchID = $("#BatchID").val();
            $.ajax({
                url: "@Url.Content("~/ExamDutyRosterAttandanceForAdmin/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchID: +BatchID }),
                success: function (result) {
                    $("#BatchProgramID").html("");
                    // $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                    $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID)
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetBatchProgramSemesterList() {
            var BatchProgramID = $("#BatchProgramID").val();
            $.ajax({
                url: "@Url.Content("~/ExamStudentAttandanceForAdmin/GetBatchProgramSemesterList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchProgramID: +BatchProgramID }),
                success: function (result) {
                    $("#YearSemesterNo").html("");
                    $("#YearSemesterNo").append($('<option></option>').val("0").html("--ALL--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetBatchProgramCourseList() {
            var BatchID = $("#BatchID").val();
            var BatchProgramID = $("#BatchProgramID").val();
            var YearSemesterNo = $("#YearSemesterNo").val();
            $.ajax({
                url: "@Url.Content("~/ExamDutyRosterAttandanceForAdmin/GetBatchProgramCourseList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchID: +BatchID, BatchProgramID: +BatchProgramID, YearSemesterNo: +YearSemesterNo }),
                success: function (result) {
                    $("#ProgramCourseID").html("");
                    // $("#ProgramCourseID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, pro) {
                        $("#ProgramCourseID").append($('<option></option>').val(pro.ProgramCourseID).html(pro.CourseName));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }


        function GetExamDatesByExamID() {
            var ExamID = $("#ExamID").val();
            $.ajax({
                url: "@Url.Content("~/ExamDutyRosterAttandanceForAdmin/GetExamDatesByExamID")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ ExamID: +ExamID }),
                success: function (result) {
                    $("#ExamDateID").html("");
                    $("#ExamDateID").append($('<option></option>').val("0").html("--All--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#ExamDateID").append($('<option></option>').val(sem.ExamDateID).html(sem.ExamDateTitle));
                    });
                    $("#ExamDateID").val(@ViewBag.hdnExamDateID)
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetExamDateTimeSlotByExamID() {
            var ExamID = $("#ExamID").val();
            $.ajax({
                url: "@Url.Content("~/ExamDutyRosterAttandanceForAdmin/GetExamDateTimeSlotByExamID")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ ExamID: +ExamID }),
                success: function (result) {
                    $("#ExamDateTimeSlotID").html("");
                    $("#ExamDateTimeSlotID").append($('<option></option>').val("0").html("--All--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#ExamDateTimeSlotID").append($('<option></option>').val(sem.ExamDateTimeSlotID).html(sem.TimeSlot));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }


    </script>

    <style>
        fieldset.box-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 0 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.box-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
        }

        fieldset.boxpanel-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 0 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.boxpanel-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
        }
    </style>

}



