@model CampusManagement.Models.Applicant
@using CampusManagement.Models
@{
    ViewBag.Title = "Your Profile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style=" border-top: 1px solid #6d9b90;" />

<div>
    @Html.ActionLink("Back to Applications", "Index")
</div>
<hr style=" border-top: 1px solid #6d9b90;" />

<h4 class="alert alert-info" style="display:none;">Are you sure you want to delete this?</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Picture)</label>
        </dt>

        <dd>
            <img id="imgView" src="@Url.Content(Model.Picture)" style="width:100px;height:100px;border-radius:150px;" />
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FormNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Salutation.SalutationName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salutation.SalutationName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.LastName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FatherName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ApplicantDOB)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantDOB)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PlaceOfBirth)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Gender.GenderName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Nationality.NationalityName)</label>
        </dt>

        <dd>
            <img src="@Url.Content(Model.Nationality.FlagURL)" style="width:20px;height:20px;" /> @Html.DisplayFor(model => model.Nationality.NationalityName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.MaritalStatu.MaritalStatusName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatu.MaritalStatusName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ACNIC)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACNIC)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PassportNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PassportExpiryDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportExpiryDate)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PTCLNO)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTCLNO)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CellNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Email)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.AlternateEmail)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateEmail)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GuardianName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.RelationType.RelationTypeName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationType.RelationTypeName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GuardianCNIC)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianCNIC)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Country.CountryName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Province.ProvinceName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ProvinceName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.City.CityName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PresentAddress)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PermanentAddress)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Religion.ReligionName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion.ReligionName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CurrentOccupation.CurrentOccupationName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentOccupation.CurrentOccupationName)
        </dd>

        <dt style="display:none;">
            <label class="control-label">Batch Program</label>
        </dt>

        <dd style="display:none;">
            @{
                ModelCMSContainer dbc = new ModelCMSContainer();
                GetBatchProgramNameConcat_Result dv = dbc.GetBatchProgramNameConcat("", 0).FirstOrDefault(gdv => gdv.ID == Model.BatchProgramID);
            }
            @Html.Raw(dv.Name)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.Status.StatusName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.IsActive)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" style="display:none;" />
            @Html.ActionLink("Back to Applications", "Index")
        </div>
    }
</div>
