@model CampusManagement.Models.TimeTableDateViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Dates of Year";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedTimeTableDate != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedTimeTableDate);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedTimeTableDate);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.TimeTableYear());
    }
}

<table class="table">
    <tr>
        <th>
            Date 
        </th>
        <th>
            Day
        </th>
        <th>
            Status
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.TimeTableDates)
    {
    <tr>
        <td>
        @{
            string date = item.TimeTableDateName.Value.ToShortDateString();
            @Html.Raw(date);
        }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTableDateDay)
        </td>
        <td>
            @{
                if(item.IsActive == "No")
                {
                    <span style="color:red;font-weight:bold;">@item.IsActive</span>
                }
                else if (item.IsActive == "Yes")
                {
                    <span style="color:green;font-weight:bold;">@item.IsActive</span>
                }
                else if (item.IsActive == "Holiday")
                {
                    <span style="color:yellow;font-weight:bold;">@item.IsActive</span>
                }
            }
        </td>
        <td>
            @{
                if (item.IsActive == "No")
                {
                    @Html.ActionLink("Mark as Active", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "Yes" }) <span> | </span>
                    @Html.ActionLink("Mark as Holiday", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "Holiday" })
                }
                else if (item.IsActive == "Yes")
                {
                    @Html.ActionLink("Mark as Deactive", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "No" }) <span> | </span>
                    @Html.ActionLink("Mark as Holiday", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "Holiday" })
                }
                else if (item.IsActive == "Holiday")
                {
                    @Html.ActionLink("Mark as Active", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "Yes" }) <span> | </span>
                    @Html.ActionLink("Mark as Deactive", "MarkAsHoliday", new { id = item.TimeTableDateID, IsActive = "No" })
                }
            }
        </td>
    </tr>
    }

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#DurationMunutes").val(parseInt($("#DurationID option:selected").text()));
            $("#DurationID").change(function () {
                $("#DurationMunutes").val($("#DurationID option:selected").text());
            });
        });
    </script>    
}


