
@{
    ViewBag.Title = "NewAdmission";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "FormSaleDetails")" class="alert-link"> Issue Form</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "FormReceiveDetails")" class="alert-link"> Receive Form </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Applicants")" class="alert-link"> Applicants </a>
            </div>
        </div>
    </div>
  
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Create", "Applicants")" class="alert-link"> Express Admission </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "SelectionCriterias")" class="alert-link"> Selection Criteria </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "EntryTestInterviewMarks")" class="alert-link"> Entry Test/Interview Marks </a>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "MeritListApproveAdmissions")" class="alert-link"> Merit List & Approve Admission </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link"> Send Email To Candidates </a>
            </div>
        </div>
    </div>
    </div>

