@model CampusManagement.Models.BeliTrustAffidavit
@using CampusManagement.Models
@{
    ViewBag.Title = "Affidavit (Undertaking) ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_MessageView")

@using (Html.BeginForm("Affidavit", "BeliTrusts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    ModelCMSContainer dbCMS = new ModelCMSContainer();
    List<ApplicantQualification> lstQ = new List<ApplicantQualification>();
    string FormNo = ViewBag.FormNo.ToString();
    lstQ = dbCMS.ApplicantQualifications.Where(aq => aq.FormNo == FormNo).ToList();

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-3">
            <span style="color:red;">*</span> @Html.LabelFor(model => model.FormNo, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FormNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FormNo, "", new { @class = "text-danger" })
        </div>
      
       
    </div>
   
        <div class="divHeading" style="display:none">
            <a data-toggle="collapse" data-target="#hide"><h4 class="fa fa-level-down" aria-hidden="true"> A) Affidavit </h4></a>
        </div>
        <div class="row" id="hide" style="display:none">
           
            <div class="col-sm-3">
                @Html.LabelFor(model => model.ApplicantName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.ApplicantName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                 @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
          

            <div class="col-sm-3">
                @Html.LabelFor(model => model.CastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CastName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.CastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.ACNIC, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ACNIC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACNIC, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.FamilyIncome, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FamilyIncome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FamilyIncome, "", new { @class = "text-danger" })
            </div>
             <div class="col-sm-9">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
           
          
          
        
        </div>

        <div class="divHeading">
            <a data-toggle="collapse" data-target="#hide1"><h4 class="fa fa-level-down" aria-hidden="true"> Deponents Detail </h4></a>
        </div>
        <div class="row" id="hide1">

            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentFatherName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentFatherName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentFatherName, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentCNIC, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentCNIC, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentCNIC, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                @Html.LabelFor(model => model.DeponentAddress, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeponentAddress, "", new { @class = "text-danger" })
            </div>
          




        </div>

        <div class="divHeading">
            <a data-toggle="collapse" data-target="#hide2"><h4 class="fa fa-level-down" aria-hidden="true"> Witness 1 </h4></a>
        </div>
        <div class="row" id="hide2">

            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness1Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness1Name, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness1Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness1FatherName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness1FatherName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness1FatherName, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness1CNIC, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness1CNIC, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness1CNIC, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Witness1Address, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness1Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Witness1Address, "", new { @class = "text-danger" })
            </div>





        </div>

        <div class="divHeading">
            <a data-toggle="collapse" data-target="#hide3"><h4 class="fa fa-level-down" aria-hidden="true"> Witness 2 </h4></a>
        </div>
        <div class="row" id="hide3">

            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness2Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness2Name, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness2Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness2FatherName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness2FatherName, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness2FatherName, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-3">
                @Html.LabelFor(model => model.Witness2CNIC, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness2CNIC, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.Witness2CNIC, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Witness2Address, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Witness2Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Witness2Address, "", new { @class = "text-danger" })
            </div>
         </div>

        <div class="divHeading">
            <a data-toggle="collapse" data-target="#hide5"><h4 class="fa fa-level-down" aria-hidden="true"> B) Affidavit </h4></a>
        </div>
        <div class="row" id="hide5">
            <div class="col-sm-3">
                @Html.LabelFor(model => model.ReverseOf, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ReverseOf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReverseOf, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentDeclareAt, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentDeclareAt, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentDeclareAt, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentDeclareOn, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentDeclareOn, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentDeclareOn, "", new { @class = "text-danger" })
            </div>


            <div class="col-sm-3">
                @Html.LabelFor(model => model.DeponentDeclareOnOath, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DeponentDeclareOnOath, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.DeponentDeclareOnOath, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr style="border-top: 1px solid #6d9b90;" />
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-lg mybutton">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    Save
                </button>
            </div>
        </div>
}

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $("#ApplicantDOB").mask("99/99/9999");
                            //$("#FirstName").OnlyAlphabets();
                            //$("#LastName").OnlyAlphabets();
                            //$("#FatherName").OnlyAlphabets();
                            $("#PTCLNO").ForceNumericOnly();
                            $("#CellNo").ForceNumericOnly();
                            $("#ACNIC").CnicFormat();
                            $("#GuardianCNIC").CnicFormat();

                            $("#FormNo").blur(function () {
                                GetAffidavitDetails();
                             });
                        });

                        function GetAffidavitDetails() {
                            var selectedValue = $("#FormNo").val();
                            $.ajax({
                                url: "@Url.Content("~/BeliTrusts/GetAffidavitDetails")",
                                type: 'POST',
                                datatype: 'application/json',
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify({ FormNo: +selectedValue }),
                                success: function (result) {
                                    if (result == "No result found.") {

                                        return;
                                    }

                                    var result = $.parseJSON(result);

                                    $("#ApplicantName").val(result[0].ApplicantName);
                                    $("#FatherName").val(result[0].FatherName);
                                    $("#CastName").val(result[0].CastName);
                                    $("#ACNIC").val(result[0].ACNIC);
                                    $("#FamilyIncome").val(result[0].FamilyIncome);
                                    $("#Address").val(result[0].Address);
                                    $("#DeponentName").val(result[0].DeponentName);
                                    $("#DeponentFatherName").val(result[0].DeponentFatherName);
                                    $("#DeponentCNIC").val(result[0].DeponentCNIC);
                                    $("#DeponentAddress").val(result[0].DeponentAddress);
                                    $("#Witness1Name").val(result[0].Witness1Name);
                                    $("#Witness1FatherName").val(result[0].Witness1FatherName);
                                    $("#Witness1CNIC").val(result[0].Witness1CNIC);
                                    $("#Witness1Address").val(result[0].Witness1Address);
                                    $("#Witness2Name").val(result[0].Witness2Name);
                                    $("#Witness2FatherName").val(result[0].Witness2FatherName);
                                    $("#Witness2CNIC").val(result[0].Witness2CNIC);
                                    $("#Witness2Address").val(result[0].Witness2Address);
                                    $("#ReverseOf").val(result[0].ReverseOf);
                                    $("#DeponentDeclareOn").val(result[0].DeponentDeclareOn);
                                    $("#DeponentDeclareAt").val(result[0].DeponentDeclareAt);
                                    $("#DeponentDeclareOnOath").val(result[0].DeponentDeclareOnOath);

                                },
                                error: function () {
                                    alert("Something went wrong..");
                                },
                            });
                        }


                    </script>

                }


