@model CampusManagement.Models.StudentListForExamEligibilityViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Create/Update Eligible Student For Exam";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageView")
<div class="row">@{ 
    if(Model.StudentList != null) { 
    if (Model.StudentList.Count > 0)
    {
        <table style="width:100%">

            <tr style="width:100%">
                <td style="width:20%; font-size:medium;font-weight:bold;color:#07579c;padding-left:20px">
                    Exam
                </td>

            </tr>
            <tr style="width:100%">
                <td style="width:80%; font-size:medium;color:#07579c;padding-left:20px">
                    @Html.DisplayFor(modelItem => Model.ExamTitle) 

                </td>
            </tr>
            <tr style="width:100%">
                <td style="width:20%; font-size:medium;font-weight:bold;color:#07579c;padding-left:20px">
                  Course Details
                </td>
               
            </tr>
            <tr style="width:100%">
                <td style="width:80%; font-size:medium;color:#07579c;padding-left:20px">
                    @Html.DisplayFor(modelItem => Model.StudentList[0].BatchSession) (@Html.DisplayFor(modelItem => Model.StudentList[0].SemesterCode) - @Html.DisplayFor(modelItem => Model.StudentList[0].CourseName))

                </td>
            </tr>
</table>
        }
    }

}
    
</div>
<div class="row col-sm-2 pull-right">
    (<label class="control-label" style="font-size:medium">&nbsp;&nbsp;Select ALL&nbsp;&nbsp;</label>)<br />
    @Html.CheckBox("cbSelectAll", new { @class = "checkbox-inline", @style = "width:20px;height:20px;;margin-left:45px" })

</div>

@using (Html.BeginForm("CreateExamEligibleStudents", "ExamEligibleStudentForExam", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if(Model.StudentList != null) { 
    if (Model.StudentList.Count > 0)
    {
        int? StudentID = 0; <br />
        <table class="table" id="tblEligiblestudents" name="tblEligiblestudents">
            <tr>
                <th>
                    Student Detail
                </th>

                <th>
                    Is Eligible
                </th>

                <th>
                    Remarks
                </th>

            </tr>

            @*@foreach (var item in Model.StudentList)
                {*@
            @for (var i = 0; i < Model.StudentList.Count; i++)
            {
                string TDEligibleID = "DivEligibleID_" + @Model.StudentList[i].StudentBatchProgramCourseID;

                <tr>
                    <td>
                        @{
                            if (StudentID != Model.StudentList[i].StudentID)
                            {
                                <table>
                                    <tr>
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].ExamEligibleStudentForExamID)
                                        @Html.HiddenFor(modelItem => Model.ExamID)
                                        @Html.HiddenFor(modelItem => Model.ExamTitle)
                                        @Html.HiddenFor(modelItem => Model.ProgramCourseID)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].StudentBatchProgramCourseID)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].IsActive)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].CreatedOn)
                                        @Html.HiddenFor(modelItem => Model.StudentList[i].ModifiedOn)
                                        
                                      
                                        <td><label class="control-label">Name:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].StudentName)</td>
                                        <td><label class="control-label">&nbsp;Roll #:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].RollNumber)</td>
                                        <td><label class="control-label">&nbsp;Registration #:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].RegistrationNo)</td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Session:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].BatchSession)</td>
                                        <td><label class="control-label">Student Current Status:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].StudentCurrentSatatus)</td>
                                        <td><label class="control-label">&nbsp;Semester #:&nbsp;</label>@Html.DisplayFor(modelItem => Model.StudentList[i].YearSemesterNo)</td>
                                    </tr>
                                </table>
                                StudentID = Model.StudentList[i].StudentID;
                            }
                        }
                    </td>

                    <td id="@TDEligibleID">

                        @*@if (Model.StudentList[i].IsEligible == true)
                        {
                          
                            @Html.CheckBoxFor(Model => Model.StudentList[i].IsEligible, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px"><span style="color:red">Allready Added & Eligible</span>  </label>
                        }
                        else
                        {*@
                            @Html.CheckBoxFor(Model => Model.StudentList[i].IsEligible, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })
                        @*}*@

                    </td>


                    <td>
                           @Html.EditorFor(Model => Model.StudentList[i].Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    </td>


             
                </tr>
                            }
        </table>

        <div class="row col-lg-1 pull-right">

            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
                                    }
                                }

                            }

<script type="text/javascript">

        $(document).ready(function () {

            $('#cbSelectAll').click(function () {

                if ($('#cbSelectAll').is(':checked')) {
                    //$(this).prop('checked',false);

                    $('#tblEligiblestudents td').each(function () {
                        var cellText = $(this).html();
                        var cellid = $(this).attr('id');
                        //  alert(cellid + cellText);
                        var FindId = "#" + cellid;
                        $(FindId).children('input[type=checkbox]').each(function () {
                                    var cbId = $(this).attr('id');
                                    var cbidhash = "#" + cbId
                                    $(cbidhash).attr('checked', true);
                            })
                    //    $(FindId).children('div').each(function () {
                    //        var divId = $(this).attr('id');
                    //        alert(divId);
                    //})

                });
                } else {
                    //$(this).prop('checked',true);

                    $('#cbSelectAll').attr('checked', true);
                    return false;
                }

            })


        });

</script>

