@model CampusManagement.Models.ExamStudentAdmitCardDetailsViewModel
@using CampusManagement.Models
<!-- Include Twitter Bootstrap and jQuery: -->
<!-- Include the plugin's CSS and JS: -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery-2.1.1.min.js"></script>
<script src="~/assets/js/bootstrap-multiselect.js"></script>
<link href="~/assets/css/bootstrap-multiselect.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "ExamStudentAdmitCard", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12"> Exam Student Admit Cards</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">

        <div class="col-sm-4">
            <label>Exam</label>
            @Html.DropDownListFor(model => model.ExamID, null, "--Please Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })

        </div>




    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>

    </div>

}

@{

    string errorstring = ViewBag.MessageType;
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();

    int hdnExamID = (ViewBag.hdnExamID == null) ? 0 : ViewBag.hdnExamID;

    if (errorstring == "")
    {
        Model.StudentListForExam = dbc.GetExamStudentAdmitCard(hdnExamID).ToList();

    }


    <input name="hdnExamID" value="@ViewBag.hdnExamID" type="hidden" id="hdnExamID" />

    <table style="width:100%">
        <tr style="width:100%">
            <td style="width:100%; vertical-align:top">
                
                <div id="divAllAdidCardPrint" name="divAllAdidCardPrint">
                    @if (Model.StudentListForExam.Count > 0)
                    {
                        string btnAllStudentID = "btnAllStudentID";
                        for (var x = 0; x < Model.StudentListForExam.Count; x++)
                        {
                            btnAllStudentID = btnAllStudentID + "_" + Model.StudentListForExam[x].StudentID;
                        }
                        <table style="width:100%">
                            <tr style="width:100%">
                                <td style="width:100%; text-align:right">
                                    <input id="@btnAllStudentID" type="submit" class="btn btn-primary" value="Print ALL Admit Card" onclick="@("PrintAllStudentAdmitCard('"+btnAllStudentID+"')")" />
                                </td>
                            </tr>
                        </table>

                        for (var z = 0; z < Model.StudentListForExam.Count; z++)
                        {
                            string divstudentadmidcardID = "divstudentadmidcardID_" + Model.StudentListForExam[z].StudentID;
                            string btnAdmitCardID = "btnAdmitCardID_" + Model.StudentListForExam[z].StudentID;

                            <br />

                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td style="width:100%; text-align:right">
                                        <input id="@btnAdmitCardID" type="submit" class="btn btn-primary" value="Print Admit Card" onclick="@("PrintStudentAdmitCard('"+divstudentadmidcardID+"')")" />
                                    </td>
                                </tr>
                            </table>
                            <div id=@divstudentadmidcardID name=@divstudentadmidcardID style=" background-color:lightyellow;">
                                <div style="page-break-before: always; border:solid;border-width:2px;border-color:lightgray;" >
                                    @{
                                        Model.StudentsAdmitCardList = dbc.GetExamStudentAdmitCardDetails(hdnExamID, Model.StudentListForExam[z].StudentID).ToList();
                                    }
                                    @if (Model.StudentsAdmitCardList.Count > 0) { 
                                    for (var i = 0; i < Model.StudentsAdmitCardList.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <table style="width:100%">
                                                <tr style="width:100%">
                                                    <td style="width:10%"></td>
                                                    <td style="width:70%; text-align:center;margin-left:10px">
                                                        <h3>
                                                            <b> Admit Card</b>
                                                        </h3>
                                                        <h3>
                                                            <b> @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].ExamTitle)</b>
                                                        </h3>
                                                    </td>
                                                    <td style="width:20% ; vertical-align:top"><img style="width: 12em;height: 3em;margin-top:10px" class="img-responsive" src="@Url.Content("~/assets/img/iqra/logo.png")"></td>
                                                </tr>
                                            </table>
                                            <table style="width:100%">
                                                <tr style="width:100%">
                                                    <td style="width:83%">
                                                        <table style="width:100%">
                                                            <tr style="width:100%">
                                                                <td style="width:23%;"><b style="margin-left:10px">Name:</b></td>
                                                                <td style="width:70%">@Model.StudentsAdmitCardList[i].StudentName</td>
                                                            </tr>
                                                            <tr style="width:100%">
                                                                <td style="width:30%"><b style="margin-left:10px">Registration No:</b></td>
                                                                <td style="width:70%">@Model.StudentsAdmitCardList[i].RegistrationNo</td>
                                                            </tr>
                                                            <tr style="width:100%">
                                                                <td style="width:30%"><b style="margin-left:10px">Programme:</b></td>
                                                                <td style="width:70%">@Model.StudentsAdmitCardList[i].ProgramName (@Model.StudentsAdmitCardList[i].BatchSession)</td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                    <td style="width:17%;text-align:center">
                                                        @{
                                                            string profileImageUrl = @Model.StudentsAdmitCardList[i].Picture; //.Replace('~', ' ')
                                                         }
                                                       
                                                            <img style="width: 5em;height: 5em;margin-top:10px; margin-bottom:10px; " class="img-responsive" src="@Url.Content(profileImageUrl)">
                                                    </td>

                                                </tr>

                                            </table>

                                        }

                                             <table class="table" style="width:100%; text-align:left">
                                                                @if (i == 0)
                                                                {
                                                                    <tr style="width:100%">
                                                                        <th style="width:20%">
                                                                            Course ID
                                                                        </th>
                                                                        <th style="width:20%">
                                                                            Course Title
                                                                        </th>
                                                                        <th style="width:15%">
                                                                            Date
                                                                        </th>
                                                                        <th style="width:15%">
                                                                            Time
                                                                        </th>
                                                                        <th style="width:15%">
                                                                            Location
                                                                        </th>
                                                                        <th style="width:5%">
                                                                            Seat #
                                                                        </th>
                                                                        <th style="width:10%">
                                                                            Invigilators Sig
                                                                        </th>


                                                                    </tr>
                                                                }

                                                                <tr style="width:100%;text-align:left">
                                                                    <td style="width:20%">
                                                                        @{ int SerialNumber = i + 1;}
                                                                        Sr# @SerialNumber       @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].CourseCode)
                                                                    </td>

                                                                    <td style="width:20%">
                                                                        @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].CourseName)

                                                                    </td>
                                                                    <td style="width:15%">
                                                                        @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].ExamDateTitle)

                                                                    </td>
                                                                    <td style="width:15%">
                                                                        @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].TimeSlot)

                                                                    </td>
                                                                    <td style="width:15%">
                                                                        @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].RoomLocationName)

                                                                    </td>
                                                                    <td style="width:5%">
                                                                        @Html.DisplayFor(modelItem => Model.StudentsAdmitCardList[i].SeatNumber)

                                                                    </td>
                                                                    <td style="width:10%">
                                                                        ___________

                                                                    </td>
                                                                </tr>

                                                            </table>



                                   }


                                    <div style="width:100%">
                                        <h4>
                                            <b>Entrance in Examination Hall will only be on the basis of this Admit Card.</b>
                                        </h4>

                                    </div>

                                    <table style="width:100%">
                                        <tr style="width:100%">
                                            <td style="width:60%">
                                                <h5>
                                                    Mobile phones are not allowed in the Examination Hall.
                                                </h5>
                                            </td>
                                            <td style="width:40%">
                                                <h4><b>Deputy Controller of Examinations.</b></h4>

                                            </td>
                                        </tr>



                                    </table>

                               }

                                </div>
                            </div>
                         }
                        }
                </div>
                
            </td>
        </tr>

    </table>



}

@section Scripts {
    <script>
        $(document).ready(function () {

        });

        function PrintStudentAdmitCard(divstudentadmidcardID) {
            var data = document.getElementById(divstudentadmidcardID).innerHTML;
            var myWindow = window.open('', '', 'height=400,width=600');
            myWindow.document.write('<html><head><title></title>');
            /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
            myWindow.document.write('</head><body >');
            myWindow.document.write(data);
            myWindow.document.write('</body></html>');
            myWindow.document.close(); // necessary for IE >= 10

            myWindow.onload = function () { // necessary if the div contain images

                myWindow.focus(); // necessary for IE >= 10
                myWindow.print();
                myWindow.close();
            };
        }
        function PrintAllStudentAdmitCard(btnAllStudentID) {
            var studentidArray = btnAllStudentID + "";
            var StudentIds = studentidArray.split('_');
            var MyCount = StudentIds.length;
            var data;
            var dataF="";

            for (var i = 1; i < MyCount ; i++) {
                var CurrentStudentID = StudentIds[i];
                var StudentDivID = "divstudentadmidcardID_" + CurrentStudentID;
                var data = document.getElementById(StudentDivID).innerHTML;
                dataF = dataF  + data;
               
            }
            var myWindow = window.open('', '', 'height=400,width=600');
            myWindow.document.write('<html><head><title></title>');
            /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
            myWindow.document.write('</head><body >');
            myWindow.document.write(dataF);
            myWindow.document.write('</body></html>');
            myWindow.document.close(); // necessary for IE >= 10

            myWindow.onload = function () { // necessary if the div contain images

                myWindow.focus(); // necessary for IE >= 10
                myWindow.print();
                myWindow.close();
            };
           // alert(btnAllStudentID);
          
        }
    </script>


    
}

