@model CampusManagement.Models.InstituteViewModel

@{
    ViewBag.Title = "Institutes";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedInstitute != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedInstitute);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedInstitute);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.Institute());
    }
}


@using (Html.BeginForm("Index", "Institutes", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-success" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedInstitute.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedInstitute.Description)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Institutes)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstituteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.InstituteID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InstituteID })
        </td>
    </tr>
    }

</table>
