@model IEnumerable<CampusManagement.Models.TimeTable>

@{
    ViewBag.Title = "Subject Wise Time Table";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style=" border-top: 1px solid #6d9b90;" />

<table id="tblTimeTable" class="table table-striped" style="font-size:11px;font-weight:bold;">
    <thead style="background:#f9bba9;">
        <tr>
            <th>
                Time Slot
            </th>
            <th>
                Monday
            </th>
            <th>
                Tuesday
            </th>
            <th>
                Wednesday
            </th>
            <th>
                Thursday
            </th>
            <th>
                Friday
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><th colspan="8" class="thead" style="background:#e5d4f5;font-size:20px;">@Html.DisplayFor(modelItem => item.CourseName)</th></tr>
            <tr>
                <td style="background:#cee6e1;">
                    @Html.Raw(item.TimeSlot)
                </td>
                <td style="background:#fbfbdf;">
                    @Html.Raw(item.Monday)
                </td>
                <td style="background:#8a6d3b24;">
                    @Html.Raw(item.Tuesday)
                </td>
                <td style="background:#fbfbdf;">
                    @Html.Raw(item.Wednesday)
                </td>
                <td style="background:#8a6d3b24;">
                    @Html.Raw(item.Thursday)
                </td>
                <td style="background:#fbfbdf;">
                    @Html.Raw(item.Friday)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var th = $("#tblTimeTable th.thead");
            var thtext = "";
            for (var i = 0; i < th.length; i++) {
                if (thtext.trim() == th[i].innerHTML.trim()) {
                    $(th[i]).remove();
                }
                else {
                    thtext = th[i].innerHTML;
                }
            }

            var theadTimeSlot = $("#tblTimeTable th.theadTimeSlot");
            var theadTimeSlotText = "";
            for (var i = 0; i < theadTimeSlot.length; i++) {
                if (theadTimeSlotText.trim() == theadTimeSlot[i].innerHTML.trim()) {
                    $(theadTimeSlot[i]).remove();
                }
                else {
                    theadTimeSlotText = theadTimeSlot[i].innerHTML;
                }
            }
        });

    </script>
}

