@model IEnumerable<CampusManagement.Models.TimeTableDataTempTable>
@using CampusManagement.Models
@{
    ViewBag.Title = "Time Table Data";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
h1{
  border-top: 3px solid #25b7c4;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
     padding-top: 15px;
  margin-bottom: 15px;
 
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{

  background-color: rgba(255,255,255,0.3);
 
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
   border-top: solid 1px #ffffff;
    border-bottom: solid 1px#ffffff;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}



/* demo styles */


body{
 
}
section{
     background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  /*margin: 50px;*/
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

   
    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        /*position: fixed;*/
        bottom: 0;
        right: 15px;
        /*border-top: 3px solid #f1f1f1;*/
         border-bottom: 3px solid #f1f1f1;
        z-index: 9;
    }
</style>


<!------ Include the above in your HEAD tag ---------->

<div class="row">
    <div class="col-sm-12 ">
        <a href="@Url.Content("~/TimeTables/TimeTableSetup")" class="btn btn-primary pull-right">Back</a>
    </div>
</div>
<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<br />
<br />


<div class="row">
    <div class="col-sm-3">
        <label for="TimeTableMainID" class="control-label">Select Time Table</label>
        <select id="TimeTableMainID" name="TimeTableMainID" class="form-control"></select>
    </div>
</div>
<br />
<button type="button" class="btn btn-primary" onclick="waitingDialog.show(); setTimeout(function () { waitingDialog.hide(); }, 3000); ">Generate Timetable</button>


<section id="tblTimeTable" class="form-popup">
    <!--for demo wrap-->
    <h1 id="timetablename"></h1>
    <div class="tbl-header">
        <table  cellpadding="0" cellspacing="0" border="0" >
            <thead>
                <tr>
                    <th scope="row">Time Slot</th>


                    <th cope="row">Monday</th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thursday
                    </th>
                    <th>
                        Friday
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div  class="tbl-content">
        <table  cellpadding="0" cellspacing="0" border="0">
            @{

                int? TimeSlotID = 0;
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td cope="row" class="tip" data-tip="my-tip">
                                @if (TimeSlotID != item.TimeSlotID)
                                {
                                    @Html.Raw(item.TimeSlotName)

                                    TimeSlotID = item.TimeSlotID;
                                }
                            </td>
                            <td rel='tooltip' data-original-title='@item.Monday,@item.TimeSlotName'>
                                @Html.Raw(item.Monday)
                            </td>
                            <td rel='tooltip' data-original-title='@item.Tuesday,@item.TimeSlotName'>
                                @Html.Raw(item.Tuesday)
                            </td>
                            <td rel='tooltip' data-original-title='@item.Wednesday,@item.TimeSlotName'>
                                @Html.Raw(item.Wednesday)
                            </td>
                            <td rel='tooltip' data-original-title='@item.Thursday,@item.TimeSlotName'>
                                @Html.Raw(item.Thursday)
                            </td>
                            <td rel='tooltip' data-original-title='@item.Friday,@item.TimeSlotName'>
                                @Html.Raw(item.Friday)
                            </td>
                        </tr>


                    }

                </tbody>
            }
        </table>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function GetTimeTableMain() {

            $.ajax({
                url: "@Url.Content("~/TimeTables/GetTimeTableMain")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,

                success: function (result) {
                    $("#TimeTableMainID").html("");
                    //$("#TimeTableMainID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#TimeTableMainID").append($('<option></option>').val(sem.TimeTableMainID).html(sem.TimeTableMainName));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }
        //$(window).on("load resize ", function () {
        //    var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        //    $('.tbl-header').css({ 'padding-right': scrollWidth });
        //}).resize();

        function openForm() {
            document.getElementById("tblTimeTable").style.display = "block";
        }
        $(document).ready(function () {
            GetTimeTableMain();
           
           
            $('.btn').on('click', function () {
                var $this = $(this);
                $this.button('loading');
                setTimeout(function () {
                    openForm();
                    $("#timetablename").html($("#TimeTableMainID option:selected").text());
                    $this.button('reset');
                }, 3000);

             
            });
           

            var th = $("#tblTimeTable th.thead");
            var thtext = "";
            for (var i = 0; i < th.length; i++) {
                if (thtext.trim() == th[i].innerHTML.trim()) {
                    $(th[i]).remove();
                }
                else {
                    thtext = th[i].innerHTML;
                }
            }


            var theadTimeSlot = $("#tblTimeTable th.theadTimeSlot");
            var theadTimeSlotText = "";
            for (var i = 0; i < theadTimeSlot.length; i++) {
                if (theadTimeSlotText.trim() == theadTimeSlot[i].innerHTML.trim()) {
                    $(theadTimeSlot[i]).remove();
                }
                else {
                    theadTimeSlotText = theadTimeSlot[i].innerHTML;
                }
            }

        });

        var waitingDialog = waitingDialog || (function ($) {
            'use strict';

            // Creating modal dialog's DOM
            var $dialog = $(
                '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                '<div class="modal-dialog modal-m">' +
                '<div class="modal-content">' +
                    '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                    '<div class="modal-body">' +
                        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                    '</div>' +
                '</div></div></div>');

            return {
                @*/**
                 * Opens our dialog
                 * @param message Custom message
                 * @param options Custom options:
                 * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
                 * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
                 */*@
                show: function (message, options) {
                    function openForm() {
                        document.getElementById("tblTimeTable").style.display = "block";
                    }
                    // Assigning defaults
                    if (typeof options === 'undefined') {
                        options = {};
                    }
                    if (typeof message === 'undefined') {
                        message = 'Loading';
                    }
                    var settings = $.extend({
                        dialogSize: 'm',
                        progressType: '',
                        onHide: null // This callback runs after the dialog was hidden
                    }, options);

                    // Configuring dialog
                    $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                    $dialog.find('.progress-bar').attr('class', 'progress-bar');
                    if (settings.progressType) {
                        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                    }
                    $dialog.find('h3').text(message);
                    // Adding callbacks
                    if (typeof settings.onHide === 'function') {
                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                            settings.onHide.call($dialog);
                        });
                    }
                    // Opening dialog
                    $dialog.modal();
                },
                /**
                 * Closes dialog
                 */
                hide: function () {
                    $dialog.modal('hide');
                }
            };

        })(jQuery);

    </script>
}


