@model IEnumerable<CampusManagement.Models.TimeTableDataTempTable>
@using CampusManagement.Models
@{
    ViewBag.Title = "Time Table Data";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    th{
    background-color: #444;
    color: #444;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(189,189,189)), color-stop(0.7, rgb(224,224,224)) );
    background: -moz-linear-gradient( center bottom, rgb(189,189,189) 39%, rgb(224,224,224) 70% );
    text-shadow: 1px 1px 1px #e9e6e6;
    font-size: 130%;
    padding: 16px !important;

    }

      /* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
</style>

<div class="row">
    <div class="col-sm-12 ">
        <a href="@Url.Content("~/TimeTables/TimeTableDataTemp")" class="btn btn-primary pull-right">Back</a>
    </div>
</div>
<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>


<button class="open-button" onclick="openForm()">Open Form</button>
<div class="container">
    <div class="row">

        <button type="button" class="btn btn-primary" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Create Time Table</button>
        @*<button type="button" class="btn btn-success" onclick="waitingDialog.show('Custom message');setTimeout(function () {waitingDialog.hide();}, 2000);">Show dialog</button>
            <button type="button" class="btn btn-warning" onclick="waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});setTimeout(function () {waitingDialog.hide();}, 2000);">Show dialog</button>*@
    </div>
</div>
<hr style="border-top: 1px solid #6d9b90;" />


    <table id="tblTimeTable"  class="table table-bordered table-hover  " style="font-size:15px;font-weight:bold;">
        <thead class="" style="background:#e7e7e7;">
            <tr>
                <th>Time Slot</th>
                <th>Monday</th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
            </tr>
        </thead>
        @{

       int? TimeSlotID = 0;
            <tbody>
                @foreach (var item in Model)
        {


                    <tr>
                        <td  class="tip" data-tip="my-tip" style="background-color:#e7e7e7;border-bottom:none; padding: 16px;">
                            @if (TimeSlotID != item.TimeSlotID)
                    {
                                @Html.Raw(item.TimeSlotName)

                    TimeSlotID = item.TimeSlotID;
                    }
                        </td>
                        <td rel='tooltip' data-original-title='@item.Monday,@item.TimeSlotName'>
                            @Html.Raw(item.Monday)
                        </td>
                        <td rel='tooltip' data-original-title='@item.Tuesday,@item.TimeSlotName'>
                            @Html.Raw(item.Tuesday)
                        </td>
                        <td rel='tooltip' data-original-title='@item.Wednesday,@item.TimeSlotName'>
                            @Html.Raw(item.Wednesday)
                        </td>
                        <td rel='tooltip' data-original-title='@item.Thursday,@item.TimeSlotName'>
                            @Html.Raw(item.Thursday)
                        </td>
                        <td rel='tooltip' data-original-title='@item.Friday,@item.TimeSlotName'>
                            @Html.Raw(item.Friday)
                        </td>
                    </tr>


        }

            </tbody>
        }
    </table>
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            function openForm() {
                document.getElementById("#tblTimeTable").style.display = "block";
            }

            $("[rel=tooltip]").tooltip({ html: true  }
                            );
            var th = $("#tblTimeTable th.thead");
            var thtext = "";
            for (var i = 0; i < th.length; i++) {
                if (thtext.trim() == th[i].innerHTML.trim()) {
                    $(th[i]).remove();
                }
                else {
                    thtext = th[i].innerHTML;
                }
            }

            var theadTimeSlot = $("#tblTimeTable th.theadTimeSlot");
            var theadTimeSlotText = "";
            for (var i = 0; i < theadTimeSlot.length; i++) {
                if (theadTimeSlotText.trim() == theadTimeSlot[i].innerHTML.trim()) {
                    $(theadTimeSlot[i]).remove();
                }
                else {
                    theadTimeSlotText = theadTimeSlot[i].innerHTML;
                }
            }

        });
        $('.btn').on('click', function () {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });
        var waitingDialog = waitingDialog || (function ($) {
            'use strict';

            // Creating modal dialog's DOM
            var $dialog = $(
                '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                '<div class="modal-dialog modal-m">' +
                '<div class="modal-content">' +
                    '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                    '<div class="modal-body">' +
                        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                    '</div>' +
                '</div></div></div>');

            return {
                @*/**
                 * Opens our dialog
                 * @param message Custom message
                 * @param options Custom options:
                 * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
                 * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
                 */*@
                show: function (message, options) {
                    // Assigning defaults
                    if (typeof options === 'undefined') {
                        options = {};
                    }
                    if (typeof message === 'undefined') {
                        message = 'Loading';
                    }
                    var settings = $.extend({
                        dialogSize: 'm',
                        progressType: '',
                        onHide: null // This callback runs after the dialog was hidden
                    }, options);

                    // Configuring dialog
                    $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                    $dialog.find('.progress-bar').attr('class', 'progress-bar');
                    if (settings.progressType) {
                        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                    }
                    $dialog.find('h3').text(message);
                    // Adding callbacks
                    if (typeof settings.onHide === 'function') {
                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                            settings.onHide.call($dialog);
                        });
                    }
                    // Opening dialog
                    $dialog.modal();
                },
                /**
                 * Closes dialog
                 */
                hide: function () {
                    $dialog.modal('hide');
                }
            };

        })(jQuery);

</script>
}

