@model CampusManagement.Models.ExamDateSheetDeatilCreateViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Create Date Sheet";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using (Html.BeginForm("CreateDateSheetInsert", "GeneraterDateSheet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h1>
            <span class="col-sm-12">
                @{ int hdnEid = ViewBag.hdnExamID;
                    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
                    Exam nt = dbc.Exams.FirstOrDefault(bp => bp.ExamID == hdnEid);
                    @Html.Raw(nt.ExamTitle)
                } :
            </span>
        </h1>
    </div>

    <div class="row">
        <h2><span class="col-sm-12">Create Exam Date Sheet</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

                    <div class="row">

                        <div class="col-sm-4 ">
                            <label>Time Slot</label>
                            @Html.DropDownList("ExamDateTimeSlotID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExamDateTimeSlotID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ExamID)
                        </div>
                    </div>
                    <br />
                    List<GetExamDatesheetSemister_Result> SemisterList = new List<GetExamDatesheetSemister_Result>();
                    Boolean hideSem1cb = false;
                    Boolean hideSem2cb = false;
                    Boolean hideSem3cb = false;
                    Boolean hideSem4cb = false;
                    Boolean hideSem5cb = false;
                    Boolean hideSem6cb = false;
                    Boolean hideSem7cb = false;
                    Boolean hideSem8cb = false;

                    SemisterList = dbc.GetExamDatesheetSemister(hdnEid).ToList();

                    for (int i = 0; i < SemisterList.Count; i++) {

                        if (SemisterList[i].YearSemesterNo == 1) {
                            hideSem1cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 2)
                        {
                            hideSem2cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 3)
                        {
                            hideSem3cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 4)
                        {
                            hideSem4cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 5)
                        {
                            hideSem5cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 6)
                        {
                            hideSem6cb = true;

                        }
                        else if (SemisterList[i].YearSemesterNo == 7)
                        {
                            hideSem7cb = true;
                        }
                        else if (SemisterList[i].YearSemesterNo == 8)
                        {
                            hideSem8cb = true;
                        }
                    }
                    <div class="row">
                        <div class="col-sm-3">

                           @if (hideSem1cb == true)
                           {
                            @Html.CheckBoxFor(Model => Model.Semister1, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(1) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                           }
                           else
                           {
                            @Html.CheckBoxFor(Model => Model.Semister1, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(1)</label>
                           }

                        </div>
                        <div class="col-sm-3">
                            @if (hideSem2cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister2, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(2) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                             @Html.CheckBoxFor(Model => Model.Semister2, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(2)</label>
                            }
                         </div>
                        <div class="col-sm-3">
                            @if (hideSem3cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister3, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(3) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.Semister3, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(3)</label>
                            }
                           
                        </div>
                        <div class="col-sm-3">
                            @if (hideSem4cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister4, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(4) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.Semister4, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(4)</label>
                            }
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            @if (hideSem5cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister5, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(5) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                              @Html.CheckBoxFor(Model => Model.Semister5, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(5)</label>
                            }
                            
                        </div>
                        <div class="col-sm-3">
                            @if (hideSem6cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister6, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(6) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.Semister6, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(6)</label>
                            }
                          
                        </div>
                        <div class="col-sm-3">
                            @if (hideSem7cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister7, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(7) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.Semister7, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(7)</label>
                            }
                          
                        </div>
                        <div class="col-sm-3">
                            @if (hideSem8cb == true)
                            {
                                @Html.CheckBoxFor(Model => Model.Semister8, new { @class = "checkbox-inline", @style = "width:20px;height:20px", @disabled = "disabled" })<label style="text-align:center;margin-left:10px">Semester(8) <span style="color:red"> All Ready Added To Some Slot</span>  </label>
                            }
                            else
                            {
                                @Html.CheckBoxFor(Model => Model.Semister8, new { @class = "checkbox-inline", @style = "width:20px;height:20px" })<label style="text-align:center;margin-left:10px">Semester(8)</label>
                            }
                            
                        </div>
                    </div>
                    if (ViewBag.IsDateSheetApproved != 1)
                    {
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="submit" value="Add" class="btn btn-primary" />

                                </div>
                            </div>
                    }
            }
