@model CampusManagement.Models.ExamDateSheetViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "My Lectures";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<hr style="border-top: 1px solid #6d9b90;" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="author" content="Darko Bunic" />
    <meta name="description" content="Drag and drop table content with JavaScript" />
    <meta name="viewport" content="width=device-width, user-scalable=no" /><!-- "position: fixed" fix for Android 2.2+ -->
    <link rel="stylesheet" href="~/assets/css/mystyle.css" type="text/css" media="screen" />
    <script type="text/javascript" src="~/Scripts//header.js"></script>
    <script type="text/javascript" src="~/Scripts//redips-drag-min.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>


    <title>Create Date Sheet</title>
</head>
<body>
    <div class="row" style="margin-bottom:20px">
        <h2><span class="col-sm-12">Create Date Sheet For  [Exam Title : @Model.ExamTitle]</span>  </h2>

        @Html.HiddenFor(model => model.ExamID)
    </div>


    @{

        int TotalSubjectCount = Model.ExamCourseList.Count;
        int DataToPlaceInColoum = Model.ExamDateList.Count * Model.ExamDateTimeSlotList.Count;
        decimal PerColoumCourseCount = Math.Ceiling(Convert.ToDecimal(Convert.ToDecimal(TotalSubjectCount) / Convert.ToDecimal(DataToPlaceInColoum)));
        CampusManagement.Models.GetExamDateSheetCoursesByIDs_Result GetExamDateSheetCoursesByIDs_ResultObj;
        CampusManagement.Models.ExamDateTimeSlot ExamDateTimeSlotObj;
        CampusManagement.Models.ExamDate ExamDateObj;
        int LastCourseIndex = 0;
        int i = 0;
        int StopIndexAt = Convert.ToInt32(PerColoumCourseCount);
        ModelCMSNewContainer dbc = new ModelCMSNewContainer();

        <center>
            <!-- drag1 DIV container -->
            <div id="redips-drag">
                <div class="row">

                    <div class="col-lg-12 pull-right">

                        <table id="tblDateSheet">
                            <colgroup>
                                <col width="200" />
                                <col width="200" />
                                <col width="200" />
                                <col width="200" />
                                <col width="200" />
                                <col width="200" />
                            </colgroup>
                            <tbody>

                                <tr>
                                    <td style="font-size:25px;font-weight:bold">Date</td>
                                    @for (int y = 0; y < Model.ExamDateTimeSlotList.Count; y++)
                                    {

                                        ExamDateTimeSlotObj = new CampusManagement.Models.ExamDateTimeSlot();
                                        ExamDateTimeSlotObj = Model.ExamDateTimeSlotList[y];
                                        string TimeSlotID = "TimeSlotID_" + ExamDateTimeSlotObj.ExamDateTimeSlotID;
                                        <td id=@TimeSlotID style="font-size:15px;font-weight:bold">@ExamDateTimeSlotObj.TimeSlot </td>
                                    }
                                </tr>

                                @for (int z = 0; z < Model.ExamDateList.Count; z++)
                                {
                                    ExamDateObj = new CampusManagement.Models.ExamDate();
                                    ExamDateObj = Model.ExamDateList[z];
                                    string ExamID = "ExamID_" + ExamDateObj.ExamDateID;


                                    <tr id=@ExamID>
                                        <td style="font-size:15px;font-weight:bold"> @ExamDateObj.ExamDateTitle</td>
                                        @for (int a = 0; a < Model.ExamDateTimeSlotList.Count; a++)
                                        {
                                            ExamDateTimeSlotObj = new CampusManagement.Models.ExamDateTimeSlot();
                                            ExamDateTimeSlotObj = Model.ExamDateTimeSlotList[a];
                                            string ExamIDTimeSlotID = "ExamIDTimeSlotID_" + ExamDateObj.ExamDateID + "_" + ExamDateTimeSlotObj.ExamDateTimeSlotID;
                                            <td id=@ExamIDTimeSlotID style="font-size:10px">


                                                @{
                                                    Model.ExamCourseList = dbc.GetExamDateSheetCoursesByIDs(Convert.ToInt32(ExamDateObj.ExamDateID), Convert.ToInt32(ExamDateTimeSlotObj.ExamDateTimeSlotID)).ToList();

                                                    for (int b = 0; b < Model.ExamCourseList.Count; b++)
                                                    {
                                                        GetExamDateSheetCoursesByIDs_ResultObj = new CampusManagement.Models.GetExamDateSheetCoursesByIDs_Result();
                                                        GetExamDateSheetCoursesByIDs_ResultObj = Model.ExamCourseList[b];

                                                        string ProgramCourseID = "ProgramCourseID_" + GetExamDateSheetCoursesByIDs_ResultObj.ExamsDateSheetDetailID + "_" + GetExamDateSheetCoursesByIDs_ResultObj.ProgramCourseID;
                                                        <div id=@ProgramCourseID class="redips-drag">
                                                            @GetExamDateSheetCoursesByIDs_ResultObj.ExamSubjectTitle  (@GetExamDateSheetCoursesByIDs_ResultObj.ProgramName (@GetExamDateSheetCoursesByIDs_ResultObj.YearSemesterNo))
                                                        </div>
                                                    }
                                                }



                                            </td>
                                    }

                                    </tr>

                               }

                            </tbody>
                        </table>

                        <div class="row pull-right">
                            <div class="col-sm-3">
                                <input id="btnSubmit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
                </div>



                <br />
                <br />

            </div>
        </center>
    }


    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnSubmit').click(function () {
                
              
                $('#tblDateSheet td').each(function () {
                    var cellText = $(this).html();
                    var cellid = $(this).attr('id');
                   //  alert(cellid + cellText);
                    var FindId = "#" + cellid;
                    $(FindId).children('div').each(function () {
                        var divId = $(this).attr('id');
                        var array = divId.split("_");
                        var ExamsDateSheetDetailID = array[1];
                        var ProgramCourseID = array[2];
                       // alert(ExamsDateSheetDetailID + "=" + ProgramCourseID);
                        var arrayExam = cellid.split("_");
                        var ExamDateID = arrayExam[1];
                        var ExamDateTimeSlotID = arrayExam[2];
                       // alert(ExamsDateSheetDetailID + "=" + ExamDateID + "=" + ExamDateTimeSlotID + " =" + ProgramCourseID);
                        $.ajax({
                            url: "@Url.Content("~/GeneraterDateSheet/UpdateDateSheetInsert")",
                            type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify({ ExamsDateSheetDetailID: +ExamsDateSheetDetailID, ExamDateID: +ExamDateID, ExamDateTimeSlotID: +ExamDateTimeSlotID, ProgramCourseID: +ProgramCourseID }),
                        success: function (result) {
                          //  alert(result);
                        },
                        error: function (ex) {
                         //   alert(ex.error);
                        },
                        }); 
                    })

                });
            })
        });

    </script>

</body>
</html>