@model CampusManagement.Models.FormSaleDetail
@using CampusManagement.Models
<h4 class="alert alert-info">Are you sure you want to delete this?</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FormNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FormType.FormTypeName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormType.FormTypeName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.DepositType.DepositTypeName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositType.DepositTypeName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FormPrice)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormPrice)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ApplicantName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FatherName)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PhoneNo)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CNIC)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>
        
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PurchaseDate)</label>
        </dt>

        <dd>
            @{
                string pd = Model.PurchaseDate.Value.ToShortDateString();
            }
            @Html.Raw(pd)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.IsActive)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" />
            <a href="@Url.Content("~/FormSaleDetails/Index")" class="btn btn-success">Cancel</a>
        </div>
    }
</div>
