@model CampusManagement.Models.FormSaleDetailsViewModel

@{
    ViewBag.Title = "Form Sale Detail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("PostForm", "FormSaleDetails", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em ;">
        <div class="col-sm-4 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-4">

            <input type="date" class="form-control" placeholder="StartDate" name="StartDate" />
        </div>
        <div class="col-sm-4">

            <input type="date" class="form-control" placeholder="EndDate" name="EndDate" />
        </div>
        <div class="col-sm-1"><br />
            <button type="submit" class="btn btn-success" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

@using (Html.BeginForm("PostVouchers", "FormSaleDetails", FormMethod.Post))
{
    int i = 1;
    <input type="hidden" id="hdnTotalCount" name="hdnTotalCount" value="@Model.FormSaleDetails.Count" />
<table class="table">
    <tr>
        <th>
            @Html.HiddenFor(model => model.SelectedFormSaleDetail.FormID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.FormNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.ApplicantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.FormType.FormTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.DepositType.DepositTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.FormPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedFormSaleDetail.PurchaseDate)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.FormSaleDetails)
    {
        string FormID = string.Concat("hdnFormID_", i);
    <tr>
        <td>
            <input type="hidden" id="@FormID" name="@FormID" value="@item.FormID" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormType.FormTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositType.DepositTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormPrice)
        </td>
        <td>
            @{
                string purchaseDate = "";
                if (item.PurchaseDate != null)
                {
                    DateTime pd = (DateTime)item.PurchaseDate;
                    purchaseDate = pd.ToString("MM/dd/yyyy");
                }
            }
            @Html.Raw(purchaseDate)
        </td>
        <td>
            <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?ReportName=rptFormSaleSlip&FormID=")@item.FormID" target="_blank">Slip</a>
        </td>
    </tr>
                    i++;
                }
</table>
<div class="col-sm-1">
    <button type="submit" class="btn btn-success">
        Post Vouchers
    </button>
</div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#PurchaseDate").mask("99/99/9999");
            $("#FormPrice").ForceNumericOnly();
            ShowHideBankDetail();
            $("#DepositTypeID").change(function () {
                ShowHideBankDetail();
            });
        });

        function ShowHideBankDetail() {
            var DepositType = $("#DepositTypeID option:selected").text();
            if (DepositType.toLowerCase() == "bank") {
                $("#divAccountID").css("display", "block");
                $("#divDepositSlipNo").css("display", "block");
            }
            else {
                $("#divAccountID").css("display", "none");
                $("#divDepositSlipNo").css("display", "none");
            }
        }
    </script>
}

