
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MyLoginLayout2.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Home", new { returnURL = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form", @style = "Position:absolute" }))
{
    <img src="@Url.Content(@MvcApplication.CompanyLogo)" alt="Alternate Text" style="margin-top: -10em; margin-left: 14%; width: 70%; ">
    <div class="wrap-input100 validate-input" data-validate="User Name is required">
        <input class="input100" type="email" name="ToEmail" placeholder="Enter Registered Email" autocomplete="off" required>
        <span class="focus-input100"></span>
    </div>
    <div class="flex-sb-m w-full" style="margin-bottom:8px;">
        <div>
            <a href="@Url.Content("~/Home/Login2")" class="txt1">
                Already Registered
            </a>
        </div>
        <div>
            <a href="@Url.Content("~/Home/RegisterApplicant")" class="txt1">
                Register
            </a>
        </div>
    </div>
    <div>
        @{
            if (ViewBag.MessageType == "error")
            {
                <span style="color:white;">@Html.Raw(ViewBag.ErrorMessage)</span>
            }
            if (ViewBag.MessageType == "success")
            {
                <span style="color:white;">@Html.Raw(ViewBag.ErrorMessage)</span>
            }
        }

    </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Submit
            </button>
            <input type="hidden" value="false" id="LoginAsApplicant" />
        </div>
}

