
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLoginLayout2.cshtml";
}

@using (Html.BeginForm("Login3", "Home", new { returnURL = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form", @style = "Position:absolute" }))
{
    <img src="@Url.Content(@MvcApplication.CompanyLogo)" alt="Alternate Text" style="margin-top: -10em; margin-left: 14%; width: 70%; ">
    <div class="wrap-input100 validate-input" data-validate="User Name is required">
        <input class="input100" type="text" name="UserName" placeholder="User Name / Email" id="UserName"  value="&nbsp;" autocomplete="off" >
        <span class="focus-input100"></span>
    </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="Password" placeholder="Password" value="" id="Password" autocomplete="off">
            <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full" style="margin-bottom:8px;">
            <div class="contact100-form-checkbox" style="display:none;">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="LoginAsApplicant">
                <label class="label-checkbox100" for="ckb1">
                    Login as Applicant
                </label>
            </div>
            <div>
                <a href="@Url.Content("~/Home/ForgotPassword")" class="txt1">
                    Forgot Password?
                </a>
            </div>
            <div>
                <a href="@Url.Content("~/Home/RegisterApplicant")" class="txt1">
                    Register
                </a>
            </div>
        </div>
        <div style="color:white;">
            @ViewBag.ErrorMessage
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Login
            </button>
            <input type="hidden" value="false" id="LoginAsApplicant" />
        </div>
}

<script>
    $(document).ready(function () {
        $("#ckb1").click(function () {
            var chkvalue = $("#ckb1").prop("checked");
            $("#LoginAsApplicant").val(chkvalue);
       
        });
    });
</script>

