
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLoginLayout2.cshtml";
}
    
@using (Html.BeginForm("Login2", "Home", new { returnURL = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form", @style = "Position:absolute" }))
{      
        <img src="@Url.Content(@MvcApplication.CompanyLogo)" alt="Alternate Text" style="margin-top: -10em; margin-left: 14%; width: 70%; ">
        @*<label class="txt1" style="font-weight:bold;display:none;">Login As</label>
        <select class="size1 dropdown_custom" id="Designation_Name" name="Designation_Name" style="display:none;">
            <option value="Applicant" selected>Applicant</option>
            <option value="Student">Student</option>
            <option value="Employee">Employee</option>
            <option value="AlumniUser">AlumniUser</option>
        </select>*@
        <div class="wrap-input100 validate-input" data-validate="User Name is required">
            <input class="input100" type="text" name="UserName" placeholder="User Name / Email" autocomplete="off">
            <span class="focus-input100"></span>
         </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="Password" placeholder="Password" autocomplete="off">
            <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full" style="margin-bottom:8px;">
            <div class="contact100-form-checkbox" style="display:none;">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="LoginAsApplicant">
                <label class="label-checkbox100" for="ckb1">
                    Login as Applicant
                </label>
            </div>
            <div>
                <a href="@Url.Content("~/Home/ForgotPassword")" class="txt1">
                    Forgot Password?
                </a>
            </div>
            <div>
                <a href="@Url.Content("~/Home/RegisterApplicant")" class="txt1">
                    Register
                </a>
            </div>
        </div>
        <div>
            @{
                if (ViewBag.MessageType == "error")
                {
                    <span style="color:red;">@Html.Raw(ViewBag.ErrorMessage)</span>
                }
                if (ViewBag.MessageType == "success")
                {
                    <span style="color:green;">@Html.Raw(ViewBag.ErrorMessage)</span>
                }
            }

        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Login
            </button>
            <input type="hidden" value="false" id="LoginAsApplicant" />
        </div>
}

<script>
    $(document).ready(function () {
       
        if(@ViewBag.scripCall == "1"){

            EraseAllRecords();
        }

        $("#ckb1").click(function () {
            var chkvalue = $("#ckb1").prop("checked");
            $("#LoginAsApplicant").val(chkvalue);
        });
    });

    function EraseAllRecords() {
        eraseCookie('UserName', "", -1);
        eraseCookie('MobileNumber', "", -1);
        eraseCookie('Emaill', "", -1);
        eraseCookie('CNIC', "", -1);
        eraseCookie('UserPassword', "", -1);
        eraseCookie('ReEnterPassword', "", -1);
    }

    function eraseCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }
</script>

