@model CampusManagement.Models.RoomsViewModel

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedRoom != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedRoom);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedRoom);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.Room());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedRoom.RoomType.RoomTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedRoom.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedRoom.RoomCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedRoom.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Rooms)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.RoomID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomID })
            </td>
        </tr>
    }

</table>

