@model CampusManagement.Models.tt_GetTimeTableManualTimeSlot_Result

@using (Html.BeginForm("Create", "TimeTableManualTimeSlots", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:-35px !important">
        <div class="col-sm-12 ">
            @*<input type="submit" value="Add" class="btn btn-primary" />*@
            <a href="@Url.Content("~/TimeTableManualTimeSlots/Index")" class="btn btn-primary pull-right">Back</a>
        </div>
    </div>
    <div class="row">
        <h2><span class="col-sm-12">Add Time Manual Slots</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")
  
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DayName,"Day",htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("DayName", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DayName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.TimeTableSlotID,"Time Slot", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("TimeTableSlotID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TimeTableSlotID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.RoomID,"Room", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RoomID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
        </div>
        
       
        
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a href="@Url.Content("~/TimeTableManualTimeSlots/Index")" class="btn btn-primary">Refresh</a>
          
        </div>
    </div>
}
