@model CampusManagement.Models.ApplicantQualification
@using CampusManagement.Models
@{
    string FormNo = ViewBag.FormNo;
}
@Html.Partial("_ApplicantAdmissionTabsView")
<div class="row">
    <h2><span class="col-sm-12">Choose Program</span></h2>
</div>


<hr style="border-top: 1px solid #6d9b90;" />

@Html.Partial("_ApplicantInformation", FormNo)

<hr style="border-top: 1px solid #6d9b90;" />

@Html.Partial("_MessageViewTempData")
@Html.Partial("_MessageView")
@using (Html.BeginForm("Create", "ApplicantQualifications", new { FormNo = ViewBag.FormNo, SubmitType = "AddProgram" }, FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin-bottom:10px" }))
{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    @Html.AntiForgeryToken();
    
    Applicant ApplicantObj = new Applicant();
    ApplicantObj = dbc.Applicants.FirstOrDefault(x => x.FormNo == FormNo);
    GetApplicantLevel_Result Al = dbc.GetApplicantLevel(FormNo).FirstOrDefault();
    int? LevelID = 0;
    if (Al != null)
    {
        LevelID = Al.LevelID;
    }

    <input type="hidden" id="hdnLevelID" value="@LevelID" name="hdnLevelID">
    <div class="divHeading">
        <a data-toggle="collapse" data-target="#hide10"><h4 class="fa fa-level-down" aria-hidden="true">  Applicant Status </h4></a>
    </div>
    
    <input id="ApplicantStatus" name="ApplicantStatus" type="hidden" />
    <div class="row" id="hide10" style="font-size:13px;font-weight:bold;margin:5px;font-family: monospace;">
        @{
            List<GetInstituteStatus_Result> lstStatus = dbc.GetInstituteStatus(FormNo, 0).ToList();
            foreach (var status in lstStatus)
            {
                string checkBoxID = string.Concat("chk_", status.InstituteStatusID);
                if (status.IsChecked == 1)
                {
                    <sapn><input id="@checkBoxID" type="checkbox" value="@status.InstituteStatusID" checked="checked" onclick="GetStatusCheckboxes();" />@status.InstituteStatusName</sapn>
                }
                else
                {
                    <sapn><input id="@checkBoxID" type="checkbox" value="@status.InstituteStatusID" onclick="GetStatusCheckboxes();" />@status.InstituteStatusName</sapn>
                }
            }
        }
    </div>
    <div class="row">
        <span class="error">-- Please select at least one CheckBox --</span>
    </div>

        <div class="divHeading">
            <a data-toggle="collapse" data-target="#hide4"><h4 class="fa fa-level-down" aria-hidden="true"> Program Info </h4></a>
        </div>
        <div id="hide4">
            <div class="row">
                <div class="col-sm-6">

                    <label>Previous Education Level</label>
                    @Html.DropDownListFor(model => model.LevelID, null, htmlAttributes: new { @class = "form-control", @value = Al.LevelID })
                    @Html.ValidationMessageFor(model => model.LevelID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">

                    <label>Department</label>
                    @Html.DropDownListFor(model => model.FacultyID, null, htmlAttributes: new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.BatchProgramID1, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.BatchProgramID1, null, "--Please Select--", htmlAttributes: new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.BatchProgramID1, "", new { @class = "text-danger" })
                </div>
                @*<div class="col-sm-6 hidden">
                        @Html.LabelFor(model => model.LevelID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LevelID, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LevelID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.BatchID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.BatchID, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
                    </div>*@
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Department</label>
                    @Html.DropDownListFor(model => model.FacultyID1, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacultyID1, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    @Html.LabelFor(model => model.BatchProgramID2, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.BatchProgramID2, null, "--Please Select--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BatchProgramID2, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    <label>Department</label>
                    @Html.DropDownListFor(model => model.FacultyID2, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacultyID2, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.BatchProgramID3, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.BatchProgramID3, null, "--Please Select--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BatchProgramID3, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-primary" id="save" />
        </div>
        }
<style>
    .error {
        color: red;
        display: none;
    }
</style>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tab2").css("background", "#eee");
            $('input.remove').on('change', function () {
                $('input.remove').not(this).prop('checked', false);
            });
            GetStatusCheckboxes();

            $("#save").click(function () {
                var checked_checkboxes = $("#hide10 input[type=checkbox]:checked");
                if (checked_checkboxes.length == 0) {
                    $(".error").show();
                    return false;
                }
                return true;
            });

            $("#LevelID").val($("#hdnLevelID").val());
            var BatchID = "3004";
            GetPrograms_by_FacultyLevelBatch(0, BatchID, "#FacultyID", "1");
            GetPrograms_by_FacultyLevelBatch(0, BatchID, "#FacultyID1", "1");
            GetPrograms_by_FacultyLevelBatch(0, BatchID, "#FacultyID2", "1");

            GetSelectedPrograms("dept", "#BatchProgramID1");
            GetSelectedPrograms("dept", "#BatchProgramID2");
            GetSelectedPrograms("dept", "#BatchProgramID3");

            var FacultyID = $("#FacultyID").val();
            if (FacultyID == null || FacultyID == undefined || FacultyID == 0) {
                FacultyID = 0;
            }
            GetPrograms_by_FacultyLevelBatch(FacultyID, 0, "#BatchProgramID1", "0");

            FacultyID = $("#FacultyID1").val();
            if (FacultyID == null || FacultyID == undefined || FacultyID == 0) {
                FacultyID = 0;
            }
            GetPrograms_by_FacultyLevelBatch(FacultyID, 0, "#BatchProgramID2", "0");

            FacultyID = $("#FacultyID2").val();
            if (FacultyID == null || FacultyID == undefined || FacultyID == 0) {
                FacultyID = 0;
            }
            GetPrograms_by_FacultyLevelBatch(FacultyID, 0, "#BatchProgramID3", "0");
            
            var thisKey = $("#BatchProgramID1").val();
            if (thisKey != "0" && thisKey != "") {
                $("#BatchProgramID2 > option[value='" + thisKey + "']").remove();
            }

            thisKey = $("#BatchProgramID1").val();
            if (thisKey != "0" && thisKey != "") {
                $("#BatchProgramID3 > option[value='" + thisKey + "']").remove();
            }

            thisKey = $("#BatchProgramID2").val();
            if (thisKey != "0" && thisKey != "") {
                $("#BatchProgramID3 > option[value='" + thisKey + "']").remove();
            }

            $("#FacultyID").change(function () {
                FacultyID = $("#FacultyID").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID1", "0");
            });

            $("#FacultyID1").change(function () {
                //FacultyID = $("#FacultyID1").val();
                //GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID2", "0");
                BatchProgramID = $("#BatchProgramID1").val();
                FacultyID = $("#FacultyID1").val();
                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID2", "0", BatchProgramID);

                BatchProgramID = $("#BatchProgramID1").val() + "," + $("#BatchProgramID2").val();
                FacultyID = $("#FacultyID2").val();
                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID3", "0", BatchProgramID);
            });

            $("#FacultyID2").change(function () {
                //FacultyID = $("#FacultyID2").val();
                //GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID3", "0");
                BatchProgramID = $("#BatchProgramID1").val() + "," + $("#BatchProgramID2").val();
                FacultyID = $("#FacultyID2").val();
                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID3", "0", BatchProgramID);
            });

            $("#BatchID").change(function () {
                FacultyID = 0;//$("#FacultyID").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID1", "0");
                //FacultyID = $("#FacultyID1").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID1", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID2", "0");
                //FacultyID = $("#FacultyID2").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID2", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID3", "0");
            });

            $("#LevelID").change(function () {
                FacultyID = 0;//$("#FacultyID").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID1", "0");
                //FacultyID = $("#FacultyID1").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID1", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID2", "0");
                //FacultyID = $("#FacultyID2").val();
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#FacultyID2", "1");
                GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, "#BatchProgramID3", "0");
            });

            $("#BatchProgramID1").change(function () {
                var BatchID = "0";
                BatchProgramID = $("#BatchProgramID1").val();
                FacultyID = $("#FacultyID1").val();
           
                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID2", "0", BatchProgramID);

                FacultyID = $("#FacultyID2").val();

                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID3", "0", BatchProgramID);
            });

            $("#BatchProgramID2").change(function () {
                var BatchID = "0";

                BatchProgramID = $("#BatchProgramID1").val() + "," + $("#BatchProgramID2").val();
                FacultyID = $("#FacultyID2").val();
                GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, "#BatchProgramID3", "0", BatchProgramID);
            });
        });

        function GetPrograms_by_FacultyLevelBatch(FacultyID, BatchID, DropDownID, QueryID) {
            $(DropDownID).html("");
            var LevelID = $("#LevelID").val();
            $.ajax({
                url: "@Url.Content("~/ApplicantQualifications/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                cache: false,
                data: JSON.stringify({ FacultyID: +FacultyID, BatchID: +BatchID, LevelID: +LevelID, QueryID: +QueryID }),
                success: function (result) {

                    $(DropDownID).append($('<option></option>').val("").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $(DropDownID).append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });

                    GetSelectedPrograms("prog", DropDownID);
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetPrograms_by_FacultyLevelBatchFilter(FacultyID, BatchID, DropDownID, QueryID, BatchProgramID) {
            $(DropDownID).html("");
            var LevelID = $("#LevelID").val();
            $.ajax({
                url: "@Url.Content("~/ApplicantQualifications/GetPrograms_by_FacultyLevelBatchFilter")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                cache: false,
                data: JSON.stringify({ FacultyID: +FacultyID, BatchID: +BatchID, LevelID: +LevelID, QueryID: +QueryID, BatchProgramID: BatchProgramID }),
                success: function (result) {

                    $(DropDownID).append($('<option></option>').val("").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $(DropDownID).append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });

                    GetSelectedPrograms("prog", DropDownID);
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetSelectedPrograms(text, DropDownID) {
            $.ajax({
                url: "@Url.Content("~/ApplicantQualifications/GetSelectedPrograms")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                success: function (result) {
                    $.each($.parseJSON(result), function (i, prog) {
                        if (text == "dept") {
                            if (DropDownID == "#BatchProgramID1") {
                                if (prog.ProgramPriority == 1) {
                                    $("#FacultyID").val(prog.FacultyID);
                                }
                            }
                            else if (DropDownID == "#BatchProgramID2") {
                                if (prog.ProgramPriority == 2) {
                                    $("#FacultyID1").val(prog.FacultyID);
                                }
                            }
                            else if (DropDownID == "#BatchProgramID3") {
                                if (prog.ProgramPriority == 3) {
                                    $("#FacultyID2").val(prog.FacultyID);
                                }
                            }
                        }
                        else if (text == "prog") {
                            if (DropDownID == "#BatchProgramID1") {
                                if (prog.ProgramPriority == 1) {
                                    $("#BatchProgramID1").val(prog.BatchProgramID);
                                }
                            }
                            else if (DropDownID == "#BatchProgramID2") {
                                if (prog.ProgramPriority == 2) {
                                    $("#BatchProgramID2").val(prog.BatchProgramID);
                                }
                            }
                            else if (DropDownID == "#BatchProgramID3") {
                                if (prog.ProgramPriority == 3) {
                                    $("#BatchProgramID3").val(prog.BatchProgramID);
                                }
                            }
                        }
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetStatusCheckboxes()
        {
            var checked_checkboxes = $("#hide10 input[type=checkbox]:checked");
            var values = "";
            $.each(checked_checkboxes, function (i, status) {
                values = values + status.value + ",";
            });
            $("#ApplicantStatus").val(values.substring(0, values.length - 1));
        }

    </script>
}
