@model CampusManagement.Models.ScholarshipCatagoryViewModel

@{
    ViewBag.Title = "ScholarshipCatagories";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedScholarshipCatagory != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedScholarshipCatagory);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedScholarshipCatagory);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.ScholarshipCatagory());
    }
}

<table class="table">
    <tr>

        <th>
            Scholarship Catagory
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipCatagory.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipCatagory.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipCatagory.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipCatagory.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedScholarshipCatagory.ModifiedBy)
        </th>
       
        
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.ScholarshipCatagories)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarshipCatagoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
       
        
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.ScholarshipCatagoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ScholarshipCatagoryID, onclick = "return confirm('Are you sure you want to remove this record?');" })
        </td>
    </tr>
    }

</table>
