@model CampusManagement.Models.ChallansViewModel
@{
    ViewBag.Title = "Approve Challans";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Search", new CampusManagement.Models.Challan());
    }
}

<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Approve</th>
        <th>Challan</th>
    </tr>
    @foreach (var item in Model.Challans)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Picture)" style="width:70px; height:70px;border-radius:150px;" />
            </td>
            <td>
                <table class="table-striped">
                    <tr>
                        <td>
                            <label class="control-label">Student ID : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">First Name : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Last Name : </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                
            </td>
            <td>
               
            </td>
            <td>
                
            </td>
        </tr>
    <tr>
        <td colspan="3">
            <table class="table-striped">
                <tr>
                    <td>
                        <label class="control-label">Challan# : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChallanID)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Batch : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Program : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Issue Date : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Last Date : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Bank : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account_No)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Amount : </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Deposit Date : </label>
                    </td>
                    <td>
                        @{ 
                            if(item.DepositDate != null)
                            {
                                @Html.Raw(item.DepositDate)
                            }
                            else
                            {
                                string inputName = string.Concat("dDate", item.ChallanID);
                                string spanName = string.Concat("span", item.ChallanID);
                                <input id="@inputName" class="form-control" style="width:100px;" />
                                <span id="@spanName" style="color:red;"></span>
                            }
                        }
                        
                    </td>
                </tr>
            </table>
        </td>
        <td>
            @{
                if (item.IsDeposited == "Yes")
                {
                    <span style="color:green; font-weight:bold;">Approved</span>
                }
                else
                {
                    <input type="button" class="btn btn-success" value="Approve" onclick="ApproveStudentChallan(@item.ChallanID);" />
                }
            }
        </td>
        <td>
            <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?ReportName=rptGetChallan&ChallanID=")@item.ChallanID" target="_blank">Challan</a>
        </td>
    </tr>
    }

</table>

@section Scripts {
<script>
        $(document).ready(function () {
            GetBatchProgramSemesterList();
            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
            });
        });

        function GetBatchProgramSemesterList() {
            var BatchProgramID = $("#BatchProgramID").val();
            $.ajax({
                url: "@Url.Content("~/Challans/GetBatchProgramSemesterList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchProgramID: + BatchProgramID }),
                success: function (result) {
                    $("#YearSemesterNo").html("");
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function ApproveStudentChallan(ChallanID) {
            var depositDate = $("#dDate" + ChallanID).val();
            $.ajax({
                url: "@Url.Content("~/Challans/ApproveStudentChallan")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ ChallanID: + ChallanID, depositDate: depositDate }),
                success: function (result) {
                    if (result != "success" && result != "error") {
                        $("#span" + ChallanID).html(result);
                    }
                    else if (result == "success") {
                        window.location = "@Url.Content("~/Challans/ApproveChallans?")";
                    }
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }
</script>
}

