@model CampusManagement.Models.RosterDispatchListViewModel
@using CampusManagement.Models

@{ 
    <div class="row">
        <h2><span class="col-sm-12">Duty Roster List</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

  
    <br />
    if (Model.RosterDispatchList.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Exam Subject Details
                </th>
                <th>
                   
                </th>
            </tr>
           

                <tr>
                    <td>
                        <span style="font-weight:bold"> Room(Capicity):</span> <span style="color:red"> @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].RoomName) (@Html.DisplayFor(modelItem => Model.RosterDispatchList[0].RoomCapacity))</span><br />
                        <span style="font-weight:bold">Subject: </span> @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].CourseCode) - @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].CourseName) <span style="color:red">( Semester# :  @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].YearSemesterNo) )</span><br />
                         <span style="font-weight:bold">Session : </span>  @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].BatchSession) <span style="color:red">( Program:  @Html.DisplayFor(modelItem => Model.RosterDispatchList[0].ProgramName) )</span><br />
                        <span style="font-weight:bold"> Eligible Student Count:</span> <span style="color:red">(@Html.DisplayFor(modelItem => Model.RosterDispatchList[0].StudentCount))</span><br />

                    </td>
                       
                    <td>
                        
                        <table style="width:100%">
                            <tr>
                                
                                <th>
                                    Lecturers Detail
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                            @for (var z = 0; z < Model.RosterDispatchList.Count; z++)
                            {
                                string btnId = "btn_" + Model.RosterDispatchList[z].ExamRosterDetailID;
                                string TrId = "TrId_" + Model.RosterDispatchList[z].ExamRosterDetailID;
                                string ExamRosterDetailID = Model.RosterDispatchList[z].ExamRosterDetailID.ToString();


                                <tr style="width:100%;" id="@TrId" name="@TrId">
                                    <td style="width:70%">
                                        @{int SerialNumeber = z + 1;  } 
                                        <span style="font-weight:bold"> Sr# @SerialNumeber: </span>   @Html.DisplayFor(modelItem => Model.RosterDispatchList[z].UserName) (@Html.DisplayFor(modelItem => Model.RosterDispatchList[z].Designation))
                                   </td>
                                    <td style="width:30%">
                                      
                                        <input id="@btnId" type="submit" class="btn btn-primary" style="margin-top:5px" value="Remove Dispatch" onclick="@("RemoveRoster('"+ExamRosterDetailID+"')")" />

                                    </td>
                                </tr>
                            }
                        </table>

                    </td>
                       
                    
                    
                </tr>

                            
        </table>
                    <br />
              }
                                            

}
@section Scripts {
    <script>
        $(document).ready(function () {

        });


        function RemoveRoster(ExamRosterDetailID) {
            var btnsubmit = "#btn_" + ExamRosterDetailID;
            $.ajax({
                url: "@Url.Content("~/ExamRosterDispatch/RemoveRosterDispatch")",
                type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ ExamRosterDetailID: ExamRosterDetailID}),
            success: function (result) {
                if (result != "") {
                    var TrRemove = result.replace('"', '');
                    var TrRemoveF = TrRemove.replace('"', '');
                    var TrToRemoveID = "#TrId_" + TrRemoveF;
                    $(TrToRemoveID).remove();
                    alert("Successfully Removed");
                } else {
                    alert("Unable To Removed");
                }
                

            },
            error: function (ex) {
                alert(ex.error);
            },
            });

        }
    </script>
}
