@model CampusManagement.Models.OBE_LevelViewModel

@{
    ViewBag.Title = "OBE Level";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedOBE_Level != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedOBE_Level);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedOBE_Level);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.OBE_Level());
    }
}

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.SelectedOBE_Level.LevelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedOBE_Level.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedOBE_Level.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.OBE_Levels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.LevelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LevelID })
            </td>
        </tr>
    }

</table>
