@using CampusManagement.Models

@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    string FormNo = ViewBag.FormNo;

    string Designation = "";

    if (Session["Designation"] != null)
    {
        Designation = Session["Designation"].ToString();
    }

    GetBatchProgramLevelEntryTest_ForApplicant_Result app = dbc.GetBatchProgramLevelEntryTest_ForApplicant(Convert.ToInt32(FormNo)).FirstOrDefault();
    List<GetInstituteStatus_Result> appStatus = dbc.GetInstituteStatus(FormNo, 1).ToList();
    if (app != null)
    {
        <div class="row">
            <div class="col-sm-3">
                <label style="font-size:medium; font-weight:normal;">Form # : </label>
                <label style="font-size:medium;">@app.FormNo</label>
            </div>
            <div class="col-sm-3">
                <label style="font-size:medium; font-weight:normal;">Session : </label>
                <label style="font-size:medium;">@app.BatchName</label>
            </div>
            <div class="col-sm-3">
                <label style="font-size:medium; font-weight:normal;">Program : </label>
                <label style="font-size:medium;">@app.ProgramName</label>
            </div>
            <div class="col-sm-3">
                <label style="font-size:medium; font-weight:normal;">Level : </label>
                <label style="font-size:medium;">@app.LevelName</label>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <label style="font-size:medium; font-weight:normal;">Test : </label>
                <label id="lblEntryTestName" style="font-size:medium;">@app.EntryTestName</label>
                @{ 
                    if(Designation != "Applicant" && Designation != "Student")
                    { 
                        <div id="dUpdate" style="display:none;">
                            <select id="cmbTests" class="form-control"></select>
                            <input id="btnUpdateTest" type="button" class="btn btn-primary" value="Update" onclick="UpdateTestByFormNo();" />
                            <input id="btnCancel" type="button" class="btn btn-primary" value="Cancel" onclick="ShowHideControls(this.id);" />
                        </div>
                        <br />
                        <input id="btnChangeTest" type="button" class="btn btn-primary" value="Change Test" onclick="ShowHideControls(this.id);" />
                    }
                }
            </div>
            <div class="col-sm-9">
                @{
                    string ConcatStatus = "";
                    string hdnConcatStatus = "";
                    if (appStatus.Count > 0)
                    {
                        foreach (var item in appStatus)
                        {
                            ConcatStatus = ConcatStatus + item.InstituteStatusName + ", ";
                            hdnConcatStatus = hdnConcatStatus + item.InstituteStatusID + ",";
                        }

                        if (!string.IsNullOrEmpty(ConcatStatus))
                        {
                            <label style="font-size:medium; font-weight:normal;">Status : </label>
                            <label style="font-size:medium;">@ConcatStatus.TrimEnd(',', ' ')</label>
                            <input id="hdnConcatStatus" type="hidden" value="@hdnConcatStatus.TrimEnd(',')" />
                        }
                    }
                }
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {
            GetTests();
        });

        function GetTests() {
            $.ajax({
                url: "@Url.Content("~/Home/GetTests")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                success: function (result) {
                    $("#cmbTests").html("");
                    $.each($.parseJSON(result), function (i, test) {
                        $("#cmbTests").append($('<option></option>').val(test.EntryTestID).html(test.EntryTestName));
                    });
                },
                error: function () {
                    //alert(" Something went wrong..");
                },
            });
        }

        function UpdateTestByFormNo() {
            if (confirm("Are you sure you want to change the test?")) {
                var EntryTestID = $("#cmbTests").val();
                $.ajax({
                    url: "@Url.Content("~/Home/UpdateTestByFormNo")",
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify({ FormNo: +"@ViewBag.FormNo", EntryTestID: +EntryTestID }),
                    success: function (result) {
                        $("#lblEntryTestName").html(result);
                        ShowHideControls("btnUpdateTest");
                    },
                    error: function () {
                        //alert(" Something went wrong..");
                    },
                });
            }
        }

        function ShowHideControls(btnID)
        {
            if (btnID == "btnChangeTest")
            {
                $("#dUpdate").css("display", "block");
                $("#btnChangeTest").css("display", "none");

                //$("#cmbTests").css("display", "block");
                //$("#btnCancel").css("display", "block");
                //$("#btnUpdateTest").css("display", "block");
            }

            if (btnID == "btnUpdateTest" || btnID == "btnCancel") {
                $("#dUpdate").css("display", "none");
                $("#btnChangeTest").css("display", "block");

                //$("#btnChangeTest").css("display", "block");
                //$("#cmbTests").css("display", "none");
                //$("#btnCancel").css("display", "none");
                //$("#btnUpdateTest").css("display", "none");
            }
        }

    </script>
}