<style>

    .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

    .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}


</style>

<div class="row">
    <ul class="nav nav-tabs">
        <li id="tab1">
            @Html.ActionLink("1) - Personal Detail", "Create", "Applicants")
        </li>
        <li id="tab2">
            @Html.ActionLink("2) - Choose Program", "ChooseProgram", "ApplicantQualifications")
        </li>
        <li id="tab3">
            @Html.ActionLink("3) - Academic History", "Index", "ApplicantQualifications")
        </li>
        <li id="tab4">
            @Html.ActionLink("4) - Applicant Status", "ApplicantStatus", "Applicants")
        </li>
        @*<li id="tab5">
            @Html.ActionLink("5) - Supporting Documents", "Index", "ApplicantUploads")
        </li>*@
        <li id="tab6">
            @Html.ActionLink("5) - Declaration ", "Declaration", "ApplicantQualifications")
        </li>
    </ul>
</div>