<!DOCTYPE html>
<html>
@using CampusManagement.Models
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campus Connect</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/style5.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/mask.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>

    <style>
        .Navbarr > a {
            color: #00529c;
            text-decoration: none;
            margin-left: 10px;
        }

        .Navbarr {
            border-bottom: 1px solid #00529c;
            border-top: 1px solid #00529c;
            background: #e7e7e7;
            padding: 0px;
            margin: 4px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 10px;
        }

        .subMenu {
            margin-left: 2em;
            font-size: 12px;
            background: none;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" style="background-color: #f8f8f8; box-shadow: 1px 2px 2px #e7e7e7; border: 2px solid #e7e7e7;">
            <div class="sidebar-header" style="padding: 20px;
    background: #e7e7e7;
    border-radius: 10px;
    margin-top: 4px;
    height: 123px;">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/CampusConnect Logo.png")" style="width: 11em; height: 8em; margin: -15px 10px 10px 28px;" class="img-responsive" alt=""></a>
            </div>
            <div style="margin-left: 7px; background: #f8f8f8; margin-right: 7px;">
                @{
                    ModelUserManagementContainer dbm = new ModelUserManagementContainer();
                    List<Get_Modules_Result> lstModule = new List<Get_Modules_Result>();
                    List<Get_Module_Pages_Result> lstPages = new List<Get_Module_Pages_Result>();
                    if (Session["emp_id"] != null)
                    {
                        lstModule = dbm.Get_Modules().ToList();
                        foreach (var item in lstModule)
                        {
                            lstPages = dbm.Get_Module_Pages(Convert.ToInt32(Session["emp_id"])).Where(p => p.Module_ID == item.Module_ID).ToList();
                            string ModuleName = "p" + item.Module_Name.Replace(" ", "");
                            if (lstPages.Count > 0)
                            {
                                if (item.Priority == 0)
                                {
                <p id="@ModuleName" class="Navbarr paradummyclass"><a href="#" class="alert-link" style="margin-top: 3em;">@item.Module_Name</a></p>
                                }
                                else
                                {
                <p id="@ModuleName" class="Navbarr paradummyclass"><a href="#" class="alert-link">@item.Module_Name</a></p>
                                }

                                ModuleName = "d" + item.Module_Name.Replace(" ", "");
                <div id="@ModuleName" style="display:none;" class="divdummyclass">
                    @foreach (var itemPage in lstPages)
                                {
                                    <p class="Navbarr subMenu"><a href="@Url.Content(itemPage.Page_URL)" class="alert-link">@itemPage.Page_Name</a></p>
                                }
                </div>
                            }
                        }
                    }
                }
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style=" width: 100%;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div style="margin-top: -5em; position: absolute; margin-left: 14%; margin-right:10%">
                            <img style="width: 60%;" class="img-responsive" src="~/assets/img/logo.png">
                        </div>
                    </div>
                    <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right" style=" margin-top: 3em; margin-bottom: -2em; margin-right: -3%;">
                            @{
                                if (Session["UserName"] != null)
                                {
                                    <li><a href="#"><strong class="fa fa-user"></strong>&nbsp;@Session["UserName"]&nbsp;|&nbsp;@Session["Designation"] </a></li>
                                    <li><a href="@Url.Action("SignOut", "Home")"><strong class="fa fa-lock"></strong>&nbsp; Logout</a></li>
                                }
                                else if (Session["UserNameApplicant"] != null)
                                {
                                    <li><a href="#"><strong class="fa fa-user"></strong>&nbsp;@Session["UserNameApplicant"]&nbsp; </a></li>
                                    <li><a href="@Url.Action("SignOut", "Home")"><strong class="fa fa-lock"></strong>&nbsp; Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="#"><strong class="fa fa-user"></strong>&nbsp; Guest </a></li>
                                    <li><a href="@Url.Action("RegisterApplicant", "Home")"><strong class="glyphicon glyphicon-log-in"></strong>&nbsp;Register</a></li>
                                    <li><a href="@Url.Action("Login2", "Home")"><strong class="glyphicon glyphicon-log-in"></strong>&nbsp;Login</a></li>
                                }
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="    margin-right: -280px;   margin-top: -9px; font-size: 18px;">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                            @*@{
                if(lstPages.Count > 0)
                {
                    <li><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                }
            }*@
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
            <hr style=" border-top: 1px solid #6d9b90;" />
            <footer>
                <div style="background: #6d9c911a; display:none; border-radius: 6px; margin: 1em 0em;">
                    <p>4S Campus Connect, a complete campus management solution</p>
                </div>
            </footer>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
            CollapseMenus();
        });

        function CollapseMenus() {
            var pMenus = $(".paradummyclass");
            var divMenus = $(".divdummyclass");
            $(pMenus).each(function (i) {
                $("#" + pMenus[i].id).click(function () {
                    $(divMenus).each(function (j) {
                        if (pMenus[i].id.substr(1, pMenus[i].id.length) == divMenus[j].id.substr(1, divMenus[j].id.length)) {
                            var dlDisplay = $("#" + divMenus[j].id).css("display");
                            if (dlDisplay == "none") {
                                $("#" + divMenus[j].id).slideDown("slow");
                            }
                            else {
                                $("#" + divMenus[j].id).slideUp("slow");
                            }
                        }
                        else {
                            $("#" + divMenus[j].id).slideUp("slow");
                        }
                    });
                });
            });
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
