@model CampusManagement.Models.AlumniUserCareer

@using (Html.BeginForm("Create", "AUCareers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Career</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4" hidden>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.CareerTitle, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.CareerTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CareerTitle, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            @Html.LabelFor(model => model.LastDateApply, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.LastDateApply, new { @class = "form-control",  @type = "date" })
            @Html.ValidationMessageFor(model => model.LastDateApply, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.SalaryFrom, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.SalaryFrom, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SalaryFrom, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.SalaryTo, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.SalaryTo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SalaryTo, "", new { @class = "text-danger" })
        </div>
 
        <div class="col-sm-12">
            @Html.LabelFor(model => model.CareerDiscription, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.CareerDiscription, new { @class = "form-control", @style = "height: 10em;" })
            @Html.ValidationMessageFor(model => model.CareerDiscription, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-2">
            <input style="margin-top: 1.6em;" type="submit" value="Add" class="btn btn-primary" />
        </div>

    </div>
}

