@model CampusManagement.Models.GeneralSetting

<h4 class="alert alert-info"> Selection Criteria Detail </h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GeneralSettingID)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralSettingID)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ProspectusFee)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectusFee)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.BachelorPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorPercentage)%
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.MastersPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MastersPercentage)%
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.PhdPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhdPercentage)%
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.EntryTestPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTestPercentage)%
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.EntryTestDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTestDate)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.EntryTestResultDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTestResultDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.GATPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GATPercentage)%
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.NATPercentage)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NATPercentage)%
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FirstMeritListDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMeritListDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.SecondMeritListDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondMeritListDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ThirdMeritListDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdMeritListDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.FourthMeritListDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthMeritListDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.SendingOfferLetterDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendingOfferLetterDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.OrientationDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrientationDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.BachelorMaxCreditHours)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorMaxCreditHours)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.MastersMaxCreditHours)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MastersMaxCreditHours)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.MPhilMaxCreditHours)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPhilMaxCreditHours)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.AddDropDeadlineDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDropDeadlineDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.WithdrawalSubjectDate)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WithdrawalSubjectDate)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.IsActive)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            <label class="control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a href="@Url.Content("~/GeneralSetting/Index")" class="btn btn-primary">Cancel</a>
        </div>
    }
</div>
