@model CampusManagement.Models.GeneralSettingViewModel

@{
    ViewBag.Title = "Selection Criteria";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedGeneralSettings != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedGeneralSettings);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedGeneralSettings);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.GeneralSetting());
    }
}
<div class="row">
    <h2><span class="col-sm-12">List of Selection Criterias</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.ProspectusFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.EntryTestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.FirstMeritListDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.BachelorPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.MastersPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedGeneralSettings.PhdPercentage)
        </th>
      
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.GeneralSettings)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProspectusFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryTestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMeritListDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BachelorPercentage)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MastersPercentage)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhdPercentage)%
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.GeneralSettingID }) |
            @Html.ActionLink("View Details", "Delete", new { id = item.GeneralSettingID })
        </td>
    </tr>
    }

</table>
