
@model CampusManagement.Models.GetExamDateTimeSlot_By_ExamIDExamDateID_ResultsViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Index";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
 
@{
    if (Model.SelectedGetExamDateTimeSlot_By_ExamIDExamDateID_Result != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedGetExamDateTimeSlot_By_ExamIDExamDateID_Result);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedGetExamDateTimeSlot_By_ExamIDExamDateID_Result);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.GetExamDateTimeSlot_By_ExamIDExamDateID_Result());
    }
}
<input name="ExamID" value="@ViewBag.hdnExamID" type="hidden" id="ExamID" />
<table class="table">
    <tr>


        <th>
            Title
        </th>
       
        <th>
            Time
        </th>
        <th>
         Active
        </th>
       
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.GetExamDateTimeSlot_By_ExamIDExamDateID_Results)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ExamTitle)

            </td>
           
            <td>
               
                @Html.DisplayFor(modelItem => item.TimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
          
            <td>
                @Html.ActionLink("Add", "Index",  new { id = item.ExamDateTimeSlotID }) |
                @Html.ActionLink("Edit", "Update", new { id = item.ExamDateTimeSlotID }) |
               
              
            </td>
        </tr>

                    }

</table>
