@model CampusManagement.Models.QuestionBank
    @using CampusManagement.Models
    @using (Html.BeginForm("Create", "OBE_QuestionBank", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <div class="row">
            <h2><span class="col-sm-12">Add Quesion</span></h2>
        </div>
        <hr style="border-top: 1px solid #6d9b90;" />
        @Html.Partial("_MessageView")

        <div class="row">

            @*<div class="col-sm-4">
                <label>Course</label>
                @Html.DropDownListFor(model => model.CourseID, null,"-- Select Course --" ,htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>*@

           
            
            <div class="col-sm-3">
                @Html.LabelFor(model => model.QuestionName, "Question", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.QuestionName, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.QuestionName, "", new { @class = "text-danger" })

            </div>

            <div class="col-sm-3">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.LevelID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("LevelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LevelID, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.QuestionTypeID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("QuestionTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuestionTypeID, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            @Html.ActionLink("Refresh", "Create", "OBE_QuestionBank", new { ExamID = ViewBag.hdnExamID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to Question Bank ", "Index", "OBE_QuestionBank", new { ExamID = ViewBag.hdnExamID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
    }
