
@{
    ViewBag.Title = "Administration";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row" style="background:white;box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;">

    <div class="" style="padding: .75rem 1.25rem;margin-bottom: 0;background-color: #f8f9fc; border-top: 1px solid #e3e6f0; border-bottom: 1px solid #e3e6f0;">
        <h6 class="" style="color: #4e73df!important;font-weight: 700!important;font-size: 2rem;line-height: 1.2;"> Administration </h6>
    </div>
    <br />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 hidden">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "Institutes")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Institutes</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "CurrentOccupations")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Occupations</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "RelationTypes")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Relation Types</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Action("Index", "MaritalStatus")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Marital Status</span>
                </a>
            </div>
        </div>
        <br />

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "Nationalities")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Nationalities</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "Religions")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Religions</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "Salutations")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Salutations</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("AdminChangePassword", "Employees")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Change Password</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("UsersDetail", "Employees")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Users Detail</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="background:white;">
        <div class="row" hidden>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "NoticeBoards")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Notice Boards</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "Employees")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Employees - Module Rights</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "EmployeesRightAssign")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Employees - Page Rights</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "EmployeesAdmissionRightAssign")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Employees - Inner Page Rights</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("GetIncompleteApplicantDetail", "Employees")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Online Registered Applicants</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Action("Index", "RelationTypes")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Relation Types</span>
                </a>
            </div>
        </div>
        
    </div>

</div>



<style>
    .icon {
        color: rgba(255,255,255,.5) !important;
        position: absolute;
        background: rgba(0,0,0,.15);
        display: inline-block;
        padding: 0.5em 0.8em 0.7em 0.5em;
        margin-left: -13px;
        margin-top: -7px;
        border-radius: 5px 1px 1px 5px;
    }

    .text {
        padding: 1em 1em 1em 2em;
        font-size: 17px;
    }

    .btn {
        width: 22em;
        text-align: left;
    }
</style>



