
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link"> Student Number Format</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="#" class="alert-link"> Portal Control </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Institutes")" class="alert-link"> Institutes </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "CurrentOccupations")" class="alert-link"> Occupations </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "RelationTypes")" class="alert-link"> Relation Types </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "MaritalStatus")" class="alert-link"> Marital Status </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Nationalities")" class="alert-link"> Nationalities </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Religions")" class="alert-link"> Religions </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Salutations")" class="alert-link"> Salutations </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Status")" class="alert-link"> Status </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "FormTypes")" class="alert-link"> Form Types </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "DepositTypes")" class="alert-link"> Deposit Types </a>
            </div>
        </div>
    </div>

</div>


