
@{
    ViewBag.Title = "Campus";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Designations")" class="alert-link"> Designations </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Degrees")" class="alert-link"> Degrees </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "ProgramTypes")" class="alert-link"> Program Types </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Programs")" class="alert-link"> Programs </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "CourseTypes")" class="alert-link"> Type of Course </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Courses")" class="alert-link"> Courses </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Batches")" class="alert-link"> Batches </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "BatchPrograms")" class="alert-link"> Batch Programs </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "Semesters")" class="alert-link"> Semesters </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "BatchProgramSemesters")" class="alert-link"> Batch Program Semesters </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="card">
            <div class="content SmallDivs zoom">
                <a href="@Url.Action("Index", "BatchProgramCourses")" class="alert-link"> Program Courses </a>
            </div>
        </div>
    </div>
</div>


