@model CampusManagement.Models.DisciplineSeverityLevelViewModel

@{
    ViewBag.Title = "DisciplineSeverityLevels";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedDisciplineSeverityLevels != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedDisciplineSeverityLevels);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedDisciplineSeverityLevels);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.DisciplineSeverityLevel());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineSeverityLevels.DisciplineSeverityLevelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineSeverityLevels.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineSeverityLevels.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.DisciplineSeverityLevels)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplineSeverityLevelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.DisciplineSeverityLevelID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DisciplineSeverityLevelID })
        </td>
    </tr>
    }

</table>
