@model CampusManagement.Models.GetNoticeBoardDetails_Result

@using (Html.BeginForm("Create", "NoticeBoards", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Notice</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.FacultyID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("FacultyID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.NoticeTypeID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("NoticeTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NoticeTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
       
    </div>
    <br />
    <div class="row">
        <div class="col-sm-9">
            @Html.LabelFor(model => model.NoticeBoardTitle, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NoticeBoardTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoticeBoardTitle, "", new { @class = "text-danger" })
        </div>

      
    </div>
    <br />
    <div class="row">
      <div class="col-md-3"> @Html.LabelFor(model => model.NoticeBoardText, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-12">
            
            @Html.TextAreaFor(model => model.NoticeBoardText, 5,130, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoticeBoardText, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3" >
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/NoticeBoards/Index")" class="btn btn-primary">Refresh</a>
        </div>
    </div>
}
