@model CampusManagement.Models.GetNoticeBoardDetails_Result

<h4 class="alert alert-info">Are you sure you want to delete this?</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Title</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeBoardTitle)
        </dd>

        <dt>
            <label class="control-label">Department</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
       
        <dt>
            <label class="control-label">Notice Text</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoticeBoardText)
        </dd>

        <dt>
            <label class="control-label">Type</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeTypeName)
        </dd>

        <dt>
            <label class="control-label">Is Active</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label class="control-label">Created On</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            <label class="control-label">Created By User</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserName)
        </dd>

        <dt>
            <label class="control-label">Modified On</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            <label class="control-label">Modified By User</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a href="@Url.Content("~/NoticeBoards/Index")" class="btn btn-primary">Cancel</a>
        </div>
    }
</div>
