@model CampusManagement.Models.EligibleStudentsForExamReportViewModel
@using CampusManagement.Models
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery-2.1.1.min.js"></script>
<script src="~/assets/js/bootstrap-multiselect.js"></script>
<link href="~/assets/css/bootstrap-multiselect.css" rel="stylesheet" />
@using (Html.BeginForm("index", "ExamEligibleStudentForExamReport", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Exam Eligible Students</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4">
            <label>Exam</label>
            @Html.DropDownListFor(model => model.ExamID, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>Is Eligible</label>
            @Html.DropDownListFor(model => model.IsEligible, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsEligible, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>Session</label>
            @Html.DropDownListFor(model => model.BatchID, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Program</label>
            @Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BatchProgramID, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label>Semester #</label>
            @Html.DropDownList("YearSemesterNo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.YearSemesterNo, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>

    </div>
}
<br />
@{


    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    int hdnBatchProgramID = (ViewBag.hdnBatchProgramID == null) ? 0 : ViewBag.hdnBatchProgramID;
    int hdnBatchID = (ViewBag.hdnBatchID == null) ? 0 : ViewBag.hdnBatchID;
    int hdnYearSemesterNo = (ViewBag.hdnYearSemesterNo == null) ? 0 : ViewBag.hdnYearSemesterNo;

    int count = 1; 
    Model.StudentList = dbc.rpt_GetEligibleStudentsForExam(Model.ExamID, 0, 0, Model.IsEligible, hdnBatchID, hdnBatchProgramID, hdnYearSemesterNo).ToList();
}

<table style="width:100%">
    <tr style="width:100%">
        <td style="width:100%; text-align:right">
            <input id="PrintStudentsList" type="submit" class="btn btn-primary" value="Print" onclick="@("PrintStudentAdmitCard('')")" />
        </td>
    </tr>
</table>
@*<input name="hdnExamID" value="@ViewBag.hdnExamID" type="hidden" id="hdnBatchID" />*@
<input name="hdnBatchID" value="@ViewBag.hdnBatchID" type="hidden" id="hdnBatchID" />
<input name="hdnBatchProgramID" value="@ViewBag.hdnBatchProgramID" type="hidden" id="hdnBatchProgramID" />
<input name="hdnYearSemesterNo" value="@ViewBag.hdnYearSemesterNo" type="hidden" id="hdnYearSemesterNo" />
<table style="width:100%">
    <tr style="width:100%">
        <td style="width:100%; vertical-align:top">
            <div id="divStudentEligibleList" name="divStudentEligibleList" style="background-color:lightyellow;">
                <div style="page-break-before: always; border:solid;border-width:2px;border-color:lightgray;">
                    @if (Model.StudentList.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th style="text-align:left">
                                    SR #
                                </th>
                                <th style="text-align:left">
                                    Student Details
                                </th>

                                <th style="text-align:left">
                                    Course Details
                                </th>
                                <th style="text-align:left">
                                    Exam
                                </th>
                                <th style="text-align:left">
                                    Status
                                </th>
                            </tr>

                            @foreach (var item in Model.StudentList)
                            {
                                <tr>
                                    <td style="vertical-align:top; font-weight:bold">
                                        @count
                                    </td>
                                     <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Student Name :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.StudentName) <br />
                                                    <span style="color:red;font-weight:bold">Registration No  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.RegistrationNo) <br />
                                                    <span style="color:red;font-weight:bold">Roll Number  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.RollNumber) <br />
                                                    <span style="color:red;font-weight:bold">Cell No  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.CellNo) <br />
                                                    <span style="color:red;font-weight:bold">Email :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.Email) <br />
                                                    <span style="color:red;font-weight:bold">YearSemesterNo :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.YearSemesterNo) <br />
                                                    <span style="color:red;font-weight:bold">Father Name  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.FatherName)
                                                </td>

                                            </tr>
                                        </table>


                                    </td>
                                    <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Batch Name :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.BatchName) <br />
                                                    <span style="color:red;font-weight:bold">Batch Session  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.BatchSession) <br />
                                                    <span style="color:red;font-weight:bold">Batch Code  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.BatchCode) <br />
                                                    <span style="color:red;font-weight:bold">Program Name :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.ProgramName) <br />
                                                    <span style="color:red;font-weight:bold">ProgramCode :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.ProgramCode) <br />
                                                    <span style="color:red;font-weight:bold">Course Name  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.CourseName)<br />
                                                    <span style="color:red;font-weight:bold">Course Code :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.CourseCode) <br />
                                                    <span style="color:red;font-weight:bold">Semester Code :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.SemesterCode) <br />
                                                    <span style="color:red;font-weight:bold">Semester Name :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.SemesterName)
                                                </td>

                                            </tr>
                                        </table>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table style="width:100%">
                                            <tr style="width:100%">
                                                <td style="width:100%">
                                                    <span style="color:red;font-weight:bold">Exam Season Name:</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.SeasonName) <br />
                                                    <span style="color:red;font-weight:bold">Exam Term Name  :</span>  <br />
                                                    @Html.DisplayFor(modelItem => item.TermName)

                                                </td>

                                            </tr>
                                        </table>
                                    </td>

                                    <td style="vertical-align:top">
                                        @Html.DisplayFor(modelItem => item.IsEligibleString)
                                    </td>

                                </tr>
                                count = count + 1;
                             
                            }
                      </table>
                       
                    }
                </div>
            </div>
        </td>
    </tr>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
            GetBatchProgramSemesterList();
            $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);

            $("#BatchID").change(function () {
                GetPrograms_by_FacultyLevelBatch();
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });

            $("#BatchProgramID").change(function () {
                GetBatchProgramSemesterList();
                $("#YearSemesterNo").val(@ViewBag.hdnYearSemesterNo);
            });
        });
        function PrintStudentAdmitCard() {

            var divToPrint = document.getElementById('divStudentEligibleList');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

            //var divStudentEligibleList = document.getElementById('divStudentEligibleList');
            //var data = divStudentEligibleList.innerHTML;
            //var myWindow = window.open('', '', 'height=400,width=600');
            //myWindow.document.write('<html><head><title></title>');
            ///*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
            //myWindow.document.write('</head><body >');
            //myWindow.document.write(data);
            //myWindow.document.write('</body></html>');
            //myWindow.document.close(); // necessary for IE >= 10

            //myWindow.onload = function () { // necessary if the div contain images

            //    myWindow.focus(); // necessary for IE >= 10
            //    myWindow.print();
            //    myWindow.close();
            //};


            //var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            //mywindow.document.write('<html><head><title></title>');
            //mywindow.document.write('</head><body >');
            //mywindow.document.write('<h1>' + document.title + '</h1>');
            //mywindow.document.write(document.getElementById('divStudentEligibleList').innerHTML);
            //mywindow.document.write('</body></html>');

            //mywindow.document.close(); // necessary for IE >= 10
            //mywindow.focus(); // necessary for IE >= 10*/

            //mywindow.print();
            //mywindow.close();

            //return true;



        }

        function GetPrograms_by_FacultyLevelBatch() {
            var BatchID = $("#BatchID").val();
            $.ajax({
                url: "@Url.Content("~/ExamEligibleStudentForExamReport/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchID: +BatchID }),
                success: function (result) {
                    $("#BatchProgramID").html("");
                    $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                    $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID)
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }

        function GetBatchProgramSemesterList() {
            var BatchProgramID = $("#BatchProgramID").val();
            $.ajax({
                url: "@Url.Content("~/ExamEligibleStudentForExamReport/GetBatchProgramSemesterList")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchProgramID: +BatchProgramID }),
                success: function (result) {
                    $("#YearSemesterNo").html("");
                    $("#YearSemesterNo").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#YearSemesterNo").append($('<option></option>').val(sem.YearSemesterNo).html(sem.YearSemesterNo));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }


    </script>


}
