@model CampusManagement.Models.ProgramsViewModel

@{
    ViewBag.Title = "Programs";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedProgram != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedProgram);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedProgram);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.SP_ProgramForPage_Result());
    }

}

<table class="table">
    <tr>
        <th>
            Program
        </th>
        <th>
            Code
        </th>
        <th>
            Fee Per Credit Hour
        </th>
        <th>
            Application Fee
        </th>
        <th>
            Level
        </th>
        <th>
            Department
        </th>
        <th>
            Test Total
        </th>
        <th>
            Drawing Total
        </th>
        <th>
            Interview Total
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Programs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerCreditHourFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProspectusFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestTotalMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawingTestTotalMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewTotalMarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.ProgramID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProgramID })
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $("#PerCreditHourFee").ForceNumericOnly();
        $("#TestTotalMarks").ForceNumericOnly();
        $("#DrawingTestTotalMarks").ForceNumericOnly();
        $("#InterviewTotalMarks").ForceNumericOnly();
    });

</script>


