@model CampusManagement.Models.DisciplineCommittedViewModel

@{
    ViewBag.Title = "Discipline Committeds";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedDisciplineCommitted != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedDisciplineCommitted);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedDisciplineCommitted);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.DisciplineCommitted());
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineCommitted.DisciplineCommittedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedDisciplineCommitted.Description)
        </th>
        
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.DisciplineCommitteds)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplineCommittedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.DisciplineCommittedID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DisciplineCommittedID })
        </td>
    </tr>
    }

</table>
