@model CampusManagement.Models.TeachersCourseAllocationsViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Lecturer Subjects";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedTeachersCourseAllocation != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedTeachersCourseAllocation);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedTeachersCourseAllocation);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.TeachersCourseAllocation());
    }

    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
}

<table class="table">
    <tr>
        <th>
            Lecturer
        </th>
        <th>
            Program
        </th>
        <th>
            Subject
        </th>
        <th>
            Is Active
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.TeachersCourseAllocations)
    {
        GetDisplayValues_Result dv = dbc.GetDisplayValues(0, item.ProgramCourseID).FirstOrDefault();
        um_GetEmployees_ByID_Result emp = dbc.um_GetEmployees_ByID(item.TeacherID).FirstOrDefault();
    <tr>
        <td>
            @Html.Raw(emp.EmployeeName)
        </td>
        <td>
            @Html.Raw(dv.ProgramName)
        </td>
        <td>
            @Html.Raw(dv.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.TCourseAllocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TCourseAllocationID })
        </td>
    </tr>
    }

</table>

<script>
    $(document).ready(function () {
        GetSubDepartment();
        um_GetEmployeesForSubjectAllocation();

        $("#cmbDepartment").change(function () {
            um_GetEmployeesForSubjectAllocation();
        });
    });

    function GetSubDepartment() {
        $.ajax({
            url: "@Url.Content("~/TeachersCourseAllocations/GetSubDepartment")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            success: function (result) {
                $("#cmbDepartment").html("");
                $.each($.parseJSON(result), function (i, general) {
                    $("#cmbDepartment").append($('<option></option>').val(general.SubDept_Id).html(general.SubDept_Name));
                });
            },
            error: function () {
                //alert("Whooaaa! Something went wrong..");
            },
        });
    }

    function um_GetEmployeesForSubjectAllocation() {
        var SubDeptId = $("#cmbDepartment").val();
        $.ajax({
            url: "@Url.Content("~/TeachersCourseAllocations/um_GetEmployeesForSubjectAllocation")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ SubDeptId: +SubDeptId }),
            success: function (result) {
                $("#TeacherID").html("");
                $.each($.parseJSON(result), function (i, general) {
                    $("#TeacherID").append($('<option></option>').val(general.EmpID).html(general.EmployeeName));
                });
            },
            error: function () {
                //alert("Whooaaa! Something went wrong..");
            },
        });
    }

</script>


