@model CampusManagement.Models.ScholarshipApplicantDocumentViewModel
@using CampusManagement.Models

@{
    ViewBag.Title = "ScholarshipOpportunities";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
        ModelCMSNewContainer db = new ModelCMSNewContainer();
        if (Model.SelectedScholarshipApplicantDocument != null)
        {
            if (Model.DisplayMode == "Delete")
            {
                Html.RenderPartial("Delete", Model.SelectedScholarshipApplicantDocument);
            }
            else if (Model.DisplayMode == "ReadWrite")
            {
                Html.RenderPartial("Edit", Model.SelectedScholarshipApplicantDocument);
            }
        }
        if (Model.DisplayMode == "WriteOnly")
        {
            Html.RenderPartial("Create", new CampusManagement.Models.ScholarshipApplicantDocument());
        }
    }

@using (Html.BeginForm("Create", "ScholarshipStudentApply", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    List<GetScholarshipDocumentsByDocumentID_Result> StudentDocumentList;
    <input id="hdnRowCount" name="hdnRowCount" value="@Model.ScholarshipApplicantDocuments.Count" type="hidden" />
    <input id="ScholarshipOpportunitiesID" name="ScholarshipOpportunitiesID" value="@ViewBag.ScholarshipOpportunitiesID" type="hidden" />
    <input id="ScholarshipApplicantID" name="ScholarshipApplicantID" value="@ViewBag.ScholarshipApplicantID" type="hidden" />
    <input id="ScholarshipDocumentID" name="ScholarshipDocumentID" value="@ViewBag.ScholarshipDocumentID" type="hidden" />
    int i = 1;
    if (Model.ScholarshipApplicantDocuments.Count > 0)
    {



<table class="table">
    <tr>
        <th>
          Upload Related Documents
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.ScholarshipApplicantDocuments)
    {
        <tr>
           
            <td>
                <a href="@Url.Content(item.DocumentPath)" target="_blank">View Document</a>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ScholarshipApplicantDocumentID, ScholarshipDocumentID=item.ScholarshipDocumentID, ScholarshipApplicantID=item.ScholarshipApplicantID, ScholarshipOpportunitiesID= ViewBag.ScholarshipOpportunitiesID })
            </td>
        </tr>
        i++;
    }
</table>

<table>
    <tr>
        <td class="pull-right">
            <hr />
            @*<a href="@Url.Content("~/ScholarshipStudentApply/Index/")@ViewBag.ScholarshipOpportunitiesID" class="btn btn-primary">Back</a>*@

        </td>
    </tr>

</table>
    }
}