@model CampusManagement.Models.LMSQuizIQuestion

@using (Html.BeginForm("Create", "LmsQuizQuestions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Quiz Questions</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">

        <div class="col-sm-3">
            @Html.EditorFor(model => model.LMSQuizID, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            <label>Question Type </label>
            @Html.DropDownList("LMSQuestionTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LMSQuestionTypeID, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label>Question Marks</label>
            @Html.EditorFor(model => model.QuestionMarks, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.QuestionMarks, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label>Is Negative Marking</label>
            @Html.EditorFor(model => model.IsNegativeMarking, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.IsNegativeMarking, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label>Is Active</label>
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            <label>Asked Question</label>
            @Html.EditorFor(model => model.AskedQuestion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.AskedQuestion, "", new { @class = "text-danger" })
        </div>
     </div>

        @*//////////////////////////MCQ////////////////////////////////*@
        <div class="row">
            <div class="MCQ box col-sm-3">
                <label>Question MCQ Option (a) </label>
                @Html.EditorFor(model => model.QuestionMCQ1, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.QuestionMCQ1, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Question MCQ Option (b) </label>
                @Html.EditorFor(model => model.QuestionMCQ2, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.QuestionMCQ2, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Question MCQ Option (c) </label>
                @Html.EditorFor(model => model.QuestionMCQ3, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.QuestionMCQ3, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Question MCQ Option (d) </label>
                @Html.EditorFor(model => model.QuestionMCQ4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionMCQ4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="MCQ box col-sm-3">
                <label>Answer MCQ Title (a) </label>
                @Html.EditorFor(model => model.AnswerMCQTitle1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerMCQTitle1, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Answer MCQ Title (b) </label>
                @Html.EditorFor(model => model.AnswerMCQTitle2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerMCQTitle2, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Answer MCQ Title (c) </label>
                @Html.EditorFor(model => model.AnswerMCQTitle3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerMCQTitle3, "", new { @class = "text-danger" })
            </div>
            <div class="MCQ box col-sm-3">
                <label>Answer MCQ Title (d) </label>
                @Html.EditorFor(model => model.AnswerMCQTitle4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerMCQTitle4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
        <div class="MCQ box col-sm-3">
            <label>Answer MCQ (a) </label>
            <input type="checkbox" class="checkbox-inline" id="AnswerMCQ1" name="AnswerMCQ1" style="height: 35px; width: 20px;">
        </div>
        <div class="MCQ box col-sm-3">
            <label>Answer MCQ (b) </label>

            <input type="checkbox" class="checkbox-inline" id="AnswerMCQ2" name="AnswerMCQ2" style="height: 35px; width: 20px;">
        </div>
        <div class="MCQ box col-sm-3">
            <label>Answer MCQ (c) </label>

            <input type="checkbox" class="checkbox-inline" id="AnswerMCQ3" name="AnswerMCQ3" style="height: 35px; width: 20px;">
        </div>
        <div class="MCQ box col-sm-3">
            <label>Answer MCQ (d) </label>

            <input type="checkbox" class="checkbox-inline" id="AnswerMCQ4" name="AnswerMCQ4" style="height: 35px; width: 20px;">
        </div>
    </div>

        @*//////////////////////////SCQ////////////////////////////////*@
        <div class="row">
            <div class="SCQ box col-sm-3">
                <label>Question SCQ Option (a) </label>
                @Html.EditorFor(model => model.QuestionSCQ1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionSCQ1, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Question SCQ Option (b) </label>
                @Html.EditorFor(model => model.QuestionSCQ2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionSCQ2, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Question SCQ Option (c) </label>
                @Html.EditorFor(model => model.QuestionSCQ3, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.QuestionSCQ3, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Question SCQ Option (d) </label>
                @Html.EditorFor(model => model.QuestionSCQ4, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.QuestionSCQ4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="SCQ box col-sm-3">
                <label>Answer SCQ Title (a) </label>
                @Html.EditorFor(model => model.AnswerSCQTitle1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerSCQTitle1, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Answer SCQ Title (b) </label>
                @Html.EditorFor(model => model.AnswerSCQTitle2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerSCQTitle2, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Answer SCQ Title (c) </label>
                @Html.EditorFor(model => model.AnswerSCQTitle3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerSCQTitle3, "", new { @class = "text-danger" })
            </div>
            <div class="SCQ box col-sm-3">
                <label>Answer SCQ Title (d) </label>
                @Html.EditorFor(model => model.AnswerSCQTitle4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerSCQTitle4, "", new { @class = "text-danger" })
            </div>
       </div>

            <div class="row">
                <div class="SCQ box col-sm-3">
                    <label>Answer SCQ (a) </label>
                    <input type="radio" class="checkbox-inline" id="rdAnswerSCQ1" name="AnswerSCQ" style="height: 35px; width: 20px;">
                    <input type="hidden" name="AnswerSCQ1" id="AnswerSCQ1" />
                </div>
                <div class="SCQ box col-sm-3">
                    <label>Answer SCQ (b) </label>
                    <input type="radio" class="checkbox-inline" id="rdAnswerSCQ2" name="AnswerSCQ" style="height: 35px; width: 20px;">
                    <input type="hidden" name="AnswerSCQ2" id="AnswerSCQ2" />
                </div>
                <div class="SCQ box col-sm-3">
                    <label>Answer SCQ (c) </label>
                    <input type="radio" class="checkbox-inline" id="rdAnswerSCQ3" name="AnswerSCQ" style="height: 35px; width: 20px;">
                    <input type="hidden" name="AnswerSCQ3" id="AnswerSCQ3" />
                </div>
                <div class="SCQ box col-sm-3">
                    <label>Answer SCQ (d) </label>
                    <input type="radio" class="checkbox-inline" id="rdAnswerSCQ4" name="AnswerSCQ" style="height: 35px; width: 20px;">
                    <input type="hidden" name="AnswerSCQ4" id="AnswerSCQ4" />
                </div>
            </div>



            @*//////////////////////////True False////////////////////////////////*@
            <div class="row">
                <div class="True box col-sm-3">
                    <label>Question True Title </label>
                    @Html.EditorFor(model => model.QuestionTrueTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuestionTrueTitle, "", new { @class = "text-danger" })
                </div>
                <div class="True box col-sm-3">
                    <label>Question False Title </label>
                    @Html.EditorFor(model => model.QuestionFalseTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerTrueFalse, "", new { @class = "text-danger" })
                </div>
                <div class="True box col-sm-3">
                    <label>Answer True False </label>
                    @Html.EditorFor(model => model.AnswerTrueFalse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerTrueFalse, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="row">
                    <div class="True box col-sm-3">
                        <label>True </label>
                        <input type="radio" class="checkbox-inline" id="rdAnswerTrueFalse1" name="true" style="height: 35px; width: 20px;">
                        <input type="radio" class="checkbox-inline" id="rdAnswerSCQ4" name="AnswerSCQ" style="height: 35px; width: 20px;">
                        <input type="hidden" name="AnswerTrueFalse" id="AnswerTrueFalse" />
                    </div>
                    <div class="True box col-sm-3">
                        <label>False </label>
                        <input type="radio" class="checkbox-inline" id="rdAnswerTrueFalse2" name="true" style="height: 35px; width: 20px;">
                        <input type="radio" class="checkbox-inline" id="rdAnswerSCQ4" name="AnswerSCQ" style="height: 35px; width: 20px;">
                        <input type="hidden" name="AnswerSCQ4" id="AnswerSCQ4" />
                    </div>
                </div>*@

            <br />
            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
            }

            <script>
                $(document).ready(function () {

                    $("#QuestionMarks").val("");
                    $("#AskedQuestion").val("");
                    $("#QuestionMCQ1").val("");
                    $("#QuestionMCQ2").val("");
                    $("#QuestionMCQ3").val("");
                    $("#QuestionMCQ4").val("");
                    $("#AnswerMCQTitle1").val("");
                    $("#AnswerMCQTitle2").val("");
                    $("#AnswerMCQTitle3").val("");
                    $("#AnswerMCQTitle4").val("");
                    $("#AnswerMCQ1").val("");
                    $("#AnswerMCQ2").val("");
                    $("#AnswerMCQ3").val("");
                    $("#AnswerMCQ4").val("");
                    $("#QuestionSCQ1").val("");
                    $("#QuestionSCQ2").val("");
                    $("#QuestionSCQ3").val("");
                    $("#QuestionSCQ4").val("");
                    $("#AnswerSCQTitle1").val("");
                    $("#AnswerSCQTitle2").val("");
                    $("#AnswerSCQTitle3").val("");
                    $("#AnswerSCQTitle4").val("");
                    $("#AnswerSCQ1").val("");
                    $("#AnswerSCQ2").val("");
                    $("#AnswerSCQ3").val("");
                    $("#AnswerSCQ4").val("");
                    $("#QuestionTrueTitle").val("");
                    $("#QuestionFalseTitle").val("");
                    $("#AnswerTrueFalse").val("");
                    $(".MCQ").show();
                    $(".SCQ").hide();
                    $(".True").hide();

                });
            </script>
            <script>
                $(document).ready(function () {

                    $('input:radio').change(function () {
                        if (this.id.match("1")) {
                            $("#AnswerSCQ1").val(true);
                        }
                        else if (this.id.match("2")) {
                            $("#AnswerSCQ2").val(true);
                        }
                        else if (this.id.match("3")) {
                            $("#AnswerSCQ3").val(true);
                        }
                        else if (this.id.match("4")) {
                            $("#AnswerSCQ4").val(true);
                        }
                    });

                    $("#LMSQuestionTypeID").change(function () {
                        var Type = $(this).val();
                        if (Type == "1") {
                            $(".box").not(".MCQ").hide();
                            $(".MCQ").show();
                        } else if (Type == "2") {
                            $(".box").not(".SCQ").hide();
                            $(".SCQ").show();
                        } else if (Type == "3") {
                            $(".box").not(".True").hide();
                            $(".True").show();
                        } else {
                            $(".box").hide();
                        }
                    });


                });
            </script>

