@model CampusManagement.Models.GetAlumni_ResultsViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "AlumniDirectory";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<input type="hidden" id="hdncityID" name="hdncityID" value="@ViewBag.hdncityID" />
<input type="hidden" id="hdnProvinceID" name="hdnProvinceID" value="@ViewBag.hdnProvinceID" />
<input type="hidden" id="hdnCountryID" name="hdnCountryID" value="@ViewBag.hdnCountryID" />

@using (Html.BeginForm("Index", "Alumni", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    <div class="row">
        <h1><span class="col-sm-12">Alumni Directory</span></h1>
    </div>
    <h5>
        this is the directory page... hit submit to see All the contacts and hit the databasehard!!
    </h5>

    <h2></h2>

    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")
    <div class="row">
       @{
           AlumniUser ap = dbc.AlumniUsers.FirstOrDefault();
       }
        <div class="col-sm-5">
            <div class="col-sm-12">
                <label class="control-label">First Name :</label>
                <input type="text" name="FirstName" id="FirstName" class="form-control " />
              
               
            </div>
            <div class="col-sm-12">
                <label class="control-label">Last Name :</label>
               
                <input type="text" name="LastName" id="LastName" class="form-control " />

            </div>
            <div class="col-sm-12">

                <label class="control-label">City :</label>

                @Html.DropDownList("cityID", (SelectList)ViewBag.cityID, "Select City" , htmlAttributes: new { @class = "form-control" })

            </div>
            <div class="col-sm-12">
                <label class="control-label">State :</label>
                @Html.DropDownList("ProvinceID", (SelectList)ViewBag.ProvinceID, "Select State", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-12">
                <label class="control-label">Country :</label>

            
                @Html.DropDownList("CountryID", (SelectList)ViewBag.CountryID, "Select Country", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-3" style="border:solid 1px #808080;padding:50px">


            <h2><span class="col-sm-12 ">Tip</span></h2>
            <span>Search on base..</span>

        </div>
        <div class="col-sm-4">
            <a href="@Url.Content("~/Alumni/AlumniDirectory")" class="btn btn-primary">My Alumini</a>
        </div>
    </div>


        <br />
        <div class="row">
            <div class="col-sm-5">
                <input type="submit" value="Search" class="btn btn-primary" />
                <a href="@Url.Content("~/Alumni/AlumniDirectory")" class="btn btn-primary">Refresh</a>
            </div>
        </div>
}

