@model CampusManagement.Models.SF_GetCollegeServiceWiseAmounts_Result
@{
    ViewBag.Title = "College ServiceWise Amounts";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>

    <script src="@Url.Content("~/assets/DashboardChart/Canvas.js")"></script>

    <script>

        window.onload = function () {
            var print = new CanvasJS.Chart("chartContainer", {

                exportEnabled: true,

            });
            print.render();

            var chart = new CanvasJS.Chart("chartContainer", {

                exportEnabled: true,
                title: {
                    text: "Applicant Count"
                },

                legend: {

                    //verticalAlign: "center",
                    //horizontalAlign: "left",
                    fontSize:12,
                    fontFamily: "Helvetica",

                },
                data: [{
                    type: "pie",
                    startAngle: 60,
                    showInLegend: true,
                    legendText: "{label} - {y}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    toolTipContent: "<b>{label}:</b> {y}",

                    dataPoints: @Html.Raw(ViewBag.DataPoints5),
                }],



            });
            chart.render();
        }
    </script>
</head>
<body>

    @using (Html.BeginForm("CollegeServiceWiseAmounts", "DashboardStudents", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-8">
                @Html.LabelFor(model => model.BatchID, "Session", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.BatchID, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BatchID, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(model => model.BatchProgramID, "Program", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("BatchProgramID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BatchProgramID, "", new { @class = "text-danger" })
            </div>


        </div>
        <br />
        <div class="row">
            <div class="col-sm-5">
                <input type="submit" value="Search" class="btn btn-primary" />
                <a href="@Url.Content("~/DashboardStudents/CollegeServiceWiseAmounts")" class="btn btn-primary">Refresh</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>

        </div>
        <br />
    }
</body>
</html>
<input type="hidden" id="hdnBatchID" name="hdnBatchID" value="@ViewBag.hdnBatchID" />
<input type="hidden" id="hdnBatchProgramID" name="hdnBatchProgramID" value="@ViewBag.hdnBatchProgramID" />

@section Scripts {
    <script>

        $(document).ready(function () {

            $("#BatchID").change(function () {
                GetPrograms_by_FacultyLevelBatch();
                $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);

            });

            GetPrograms_by_FacultyLevelBatch();
            $("#BatchProgramID").val(@ViewBag.hdnBatchProgramID);

        });

        function GetPrograms_by_FacultyLevelBatch() {

            var BatchID = $("#BatchID").val();
            $.ajax({
                url: "@Url.Content("~/DashboardStudents/GetPrograms_by_FacultyLevelBatch")",
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ BatchID: +BatchID }),
                success: function (result) {
                    $("#BatchProgramID").html("");
                    $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                    $.each($.parseJSON(result), function (i, sem) {
                        $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                    });
                },
                error: function (ex) {
                    alert(ex.error);
                },
            });
        }
    </script>
}
