@model CampusManagement.Models.NationalitiesViewModel

@{
    ViewBag.Title = "Nationalities";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedNationality != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedNationality);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedNationality);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.Nationality());
    }
}

@using (Html.BeginForm("Index", "Nationalities", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedNationality.NationalityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedNationality.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedNationality.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Nationalities)
    {
    <tr>
        <td>
            <img src="@Url.Content(item.FlagURL)" style="width:20px;height:20px;" /> @Html.DisplayFor(modelItem => item.NationalityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.NationalityID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NationalityID })
        </td>
    </tr>
    }

</table>
