@using CampusManagement.Models
@{
    ViewBag.Title = "Teacher Profile";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    ModelCMSNewContainer db = new ModelCMSNewContainer();
    int EmpID = Convert.ToInt32(Session["emp_id"]);
    um_GetEmployees_ByID_Result emp = db.um_GetEmployees_ByID(EmpID).FirstOrDefault();
}

<div class="row">
    <h2><span class="col-sm-12"> Lecturer Profile</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

        <div>
            <dl class="dl-horizontal">
                
                <dt>
                    <label class="control-label"> Name </label>
                </dt>

                <dd>
                   @emp.EmployeeName
                </dd>

                <dt>
                    <label class="control-label">CNIC</label>
                </dt>

                <dd>
                   @emp.CNIC
                </dd>

                <dt>
                    <label class="control-label">Cell #</label>
                </dt>

                <dd>
                   @emp.Mobile_Number
                </dd>

                <dt>
                    <label class="control-label">Email</label>
                </dt>

                <dd>
                    @emp.email_address
                </dd>

                <dt>
                    <label class="control-label">Designation</label>
                </dt>

                <dd>
                    @emp.Designation_Name
                </dd>

                <dt>
                    <label class="control-label">Permanent Address</label>
                </dt>

                <dd>
                    @emp.Present_address
                </dd>

                <dt>
                    <label class="control-label">Present Address</label>
                </dt>

                <dd>
                    @emp.Present_address
                </dd>

            </dl>
        </div>
 