
@model CampusManagement.Models.AlumniReunionsDinnerViewModel

@{
    ViewBag.Title = "Alumni Education Expos";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedAlumniReunionsDinners != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedAlumniReunionsDinners);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedAlumniReunionsDinners);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.AlumniReunionsDinner());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
            Title
        </th>
        <th>
            Detail
        </th>
        <th>
            Location
        </th>
        <th>
            Start Date Time
        </th>
        <th>
            End Date Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedAlumniReunionsDinners.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.AlumniReunionsDinners)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReunionsDinnerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReunionsDinnerDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReunionsDinnerLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReunionsDinnerStartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReunionsDinnerEndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.AlumniReunionsDinnerID })
            </td>
        </tr>
    }

</table>





