@using CampusManagement.Models
@{
    ViewBag.Title = "Account Detail Service Wise";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    List<SF_GetCollegeServiceWiseAmounts_Result> lst = new List<SF_GetCollegeServiceWiseAmounts_Result>();
}

@using (Html.BeginForm("CollegeServiceWiseAmounts", "Finance", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-2">
            <label for="FormNo" class="control-label">Form #</label>
            <input id="FormNo" name="FormNo" class="form-control" />
        </div>
        <div class="col-sm-5">
            <label for="BatchID" class="control-label">Session</label>
            <select id="BatchID" name="BatchID" class="form-control"></select>
        </div>
        <div class="col-sm-5">
            <label for="BatchProgramID" class="control-label">Program</label>
            <select id="BatchProgramID" name="BatchProgramID" class="form-control"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}

<div class="row">
    <h2><span class="col-sm-12">Fee Receipts Summary</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

@{ 
    string FormNo = (ViewBag.FormNo == null) ? "" : ViewBag.FormNo;
    int BatchID = (ViewBag.BatchID == null) ? 0 : ViewBag.BatchID;
    int BatchProgramID = (ViewBag.BatchProgramID == null) ? 0 : ViewBag.BatchProgramID;
    lst = dbc.SF_GetCollegeServiceWiseAmounts("Yes", FormNo, "Student", BatchID, BatchProgramID).ToList();
}

<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in lst)
    {
        <tr>
            <td>
                @{ 
                    if (item.CollegeServiceName == "Total Amount")
                    {
                        <span style="color:brown;font-size:20px;font-weight:bold;">@item.CollegeServiceName</span>
                    }
                    else
                    {
                        <span style="color:green;font-weight:bold;">@item.CollegeServiceName</span>
                    }
                }
            </td>
            <td>
                @{
                    if (item.CollegeServiceName == "Total Amount")
                    {
                        <span style="color:brown;font-size:20px;font-weight:bold;">@item.Amount</span>
                    }
                    else
                    {
                        <span style="color:green;font-weight:bold;">@item.Amount</span>
                    }
                }
            </td>
        </tr>
    }

</table>

<div class="row">
    <h2><span class="col-sm-12">Balance Due Summary</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

@{
    lst = dbc.SF_GetCollegeServiceWiseAmounts("No", FormNo, "Student", BatchID, BatchProgramID).ToList();
}
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in lst)
    {
        <tr>
            <td>
                @{
                    if (item.CollegeServiceName == "Total Amount")
                    {
                        <span style="color:brown;font-size:20px;font-weight:bold;">@item.CollegeServiceName</span>
                    }
                    else
                    {
                        <span style="color:red;font-weight:bold;">@item.CollegeServiceName</span>
                    }
                }
            </td>
            <td>
                @{
                    if (item.CollegeServiceName == "Total Amount")
                    {
                        <span style="color:brown;font-size:20px;font-weight:bold;">@item.Amount</span>
                    }
                    else
                    {
                        <span style="color:red;font-weight:bold;">@item.Amount</span>
                    }
                }
            </td>
        </tr>
    }

</table>

<script>

    $(document).ready(function () {
        GetActiveBatches();
        $("#BatchID").val(@ViewBag.BatchID);
        GetPrograms_by_FacultyLevelBatch();
        $("#BatchProgramID").val(@ViewBag.BatchProgramID);
        $("#FormNo").val(@ViewBag.FormNo);

        $("#BatchID").change(function () {
            GetPrograms_by_FacultyLevelBatch();
        });
    });

    function GetPrograms_by_FacultyLevelBatch() {

        var BatchID = $("#BatchID").val();
        $.ajax({
            url: "@Url.Content("~/Finance/GetPrograms_by_FacultyLevelBatch")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify({ BatchID: +BatchID }),
            success: function (result) {
                $("#BatchProgramID").html("");
                $("#BatchProgramID").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchProgramID").append($('<option></option>').val(sem.BatchProgramID).html(sem.ProgramName));
                });
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

    function GetActiveBatches() {
        $.ajax({
            url: "@Url.Content("~/Finance/GetActiveBatches")",
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            async: false,
            success: function (result) {
                $("#BatchID").html("");
                $("#BatchID").append($('<option></option>').val("0").html("--Please Select--"));
                $.each($.parseJSON(result), function (i, sem) {
                    $("#BatchID").append($('<option></option>').val(sem.BatchID).html(sem.BatchName));
                });

                if ("@ViewBag.hdnBatchID" != "") {
                    $("#BatchID").val("@ViewBag.hdnBatchID");
                }
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }
</script>

