@{
    ViewBag.Title = "Finance Reports";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row" style="background:white;box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;">

    <div class="" style="padding: .75rem 1.25rem;margin-bottom: 0;background-color: #f8f9fc; border-top: 1px solid #e3e6f0; border-bottom: 1px solid #e3e6f0;">
        <h6 class="" style="color: #4e73df!important;font-weight: 700!important;font-size: 2rem;line-height: 1.2;"> Finance Reports </h6>
    </div>
    <br />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_sf_GetFeeReceiptSummaryBatchWise")"  class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Receipt Summary</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramDateRangeSearch.aspx?ReportName=rpt_sf_GetFeeReceiptDetailBatchWise")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Date Wise Fee Detail</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_PaymentCollections")" class="btn btn-primary btn-icon-split" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Payment Detail</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramDateRangeSearch.aspx?ReportName=rpt_sf_GetFeeReceiptStudentDetailBatchWise")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Program Wise Fee Submission</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchIDSearch.aspx?ReportName=rpt_sf_GetFeeRefundExistingDetailBatchWise")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Refund Detail Existing Students</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchIDSearch.aspx?ReportName=rpt_sf_GetFeeCompleteDetailAllStudentBatchWise")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Receipt Complete Detail</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_PaymentSummary")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Payment Summary</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_PayablesDetail")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Outstandings Detail</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="background:white;">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_PCollectedAmount")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Payment Detail - Service Wise</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=rpt_PayableAmount")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Outstandings Detail - Service Wise</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <!-- small box -->
                <a class="btn btn-primary btn-icon-split" href="@Url.Content("~/Reporting/ReportForms/ReportViewerBatchProgramFormSearch.aspx?ReportName=SF_GetApplicantStudentChallansFeeDefaulterSummary")" target="_blank">
                    <span class="icon text-white-50">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="text">Fee Defaulters History</span>
                </a>
            </div>
        </div>
        <br />
    </div>

</div>



<style>
    .icon {
        color: rgba(255,255,255,.5) !important;
        position: absolute;
        background: rgba(0,0,0,.15);
        display: inline-block;
        padding: 0.5em 0.8em 0.7em 0.5em;
        margin-left: -13px;
        margin-top: -7px;
        border-radius: 5px 1px 1px 5px;
    }

    .text {
        padding: 1em 1em 1em 2em;
        font-size: 17px;
    }

    .btn {
        width: 22em;
        text-align: left;
    }
</style>

