@model IEnumerable<CampusManagement.Models.GetApplicantStudentChallans_Result>
@{
    ViewBag.Title = "Fee Payment History";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />

<table class="table">
    <tr>
        <th>
            Form #
        </th>
        <th>
            Challan #
        </th>
        <th>
            Issue Date
        </th>
        <th>
            Deposit Date
        </th>
        <th>
            Is Deposited
        </th>
        <th>
            Amount
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeposited)
            </td>
            <td style="font-weight:bold;color:green;">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a href="@Url.Content("~/Reporting/ReportForms/ReportViewerForm.aspx?Type=Student&ReportName=rptGetChallan&ChallanID=")@item.ChallanID" target="_blank">Challan</a>
            </td>
        </tr>
    }

</table>



