@model CampusManagement.Models.ExamResultForDisplayViewModel
@using CampusManagement.Models

@if (Model.ExamResultForDisplayObj.ExamStudentSubjectMarkID == 0)
{
    <span style="color:red"> No exam subject result added yet.</span>
}
else
{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    decimal? TotalAssignementMarks = 0;
    decimal? TotalQuiztMarks = 0;
    decimal? TotalObtainAssignementMarks = 0;
    decimal? TotalObtainQuiztMarks = 0;
    decimal? OverallObtailmarks = 0;

    Model.ExamStudentSubjectMarkDetailList = dbc.GetExamStudentSubjectMarkDetailByID(Model.ExamResultForDisplayObj.ExamStudentSubjectMarkID, Model.ExamResultForDisplayObj.ExamID, Model.ExamResultForDisplayObj.ProgramCourseID, Model.ExamResultForDisplayObj.StudentID).ToList();

    if (Model.ExamStudentSubjectMarkDetailList.Count > 0)
    {
        if (Model.ExamStudentSubjectMarkDetailList[0].ExamStudentSubjectMarkDetailID != 0)
        {
            for (var x = 0; x < Model.ExamStudentSubjectMarkDetailList.Count; x++)
            {
                if (Model.ExamStudentSubjectMarkDetailList[x].ExamStudentSubjectMarkTypeID == 1)
                {
                    TotalAssignementMarks = TotalAssignementMarks + Model.ExamStudentSubjectMarkDetailList[x].TotalMarks;
                    TotalObtainAssignementMarks = TotalObtainAssignementMarks + Model.ExamStudentSubjectMarkDetailList[x].ObtainMarks;

                }
                else if (Model.ExamStudentSubjectMarkDetailList[x].ExamStudentSubjectMarkTypeID == 2)
                {
                    TotalQuiztMarks = TotalQuiztMarks + Model.ExamStudentSubjectMarkDetailList[x].TotalMarks;
                    TotalObtainQuiztMarks = TotalObtainQuiztMarks + Model.ExamStudentSubjectMarkDetailList[x].ObtainMarks;
                }

            }
        }
    }

    <div>
        <h3> Subject Marks Summary</h3>
    </div>
    <table style="width:100%">
        <tr style="width:100%">

            <td style="width:20%">

                <span style="font-weight:bold">Total Subject Marks</span>
            </td>
            <td style="width:80%">
                @Html.DisplayFor(model => model.ExamResultForDisplayObj.TotalSubjectMarks)
            </td>
        </tr>

        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Total Obtain Marks</span>

            </td>
            <td style="width:80%; color:green">
                @{  OverallObtailmarks = Model.ExamResultForDisplayObj.ObtainWrittenTestMarks + @TotalObtainAssignementMarks + @TotalObtainQuiztMarks;

                }
                @Math.Round(Convert.ToDecimal(@OverallObtailmarks), 2)  / @Math.Round(Convert.ToDecimal(Model.ExamResultForDisplayObj.TotalSubjectMarks), 2)  = @{


                    decimal? percetage = (@OverallObtailmarks / Model.ExamResultForDisplayObj.TotalSubjectMarks) * 100;


                }
                @Math.Round(Convert.ToDecimal(@percetage), 2) %


            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Written Test Marks</span>

            </td>
            <td style="width:80%">
                @Math.Round(Convert.ToDecimal(Model.ExamResultForDisplayObj.WrittenTestMarks), 2)

            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Obtain Written Test Marks</span>

            </td>
            <td style="width:80%">

                @Math.Round(Convert.ToDecimal(Model.ExamResultForDisplayObj.ObtainWrittenTestMarks), 2)

            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Status</span>

            </td>
            <td style="width:80%">
                @if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 1)
                {
                    <div>Present </div>
                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 2)
                {
                    <div>Absent </div>
                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 3)
                {
                    <div>On Sick Leave </div>

                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 4)
                {
                    <div>On Casual Leave </div>

                }
            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Total Assignment Marks</span>

            </td>
            <td style="width:80%">

                @Math.Round(Convert.ToDecimal(@TotalAssignementMarks), 2)
            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Obtained Assignment Marks</span>

            </td>
            <td style="width:80%">
                @Math.Round(Convert.ToDecimal(@TotalObtainAssignementMarks), 2)

            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Total Quiz Marks</span>

            </td>

            <td style="width:80%">
                @Math.Round(Convert.ToDecimal(@TotalQuiztMarks), 2)
            </td>
        </tr>
        <tr style="width:100%">

            <td style="width:20%">
                <span style="font-weight:bold">Obtained Quiz Marks</span>

            </td>
            <td style="width:80%">
                @Math.Round(Convert.ToDecimal(@TotalObtainQuiztMarks), 2)

            </td>
        </tr>
    </table>
    <br />

    <div class="pull-right">
        @Html.ActionLink("(View / Make) Change Grade Form Request", "ExamGradeFormRequest", new { ExamID = Model.ExamResultForDisplayObj.ExamID, ProgramCourseID = Model.ExamResultForDisplayObj.ProgramCourseID, StudentID = Model.ExamResultForDisplayObj.StudentID, ExamStudentSubjectMarkID = Model.ExamResultForDisplayObj.ExamStudentSubjectMarkID })
    </div>
    <div>
        <h3> Subject Marks Details</h3>
    </div>
    <table class="table">
        <tr>


            <th>
                Total Subject Marks
            </th>

            <th>
                Written Test Marks
            </th>
            <th>
                Obtain Written Test Marks
            </th>
            <th>
                Status
            </th>


        </tr>


        <tr>

            <td>
                @Html.DisplayFor(model => model.ExamResultForDisplayObj.TotalSubjectMarks)

            </td>

            <td>

                @Html.DisplayFor(model => model.ExamResultForDisplayObj.WrittenTestMarks)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExamResultForDisplayObj.ObtainWrittenTestMarks)
            </td>
            <td>
                @if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 1)
                {
                    <div>Present </div>
                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 2)
                {
                    <div>Absent </div>
                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 3)
                {
                    <div>On Sick Leave </div>

                }
                else if (Model.ExamResultForDisplayObj.StudentPresentStatusID == 4)
                {
                    <div>On Casual Leave </div>

                }

            </td>


        </tr>



    </table>


                    if (Model.ExamStudentSubjectMarkDetailList.Count > 0)
                    {
                        if (Model.ExamStudentSubjectMarkDetailList[0].ExamStudentSubjectMarkDetailID != 0)
                        {
                            <div>
                                <h3> Subject Marks Assignment/Quiz Details</h3>
                            </div>
                            <table class="table">
                                <tr>


                                    <th>
                                        Total Marks
                                    </th>

                                    <th>
                                        Obtain Marks
                                    </th>
                                    <th>
                                        Marks Type
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Is Submitted
                                    </th>


                                </tr>
                                @for (var i = 0; i < Model.ExamStudentSubjectMarkDetailList.Count; i++)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(model => model.ExamStudentSubjectMarkDetailList[i].TotalMarks)

                                        </td>

                                        <td>

                                            @Html.DisplayFor(model => model.ExamStudentSubjectMarkDetailList[i].ObtainMarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ExamStudentSubjectMarkDetailList[i].MarkTypeName)
                                        </td>
                                        <td>
                                            @if (Model.ExamStudentSubjectMarkDetailList[i].StudentPresentStatusID == 1)
                            {
                                                <div>Present </div>
                                            }
                                            else if (Model.ExamStudentSubjectMarkDetailList[i].StudentPresentStatusID == 2)
                                            {
                                                <div>Absent </div>
                                            }
                                            else if (Model.ExamStudentSubjectMarkDetailList[i].StudentPresentStatusID == 3)
                                            {
                                                <div>On Sick Leave </div>

                                            }
                                            else if (Model.ExamStudentSubjectMarkDetailList[i].StudentPresentStatusID == 4)
                                            {
                                                <div>On Casual Leave </div>

                                            }

                                        </td>
                                        <td>
                                            @if (Model.ExamStudentSubjectMarkDetailList[i].IsTeacherSubmitted == 1)
                            {
                                                <div style="color:green">Submitted</div>
                                            }
                                            else
                                            {
                                                <div style="color:red">Not Submitted</div>
                                            }
                                        </td>

                                    </tr>
                                }





                            </table>
                            }
                        }



                    }







<script>
    $(document).ready(function () {

        // $("#TotalSubjectMarks").val("");

    });

</script>
