@model CampusManagement.Models.ScholarshipApplicantViewModel
@using CampusManagement.Models

@{
    ViewBag.Title = "Scholarship Apply";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<html lang="en">
<head>

</head>
<body>


    <div class="row">
        <h2><span class="col-sm-12">Apply</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />


    <table style="width:100%">
        <tr style="width:100%">
            <td style="width:15%">
                <a href="@Url.Content(Model.SO.ScholarshipImagePath)" target="_blank"><img id="imgView" src="@Url.Content(Model.SO.ScholarshipImagePath)" style="width:100px;height:100px;border-radius:10px;" /></a>
            </td>
            <td style="width:85%">
                <table class="table-striped" style="width:300px">
                    <tr>
                        <td>
                            <label class="control-label">Title &nbsp; &nbsp;</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SO.ScholarshipTitle)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">DeadLine &nbsp; &nbsp;</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SO.DeadLine)
                        </td>
                    </tr>

                </table>
            </td>
            <td></td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
                <label class="control-label">Scholarship Description </label>
            </td>
        </tr>
        <tr>
            <td>

                @Html.DisplayFor(modelItem => Model.SO.ScholarshipDescription)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="control-label">How To Qualify </label>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.SO.HowToQualify)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Eligibility Description </label>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.SO.EligibilityDescription)

            </td>

        </tr>


    </table>
    <br />

    @using (Html.BeginForm("Create", "ScholarshipStudentApply", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        ModelCMSNewContainer dbc = new ModelCMSNewContainer();
        List<GetScholarshipDocumentsByDocumentID_Result> StudentDocumentList;
        <input id="hdnRowCount" name="hdnRowCount" value="@Model.DocumentList.Count" type="hidden" />
        <input id="ScholarshipOpportunitiesID" name="ScholarshipOpportunitiesID" value="@ViewBag.ScholarshipOpportunitiesID" type="hidden" />
        int i = 1;
        if (Model.DocumentList.Count > 0)
        {

            <table class="table">
                <tr>

                    <th>
                        Document Check List
                    </th>  
                    <th>
                        My Document
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                @foreach (var item in Model.DocumentList)
                {
                    string ScholarshipDocumentID = string.Concat("ScholarshipDocumentID_", i);
                    string ScholarshipDocumentName = string.Concat("CheckListDescription_", i);
                    string UploadFiles = string.Concat("UploadFiles_", i);
                    <tr>

                        <td>
                            <input id="@ScholarshipDocumentID" name="@ScholarshipDocumentID" value="@item.ScholarshipDocumentID" class="form-control" type="hidden" />

                            <input id="@ScholarshipDocumentName" name="@ScholarshipDocumentName" value="@item.ScholarshipDocumentName" type="hidden" class="form-control" />

                            @Html.DisplayFor(modelItem => item.ScholarshipDocumentName)
                        </td>
                        @*<td>
                            @Html.ActionLink("Upload", "UploadDocuments", "ScholarshipStudentApply", new { ScholarshipApplicantID = Model.SA.ScholarshipApplicantID, ScholarshipDocumentID = item.ScholarshipDocumentID, ScholarshipOpportunitiesID = ViewBag.ScholarshipOpportunitiesID }, null)

                        </td>*@
                        <td>
                            @{ StudentDocumentList = new List<GetScholarshipDocumentsByDocumentID_Result>();
                                StudentDocumentList = dbc.GetScholarshipDocumentsByDocumentID(item.ScholarshipDocumentID).ToList();
                                if (StudentDocumentList.Count > 0)
                                {
                                    <table style="width:100%">
                                        @foreach (GetScholarshipDocumentsByDocumentID_Result DocObj in StudentDocumentList)
                                        {
                                            <tr>
                                                <td>
                                                    <input id="@DocObj.ScholarshipApplicantID" name="@DocObj.ScholarshipApplicantID" value="@DocObj.ScholarshipApplicantID" type="hidden" class="form-control" />
                                                    <a href="@Url.Content(@DocObj.DocumentPath)" target="_blank">View Document</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                }
                            }
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.IsDocumentAdded, new { @class = "checkbox-inline", @style = "width:20px;height:20px", disabled = "disabled" })
                        </td>

                    </tr>
                                    i++;
                                }
            </table>
            <hr />
                                }

                                <table style="width:100%">

                                    <tr>

                                        <td class="pull-right">
                                            <hr />
                                            <a href="@Url.Content("~/ScholarshipStudentApply/Index")" class="btn btn-primary">Back</a>

                                        </td>
                                    </tr>
                                </table>
                                }

</body>
</html>


