
@using CampusManagement.Models

@{
    ViewBag.Title = "Students";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@using (Html.BeginForm("CreateAttendance", "StudentAttandance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top: -3em;">
        <h2><span class="col-sm-12">Auto Students Attendance</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;">
    @Html.Partial("_MessageView")

    ModelCMSNewContainer dbc = new ModelCMSNewContainer();

    List<GetCouserStudents_By_CourseID_Result> StudentsList = new List<GetCouserStudents_By_CourseID_Result>();
    int CourseID = ViewBag.CourseID;
    int ProgramCourseID = ViewBag.ProgramCourseID;
    StudentsList = dbc.GetCouserStudents_By_CourseID(ProgramCourseID,CourseID).ToList();
    <input id="hdnRowCount" name="hdnRowCount" value="@StudentsList.Count" type="hidden" />
    <input id="CourseID" name="CourseID" value="@ViewBag.CourseID" class="form-control" type="hidden" />
        <input id = "BatchProgramID" name = "BatchProgramID" value = "@ViewBag.BatchProgramID" class="form-control" type="hidden" />
        <input id="ProgramCourseID" name="ProgramCourseID" value="@ViewBag.ProgramCourseID" class="form-control" type="hidden" />
        <input id="TeacherID" name="TeacherID" value="@ViewBag.TeacherID" class="form-control" type="hidden" />
        <input id="YearSemesterNo" name="YearSemesterNo" value="@ViewBag.YearSemesterNo" class="form-control" type="hidden" />
    int i = 1;
    if (StudentsList.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Father Name
                </th>
                <th>
                    Present Status
                </th>

            </tr>

            @foreach (var item in StudentsList)
            {
                string StudentID = string.Concat("StudentID_", i);
                string StudentName = string.Concat("StudentName_", i);
                string FatherName = string.Concat("FatherName_", i);
                string PresentStatus = string.Concat("PresentStatus_", i);
                <tr>
                    
                    <td>
                        <input id="@StudentID" name="@StudentID" value="@item.StudentID" class="form-control" type="hidden" />
                        <input id="@StudentName" name="@StudentName" value="@item.StudentFullName" class="form-control" type="hidden" />
                        @Html.DisplayFor(modelItem => item.StudentFullName)
                    </td>
                    <td>
                        <input id="@FatherName" name="@FatherName" value="@item.FatherName" class="form-control" type="hidden" />
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </td>
                    <td>
                        @Html.DropDownList(PresentStatus, (SelectList)ViewBag.PresentStatus, htmlAttributes: new { @class = "form-control", @id = PresentStatus })
                    </td>
                   
                </tr>
                i++;
            }
        </table>
    }
    
    <div>
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
