@model List<CampusManagement.Models.GetStudentAttendanceSummaryByID_Result>
@{
    ViewBag.Title = "Student Attendance Summary";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageView")

@{
    if (Model.Count > 0)
    {
        int StudentID = 0;
        <table class="table">
            <tr>
                <th>
                    Student Detail
                </th>
                <th>
                    Attendance Detail
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ 
                            if(StudentID != item.StudentID)
                            { 
                            <table>
                                <tr>
                                    <td><label class="control-label">Name:&nbsp;</label>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td><label class="control-label">&nbsp;Cell #:&nbsp;</label>@Html.DisplayFor(modelItem => item.CellNo)</td>
                                    <td><label class="control-label">&nbsp;Email:&nbsp;</label>@Html.DisplayFor(modelItem => item.Email)</td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Session:&nbsp;</label>@Html.DisplayFor(modelItem => item.BatchSession)</td>
                                    <td><label class="control-label">&nbsp;Program:&nbsp;</label>@Html.DisplayFor(modelItem => item.ProgramName)</td>
                                    <td><label class="control-label">&nbsp;Semester #:&nbsp;</label>@Html.DisplayFor(modelItem => item.YearSemesterNo)</td>
                                </tr>
                            </table>
                                StudentID = item.StudentID;
                            }
                        }
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="4"><label class="control-label">Subject:&nbsp;</label>@Html.DisplayFor(modelItem => item.CourseName)</td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Total:&nbsp;</label>@Html.DisplayFor(modelItem => item.TotalLectureCount)</td>
                                <td><label class="control-label">&nbsp;Present:&nbsp;</label>@Html.DisplayFor(modelItem => item.TotalStudentPresentLectureCount)</td>
                                <td><label class="control-label">&nbsp;Absent:&nbsp;</label>@Html.DisplayFor(modelItem => item.TotalStudentAbsenceLectureCount)</td>
                                <td><label class="control-label">&nbsp;Percentage:&nbsp;</label>@Html.DisplayFor(modelItem => item.TotalPersentage)</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        @Html.ActionLink("Attendance Detail", "StudentAttendanceDetail", new { StudentID = item.StudentID, CourseID = item.CourseID })
                    </td>
                </tr>
            }
        </table>
    }
}