@using CampusManagement.Models
@{
    ViewBag.Title = "Student List";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    <h2><span class="col-sm-12">@ViewBag.Title</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;" />
@Html.Partial("_MessageView")

@{
    ModelCMSNewContainer dbc = new ModelCMSNewContainer();
    int hdnCourseID = (ViewBag.hdnCourseID == null) ? 0 : ViewBag.hdnCourseID;
    List<GetAdminStudentListByCourseID_Result> lstDocs = dbc.GetAdminStudentListByCourseID(hdnCourseID, 0).ToList();
    <input name="hdnCourseID" value="@ViewBag.hdnCourseID" type="hidden" id="CourseID" />

    if (lstDocs.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Student
                </th>
                <th>
                    Cell No
                </th>
                <th>
                    Email
                </th>
                <th>
                    Session
                </th>
                <th>
                    Program
                </th>
                <th>
                    Course
                </th>

                <th>
                    Action
                </th>

            </tr>

            @foreach (var item in lstDocs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CellNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchSession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.ActionLink("Attendance Summary", "StudentAttendanceSummary", new { StudentID = item.studentID, CourseID = item.CourseID }) |
                        @Html.ActionLink("Attendance Detail", "StudentAttendanceDetail", new { StudentID = item.studentID, CourseID = 0 }) |
                        @Html.ActionLink("Subjects Detail", "ActiveCoursesByStudentID", new { StudentID = item.studentID })
                    </td>
                </tr>
            }
        </table>
    }
}

