@model List<CampusManagement.Models.GetTeacherActiveCources_by_TeacherID_Result>

@{
    ViewBag.Title = "My Lectures";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="row">
    <h2><span class="col-sm-12">My Lectures</span></h2>
</div>
<hr style="border-top: 1px solid #6d9b90;">

<table class="table">
    <tr>
        <th>
            Semester Code
        </th>
        <th>
            Subject Name
        </th>
        <th>
            Session
        </th>
        <th>
            Semester #
        </th>
        <th>
            Faculty
        </th>
        <th>
            Actions
        </th>
    </tr>
  @{ int i = 0;}
    @foreach (var item in Model)
    {
        string BatchProgramID = string.Concat("BatchProgramID_", i);
        string TeacherID = string.Concat("TeacherID_", i);
        string CourseID = string.Concat("CourseID_", i);

        <tr>
            <td>
                <input id="@BatchProgramID" name="@BatchProgramID" value="@item.BatchProgramID" type="hidden" class="form-control" />
                <input id="@TeacherID" name="@TeacherID" value="@item.TeacherID" type="hidden" class="form-control" />
                <input id="@CourseID" name="@CourseID" value="@item.CourseID" type="hidden" class="form-control" />
                @Html.DisplayFor(modelItem => item.SemesterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.BatchSession)
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.YearSemesterNo)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.FaculityName)
            </td>
            <td>
                @Html.ActionLink("View Attendance", "StudentAttendanceSummary", new { StudentID = 0, CourseID = item.CourseID }) |
                @Html.ActionLink("Students", "SubjectWiseStudentList", new { CourseID = item.CourseID })
            </td>

        </tr>
        i++;
    }

</table>

