@model CampusManagement.Models.CurrentOccupationsViewModel

@{
    ViewBag.Title = "Occupations";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedCurrentOccupation != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedCurrentOccupation);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedCurrentOccupation);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.CurrentOccupation());
    }
}

@using (Html.BeginForm("Index", "CurrentOccupations", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-success" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCurrentOccupation.CurrentOccupationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCurrentOccupation.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCurrentOccupation.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.CurrentOccupations)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentOccupationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.CurrentOccupationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CurrentOccupationID })
        </td>
    </tr>
    }

</table>
