
@model CampusManagement.Models.LMSQuizIQuestionViewModel
@using CampusManagement.Models

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedLMSQuizIQuestions != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedLMSQuizIQuestions);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedLMSQuizIQuestions);
        }
    }

    ModelCMSNewContainer dbc = new ModelCMSNewContainer();

}




<table class="table">
    <tr>
        <td> <h3> MCQs</h3> </td>
    </tr>
    @{int RowNo = 0;}
    @foreach (var item in Model.LMSQuizIQuestions)
    {

        if (item.LMSQuestionTypeID == 1)
        {

            <tr>
                <td colspan="2">
                    <b>@{RowNo++;} @RowNo)</b> <label>Question :</label>

                    @Html.DisplayFor(modelItem => item.AskedQuestion)
                </td>
                <td>
                    <label>Marks :</label>

                    @Html.DisplayFor(modelItem => item.QuestionMarks)
                </td>
                <td>
                    <label>Is Active :</label>

                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>


            </tr>

            <tr>
                <td>
                    <b>
                        <span>Question Options</span>
                    </b><br />
                    <b><span> a: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionMCQ1) </label> <br />
                    <b><span> b: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionMCQ2) </label> <br />
                    <b><span> c: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionMCQ3) </label> <br />
                    <b><span> d: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionMCQ4) </label>
                </td>
                <td>
                    <b>
                        <span> Answers Options</span>
                    </b><br />

                    <input type="checkbox" disabled class="checkbox-inline" id="AnswerMCQ1" name="AnswerMCQ1" checked="@item.AnswerMCQ1" style="height: 15px; width: 15px;"> <b><span>@item.AnswerMCQTitle1</span></b>   <br />
                    <input type="checkbox" disabled class="checkbox-inline" id="AnswerMCQ2" name="AnswerMCQ2" checked="@item.AnswerMCQ2" style="height: 15px; width: 15px;"> <b> <span>@item.AnswerMCQTitle2</span></b> <br />
                    <input type="checkbox" disabled class="checkbox-inline" id="AnswerMCQ3" name="AnswerMCQ3" checked="@item.AnswerMCQ3" style="height: 15px; width: 15px;"> <b><span>@item.AnswerMCQTitle3</span></b>  <br />
                    <input type="checkbox" disabled class="checkbox-inline" id="AnswerMCQ4" name="AnswerMCQ4" checked="@item.AnswerMCQ4" style="height: 15px; width: 15px;"> <b><span>@item.AnswerMCQTitle4</span></b>
                </td>
            </tr>


                            }


                        }

</table>

<hr>

<table class="table">
    <tr>
        <td> <h3> SCQs </h3> </td>
    </tr>
    @{int RowNo2 = 0;}
    @foreach (var item in Model.LMSQuizIQuestions)
    {



        if (item.LMSQuestionTypeID == 2)
        {
            <tr>
                <td colspan="2">
                    <b>@{RowNo2++;} @RowNo2)</b>  <label>Question :</label>

                    @Html.DisplayFor(modelItem => item.AskedQuestion)
                </td>
                <td>
                    <label>Marks :</label>

                    @Html.DisplayFor(modelItem => item.QuestionMarks)
                </td>
                <td>
                    <label>Is Active :</label>

                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>


            </tr>

            <tr>
                <td>
                    <b>
                        <span>Question Options</span>
                    </b><br />
                    <b><span> a: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionSCQ1) </label> <br />
                    <b><span> b: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionSCQ2) </label> <br />
                    <b><span> c: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionSCQ3) </label> <br />
                    <b><span> d: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionSCQ4) </label>
                </td>
                <td>
                    <b>
                        <span> Answers Options</span>
                    </b><br />

                    <input type="radio" disabled class="checkbox-inline" id="rdAnswerSCQ1" name="AnswerSCQ" checked="@item.AnswerSCQ1" style="height: 15px; width: 15px;"> <b><span>@item.AnswerSCQTitle1</span></b>   <br />
                    <input type="radio" disabled class="checkbox-inline" id="rdAnswerSCQ2" name="AnswerSCQ" checked="@item.AnswerSCQ2" style="height: 15px; width: 15px;"> <b> <span>@item.AnswerSCQTitle2</span></b> <br />
                    <input type="radio" disabled class="checkbox-inline" id="rdAnswerSCQ3" name="AnswerSCQ" checked="@item.AnswerSCQ3" style="height: 15px; width: 15px;"> <b><span>@item.AnswerSCQTitle3</span></b>  <br />
                    <input type="radio" disabled class="checkbox-inline" id="rdAnswerSCQ4" name="AnswerSCQ" checked="@item.AnswerSCQ4" style="height: 15px; width: 15px;"> <b><span>@item.AnswerSCQTitle4</span></b>
                </td>
            </tr>


                            }

                        }

</table>

<hr>
<table class="table">
    <tr>
        <td> <h3> True/False</h3> </td>
    </tr>
    @{int RowNo3 = 0;}
    @foreach (var item in Model.LMSQuizIQuestions)
    {

        if (item.LMSQuestionTypeID == 3)
        {
            <tr>
                <td colspan="2">
                    <b>@{RowNo3++;} @RowNo3) </b> <label>Question :</label>

                    @Html.DisplayFor(modelItem => item.AskedQuestion)
                </td>
                <td>
                    <label>Marks :</label>

                    @Html.DisplayFor(modelItem => item.QuestionMarks)
                </td>
                <td>
                    <label>Is Active :</label>

                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>


            </tr>
            <tr>
                <td>
                    <b>
                        <span>Question Options</span>
                    </b><br />
                    <b><span> Option True: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionTrueTitle) </label> <br />
                    <b><span> Option False: </span></b><label>@Html.DisplayFor(modelItem => item.QuestionFalseTitle) </label> <br />

                </td>
                <td>
                    <b>
                        <span> Answers Options</span>
                    </b><br />

                    <input type="radio" disabled class="checkbox-inline" id="rdAnswerTrueFalse" name="AnswerTrueFalse" checked="@item.AnswerTrueFalse" style="height: 15px; width: 15px;">  <br />

                </td>
            </tr>


                            }

                        }

</table>



<style>
    tr {
        border: none !important;
    }

    table {
        border: none !important;
    }

    td {
        border: none !important;
        border-top: none !important;
    }
</style>


