@model CampusManagement.Models.QuizQuestionAttemptViewModel
@using CampusManagement.Models

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("StudentsQuizAttempt", "LmsStudentActiveCourses", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <table class="table">
        @{

            int i = Convert.ToInt32(ViewBag.Iindex);

            if (i < Model.QuizQuestionList.Count)
            {

                if (Model.QuizQuestionList[i].LMSQuestionTypeID == 1)
                {
                <tr>

                    <td colspan="3"> <h3> MCQ</h3><hr style="border-top: 1px solid #6d9b90;" /> </td>

                </tr>
                }
                else if (Model.QuizQuestionList[i].LMSQuestionTypeID == 2)
                {
                    <tr>
                        <td colspan="3"> <h3> SCQ </h3><hr style="border-top: 1px solid #6d9b90;" /> </td>
                    </tr>
                }
                else if (Model.QuizQuestionList[i].LMSQuestionTypeID == 3)
                {
                <tr>
                    <td colspan="3"> <h3> True/False </h3><hr style="border-top: 1px solid #6d9b90;" /> </td>
                </tr>
                }


                if (Model.QuizQuestionList[i].LMSQuestionTypeID == 1)
                {
                <tr>
                    <td colspan="2">

                        <input type="hidden" name="Iindex" id="Iindex" value="@ViewBag.Iindex" />
                        <input type="hidden" name="LMSSubjectLearningID" id="LMSSubjectLearningID" value="@ViewBag.LMSSubjectLearningID" />
                        <input type="hidden" name="LSTitle" id="LSTitle" value="@ViewBag.LSTitle" />
                        <input type="hidden" name="IsValidAttempts" id="IsValidAttempts" value="@ViewBag.IsValidAttempts" />
                        <input type="hidden" name="LMSStudentQuizAttemptID" id="LMSStudentQuizAttemptID" value="@ViewBag.LMSStudentQuizAttemptID" />



                    <h4><b>Q. @Html.Raw(Model.QuizQuestionList[i].AskedQuestion) </b></h4>
                    </td>
                    <td>
                        <label>Marks :</label>

                        @Html.Raw(Model.QuizQuestionList[i].QuestionMarks)
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>
                            <span>Question Options</span>
                        </b><br /><br />
                        <b><span> a: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionMCQ1) </label> <br />
                        <b><span> b: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionMCQ2) </label> <br />
                        <b><span> c: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionMCQ3) </label> <br />
                        <b><span> d: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionMCQ4) </label>
                    </td>
                    <td>
                        <b>
                            <span> Answers Options</span>
                        </b><br /><br />
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizID)
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizIQuestionD)
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSStudentQuizAttemptID)
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuestionTypeID)
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].QuestionMarks)

                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerMCQ1, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerMCQTitle1</span></b><br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerMCQ2, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerMCQTitle2</span></b><br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerMCQ3, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerMCQTitle3</span></b><br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerMCQ4, new { @class = "checkbox-inline", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerMCQTitle4</span></b>

                    </td>
                </tr>
                    }

                    if (Model.QuizQuestionList[i].LMSQuestionTypeID == 2)
                    {
                <tr>
                    <td colspan="2">

                        <input type="hidden" name="Iindex" id="Iindex" value="@ViewBag.Iindex" />
                        <input type="hidden" name="LMSSubjectLearningID" id="LMSSubjectLearningID" value="@ViewBag.LMSSubjectLearningID" />
                        <input type="hidden" name="LSTitle" id="LSTitle" value="@ViewBag.LSTitle" />
                        <input type="hidden" name="IsValidAttempts" id="IsValidAttempts" value="@ViewBag.IsValidAttempts" />
                        <input type="hidden" name="LMSStudentQuizAttemptID" id="LMSStudentQuizAttemptID" value="@ViewBag.LMSStudentQuizAttemptID" />



                        <h4><b>Q. @Html.Raw(Model.QuizQuestionList[i].AskedQuestion) </b></h4>
</td>
                    <td>
                        <label>Marks :</label>

                        @Html.Raw(Model.QuizQuestionList[i].QuestionMarks)
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>
                            <span>Question Options</span>
                        </b><br /><br />
                        <b><span> a: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionSCQ1) </label> <br />
                        <b><span> b: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionSCQ2) </label> <br />
                        <b><span> c: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionSCQ3) </label> <br />
                        <b><span> d: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionSCQ4) </label>
                    </td>
                    <td>
                        <b>
                            <span> Answers Options</span>
                        </b><br /><br />
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizIQuestionD)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSStudentQuizAttemptID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuestionTypeID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].QuestionMarks)
    

                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerSCQ1, new { @class = "checkbox-inline rdaiocb", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerSCQTitle1</span></b>   <br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerSCQ2, new { @class = "checkbox-inline rdaiocb", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerSCQTitle2</span></b> <br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerSCQ3, new { @class = "checkbox-inline rdaiocb", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerSCQTitle3</span></b>  <br />
                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerSCQ4, new { @class = "checkbox-inline rdaiocb", @style = "width:20px;height:20px", })<b> <span>@Model.QuizQuestionList[i].AnswerSCQTitle4</span></b>

                    </td>
                </tr>
    
            }
                if (Model.QuizQuestionList[i].LMSQuestionTypeID == 3)
                {
                <tr>
                    <td colspan="2">

                        <input type="hidden" name="Iindex" id="Iindex" value="@ViewBag.Iindex" />
                        <input type="hidden" name="LMSSubjectLearningID" id="LMSSubjectLearningID" value="@ViewBag.LMSSubjectLearningID" />
                        <input type="hidden" name="LSTitle" id="LSTitle" value="@ViewBag.LSTitle" />
                        <input type="hidden" name="IsValidAttempts" id="IsValidAttempts" value="@ViewBag.IsValidAttempts" />
                        <input type="hidden" name="LMSStudentQuizAttemptID" id="LMSStudentQuizAttemptID" value="@ViewBag.LMSStudentQuizAttemptID" />



                        <h4><b>Q.   @Html.Raw(Model.QuizQuestionList[i].AskedQuestion)</b></h4>
</td>
                    <td>
                        <label>Marks :</label>

                        @Html.Raw(Model.QuizQuestionList[i].QuestionMarks)
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>
                            <span>Options</span>
                        </b><br />
                        <b><span> a: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionTrueTitle)  </label> <br />
                        <b><span> b: </span></b><label>@Html.Raw(Model.QuizQuestionList[i].QuestionFalseTitle) </label>

                    </td>
                    <td>
                        <b>
                            <span> Option a is true</span>
                        </b><br />
                        @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuizIQuestionD)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSStudentQuizAttemptID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].LMSQuestionTypeID)
                            @Html.HiddenFor(Model => Model.QuizQuestionList[i].QuestionMarks)
    

                        @Html.CheckBoxFor(Model => Model.QuizQuestionList[i].AnswerTrueFalse, new { @class = "checkbox-inline ", @style = "width:20px;height:20px", })

                    </td>
                </tr>
    
            }
            }
        }


    </table>
            if (i < Model.QuizQuestionList.Count)
            {
    <div class="row col-lg-1 pull-right">

        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
            }
            
            }
@{ int X = Convert.ToInt32(ViewBag.Iindex);
  if (X == Model.QuizQuestionList.Count)
            {
using (Html.BeginForm("StudentsFinishQuizAttempt", "LmsStudentActiveCourses", FormMethod.Post))
                {
@Html.AntiForgeryToken()
            <div class="row" style="margin-top: -5em;"><hr style="border-top: 1px solid #6d9b90;" /></div>
            <h4>Are You Sure You Want To Submit This Quiz ?</h4><br />
<input type="submit" value="Finish" class="btn btn-primary" />
                }

}
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript">
    //Near checkboxes
    $('.rdaiocb').click(function () {
        $(this).siblings('input:checkbox').prop('checked', false);
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.rdaiocb').on('change', function () {
            $('.rdaiocb').not(this).prop('checked', false);
        });


    });

</script>



<style>
    tr {
        border: none !important;
    }

    table {
        border: none !important;
    }

    td {
        border: none !important;
        border-top: none !important;
    }
</style>


