@model CampusManagement.Models.AlumniUserEvent

@using (Html.BeginForm("Create", "AUEvents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Alumni User Events </span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4" hidden>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
        </div>
        <div class="col-sm-4">
            <label>Event Title</label>
            @Html.TextBoxFor(model => model.EventTitle, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.EventTitle, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-4">
            <label> Event Location </label>
            @Html.TextBoxFor(model => model.EventLocation, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EventLocation, "", new { @class = "text-danger" })
        </div>


        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12">
            <label>Event Details</label>
            @Html.TextAreaFor(model => model.EventDetails, new { @class = "form-control", @style = "height: 10em;" })
            @Html.ValidationMessageFor(model => model.EventDetails, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label> Event Start Date </label>
            <input type="date" name="Start_Date" class="form-control" required>
            @Html.ValidationMessageFor(model => model.EventStartDateTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label> Event Start Time </label>
            <input type="time" name="Start_time" class="form-control" required>
        </div>
        <div class="col-sm-3">
            <label>Event End Date</label>
            <input type="date" name="End_Date" class="form-control" required>
            @Html.ValidationMessageFor(model => model.EventEndDateTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <label> Event End Time </label>
            <input type="time" name="End_time" class="form-control" required>
        </div>



        <div class="col-sm-2">
            <input style="margin-top: 1.6em;" type="submit" value="Add" class="btn btn-primary" />
        </div>

    </div>
}



