
@model CampusManagement.Models.AlumniUserEventViewModel

@{
    ViewBag.Title = "Alumni Education Expos";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedAlumniUserEvents != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedAlumniUserEvents);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedAlumniUserEvents);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.AlumniUserEvent());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
            Title
        </th>
        <th>
            Detail
        </th>
        <th>
            Location
        </th>
        <th>
            Start Date Time
        </th>
        <th>
            End Date Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedAlumniUserEvents.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.AlumniUserEvents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.AlumniUserEventID })
            </td>
        </tr>
    }

</table>





