@model CampusManagement.Models.StatusViewModel

@{
    ViewBag.Title = "Status";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedStatus != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedStatus);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedStatus);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.Status());
    }
}

@using (Html.BeginForm("Index", "Status", FormMethod.Post))
{
    <div class="row" style="margin-top: -2em;margin-bottom: -2em;">
        <div class="col-sm-5 inner-addon right-addon">
            <input type="text" class="form-control" placeholder="search" name="Search" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" value="Search">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedStatus.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedStatus.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedStatus.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Status)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.StatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StatusID })
        </td>
    </tr>
    }

</table>
