@model CampusManagement.Models.SelectionCriteriasViewModel
@using CampusManagement.Models
@{
    ViewBag.Title = "Selection Criteria";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.SelectedSelectionCriteria != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedSelectionCriteria);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedSelectionCriteria);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.SelectionCriteria());
    }
}

<table class="table">
    <tr>
        <th>
            Batch Program
        </th>
        <th>
            Degree
        </th>
        <th>
            Percentage
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.SelectionCriterias)
    {
        <tr>
            <td>
                @{
                    ModelCMSContainer dbc = new ModelCMSContainer();
                    GetBatchProgramNameConcat_Result dv = dbc.GetBatchProgramNameConcat("", 0).FirstOrDefault(bp => bp.ID == item.BatchProgramID);
                }
                @Html.Raw(dv.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePercentage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.CriteriaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CriteriaID })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#DegreePercentage").ForceNumericWithDot();
        });
    </script>
}