@model CampusManagement.Models.LMSWeekViewModel

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedLMSWeeks != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedLMSWeeks);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditWeeks", Model.SelectedLMSWeeks);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("CreateWeeks", new CampusManagement.Models.LMSWeek());
    }
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SelectedLMSWeeks.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedLMSWeeks.TopicText)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SelectedLMSWeeks.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.LMSWeeks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit Weeks", "UpdateWeeks", new { id = item.LMSWeekID }) |
                @Html.ActionLink("Create Week Details", "Index", "LmsTeacherWeekDetails", new { LMSWeekID = item.LMSWeekID }, null)
            </td>
        </tr>
    }

</table>



