@model CampusManagement.Models.GetSelectionCriteria_ResultViewModel
@{
    ViewBag.Title = "Merit List & Approve Admission";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Search", new CampusManagement.Models.GetSelectionCriteria_Result());
    }
    int i = 1;
}

@using (Html.BeginForm("SaveAll", "MeritListApproveAdmissions", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="hdnDegreeID" value="@ViewBag.hdnDegreeID" />
    <input type="hidden" name="hdnBatchProgramID" value="@ViewBag.hdnBatchProgramID" />
    <input type="hidden" name="hdnFullName" value="@ViewBag.hdnFullName" />
    <input type="hidden" name="TotalRows" value="@Model.GetSelectionCriteria_Results.Count" />
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                Form #
            </th>
            <th>
                Applicant Name
            </th>
            <th>
                Father Name
            </th>
            <th>
                Status
            </th>
            <th>
                Qualification
            </th>
        </tr>

        @foreach (var item in Model.GetSelectionCriteria_Results)
        {
            string FormNoID = "txtFormNo_" + i;
            string hdnStatusName = "hdnStatusName_" + i;
            string chkIsSelected = "chkIsSelected_" + i;
            <tr>
                <td>
                    @{ 
                        if (item.StatusName == "Selected")
                        {
                            <input id="@chkIsSelected" name="@chkIsSelected" type="checkbox" checked style="width:20px;height:20px;" class="form-check-input col-sm-1" />
                        }
                        else
                        {
                            <input id="@chkIsSelected" name="@chkIsSelected" type="checkbox" style="width:20px;height:20px;" class="form-check-input col-sm-1" />
                        }
                    }
                </td>
                <td>
                    <input id="@FormNoID" name="@FormNoID" type="hidden" value="@item.FormNo" class="form-control col-sm-1" readonly />
                    @Html.DisplayFor(modelItem => item.FormNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherName)
                </td>
                <td>
                    <input id="@hdnStatusName" name="@hdnStatusName" type="hidden" value="@item.StatusName" class="form-control col-sm-1" readonly />
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @{ 
                        string criteria = item.Criteria.Replace("&lt;", "<").Replace("&gt;", ">");
                    }
                    @Html.Raw(criteria)
                </td>
            </tr>
            i++;
        }
    </table>
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save All" class="btn btn-success" />
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var dummyClassTotalMarks = $(".dummyClassTotalMarks");
            var dummyClassObtainedMarks = $(".dummyClassObtainedMarks");
            for (var j = 0; j < dummyClassTotalMarks.length; j++) {
                $("#" + dummyClassTotalMarks[j].id).ForceNumericWithDot();
                if ($("#" + dummyClassTotalMarks[j].id).val() == "" || $("#" + dummyClassTotalMarks[j].id).val() == null) {
                    $("#" + dummyClassTotalMarks[j].id).val("0");
                }
            }

            for (var j = 0; j < dummyClassObtainedMarks.length; j++) {
                $("#" + dummyClassObtainedMarks[j].id).ForceNumericWithDot();
                var DegreeName = $("#DegreeID option:selected").text();
                if (DegreeName != "Interview" && DegreeName != "Test") {
                    $("#" + dummyClassObtainedMarks[j].id).attr("readonly", true);
                }

                if ($("#" + dummyClassObtainedMarks[j].id).val() == "" || $("#" + dummyClassObtainedMarks[j].id).val() == null) {
                    $("#" + dummyClassObtainedMarks[j].id).val("0");
                }
            }

            $("#TotalMarks").blur(function () {
                var DegreeName = $("#DegreeID option:selected").text();
                if ($("#TotalMarks").val() != ""
                    && $("#TotalMarks").val() != "0"
                    && (DegreeName == "Interview" || DegreeName == "Test")) {
                    for (var j = 0; j < dummyClassTotalMarks.length; j++) {
                        $("#" + dummyClassTotalMarks[j].id).val($("#TotalMarks").val());
                    }
                }
            });
        });
    </script>
}