@model CampusManagement.Models.AlumniUserResume

@using (Html.BeginForm("Create", "AUResume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Add Resume</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.Partial("_MessageView")

    <div class="row">
        <div class="col-sm-4" hidden>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
        </div>

        <div class="col-sm-4 hidden">
            @Html.LabelFor(model => model.ResumeDocumentPath, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ResumeDocumentPath, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ResumeDocumentPath, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5">
            @Html.LabelFor(model => model.UploadFiles, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.UploadFiles, new { @class = "form-control", Type = "File", onchange = "readURL(this);", required = "required" })
            @Html.ValidationMessageFor(model => model.UploadFiles, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-2">
          <input style="margin-top: 1.6em;" type="submit" value="Add" class="btn btn-primary" />
        </div>

    </div>
}
