@model CampusManagement.Models.AlumniUserResume

@using (Html.BeginForm("Edit", "AUResume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2><span class="col-sm-12">Edit Alumni User Resume</span></h2>
    </div>
    <hr style="border-top: 1px solid #6d9b90;" />
    @Html.HiddenFor(model => model.AlumniUserResumeID)

    <div class="row">
        <div class="col-sm-4 hidden">
            @Html.LabelFor(model => model.ResumeDocumentPath, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ResumeDocumentPath, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ResumeDocumentPath, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.UploadFiles, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.UploadFiles, new { @class = "form-control", Type = "File", onchange = "readURL(this);" })
            @Html.ValidationMessageFor(model => model.UploadFiles, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12">
            @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Content("~/AUResume/Index")" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

