@model CampusManagement.Models.AlumniUserResumeViewModel

@{
    ViewBag.Title = "Learning Subjects ";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedAlumniUserResumes != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedAlumniUserResumes);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedAlumniUserResumes);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.AlumniUserResume());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
            File
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedAlumniUserResumes.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.AlumniUserResumes)
    {
        <tr>
            <td>
                <a href="@Url.Content(item.ResumeDocumentPath)" target="_blank">Download</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.AlumniUserResumeID })
                @*@Html.ActionLink("Create Weeks", "CreateWeeks", new { LMSSubjectLearningID = item.LMSSubjectLearningID }, null) |
                @Html.ActionLink("Learning Contents", "Index", "LmsWeeks", new { LMSSubjectLearningID = item.LMSSubjectLearningID }, null)*@
            </td>
        </tr>
    }

</table>


