
@model CampusManagement.Models.AlumniEducationExpoViewModel

@{
    ViewBag.Title = "Alumni Education Expos";
    ////Layout = "~/Views/Shared/_MyLayout.cshtml";
}


@{
    if (Model.SelectedAlumniEducationExpos != null)
    {
        if (Model.DisplayMode == "Delete")
        {
            Html.RenderPartial("Delete", Model.SelectedAlumniEducationExpos);
        }
        else if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("Edit", Model.SelectedAlumniEducationExpos);
        }
    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("Create", new CampusManagement.Models.AlumniEducationExpo());
    }
}


<table class="table">
    <tr>
        <th>
            <input id="AlumniUserID" name="AlumniUserID" value="@ViewBag.AlumniUserID" type="hidden" />
            Title
        </th>
        <th>
            Detail
        </th>
        <th>
            Location
        </th>
        <th>
            Start Date Time
        </th>
        <th>
            End Date Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedAlumniEducationExpos.IsActive)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.AlumniEducationExpos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationExpoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationExpoDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationExpoLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationExpoStartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationExpoEndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.AlumniEducationExpoID })
            </td>
        </tr>
    }

</table>




